<?php
    /**
     * @file      POS種別マスタ画面(View)
     * @author    millionet oota
     * @date      2016/06/30
     * @version   1.00
     * @note      POS種別マスタ画面
     */
?>
<!DOCTYPE html>
<html>
    <head>
        <?php
            $fileNames = array( 'default.css',
                                'common.js', 
                                'jquery-ui.min.js', 
                                'jquery-ui.css' );    // cssまたはｊｓファイルを拡張子付きで配列に記述 
            include("Common/HtmlHeader.php"); 
        ?>

        <script type="text/javascript">
            var lineInfo = null;
            var btnInfo  = null;
            var displayPageNo = 1;
            var displayRecordCnt = 10;
            var PosBrandItemInfo = null;
            var posBrandSort = null;
            var no_click_count = 0;
            var disporder_click_count = 0;
            var pos_brand_code_click_count = 0;
            var pos_brand_name_click_count = 0;
            var pos_brand_name_kana_click_count = 0;
            var registration_time_click_count = 0;
            var update_time_click_count = 0;
            var state_click_count = 0;
            
            $(document).ready(function()
            {
                /**
                 * 検索ボタンクリック
                 */
                $('#search').click(function()
                {
                    displayPageNo = 1;

                    // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                    var data = {
                                  displayPageNo : displayPageNo,
                                  displayRecordCnt : displayRecordCnt,
                                  searchPosBrandCode : $('#posBrandCode').val(),
                                  searchPosBrandName : $('#posBrandName').val(),
                                  searchDelF : document.getElementById("delF").checked,
                                  sortConditions  : 0
                               };
                    var path = 'index.php?param=PosBrand/search&home=1';

                    // データ更新
                    setDataForAjax( data, path );

                    //サブミット後、ページをリロードしないようにする
                    return false;
                });

                /**
                 * 登録ボタンクリック
                 */
                $('#addForm').submit(function(event)
                {
                    event.preventDefault();
                    document.getElementById("dialog_add").textContent='<?php hsc(SystemParameters::$NEW_DIALOG_MSG); ?>';
                    
                    $("#dialog_add").dialog('open');

                    //サブミット後、ページをリロードしないようにする
                    return false;
                });

                /**
                 * 更新/削除ボタンクリック
                 */
                $('#modForm').submit(function(event)
                {
                    event.preventDefault();
                    if( btnInfo === '<?php hsc($Log->getMsgLog("MSG_BASE_0802")); ?>' )
                    {
                        document.getElementById("dialog_mod").textContent='<?php hsc(SystemParameters::$UPDATE_DIALOG_MSG); ?>';
                    }
                    else
                    {
                        document.getElementById("dialog_mod").textContent='<?php hsc(SystemParameters::$DELETE_DIALOG_MSG); ?>';
                    }
                    
                    $("#dialog_mod").dialog('open');

                    //サブミット後、ページをリロードしないようにする
                    return false;
                });
                
            });

            /*
             * editRow: 編集ボタン該当行の内容を入力・編集またモード切り替え
             */
            function editRow(obj)
            {

                var objTR = obj.parentNode.parentNode.parentNode;
                var rowId = objTR.sectionRowIndex;
                var rowCount = nameTable.rows.length - 1;

                // モードの切り替えはボタンの値で判定	
                $('#sDisp' + rowId).css('display' , 'none');
                $('#sDisp-edit' + rowId).val($('#sDisp').text()).css('display' , '');
                $('#sPosBrandCode' + rowId).css('display' , 'none');
                $('#sPosBrandCode-edit' + rowId).val($('#sPosBrandCode').text()).css('display' , '');
                $('#sPosBrandName' + rowId).css('display' , 'none');
                $('#sPosBrandName-edit' + rowId).val($('#sPosBrandName').text()).css('display' , '');
                $('#sPosBrandNameKana' + rowId).css('display' , 'none');
                $('#sPosBrandNameKana-edit' + rowId).val($('#sPosBrandNameKana').text()).css('display' , '');
                $('#edtBtn' + rowId).css('display' , 'none');
                $('#edtBtn-mod' + rowId).css('display' , '');
                $('#edtBtn-del' + rowId).css('display' , '');
                $('#add').prop('disabled', true);
                for(var i = 1; i <= rowCount; i++)
                {
                    $('#edtBtn' + i).prop('disabled', true);
                }
            }

            /**
             * 行情報を設定
             */
            function setLineInfo(thisLineInfo, thisBtnInfo)
            {
                lineInfo = thisLineInfo;
                btnInfo  = thisBtnInfo;
                return false;
            }

            /**
             * ソート処理
             */
            function setColumnInfo(thisItemInfo)
            {
               PosBrandItemInfo = thisItemInfo;

                posBrandSort = 0;
                // No
                if(PosBrandItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0810')); ?>")
                {
                    no_click_count++;
                    if((no_click_count % 2) != 0)
                    {
                        posBrandSort = 1;
                    }
                    else
                    {
                        posBrandSort = 2;
                    }
                }
                // 表示順
                else if(PosBrandItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0811')); ?>")
                {
                    disporder_click_count++;
                    if((disporder_click_count % 2) != 0)
                    {
                        posBrandSort = 3;
                    }
                    else
                    {
                        posBrandSort = 4;
                    }
                }
                // POS種別コード
                else if(PosBrandItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0820')); ?>")
                {
                     
                    pos_brand_code_click_count++;
                    if((pos_brand_code_click_count % 2) != 0)
                    {
                        posBrandSort = 5;
                    }
                    else
                    {
                        posBrandSort = 6;
                    }
                }
                // POS種別名
                else if(PosBrandItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0821')); ?>" )
                {
                    pos_brand_name_click_count++;
                    if((pos_brand_name_click_count % 2) != 0)
                    {
                        posBrandSort = 7;
                    }
                    else
                    {
                        posBrandSort = 8;
                    }
                }
                // よみがな
                else if(PosBrandItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0812')); ?>" )
                {
                    pos_brand_name_kana_click_count++;
                    if((pos_brand_name_kana_click_count % 2) != 0)
                    {
                        posBrandSort = 9;
                    }
                    else
                    {
                        posBrandSort = 10;
                    }
                }
                // 初回登録日
                else if(PosBrandItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0813')); ?>" )
                {
                    registration_time_click_count++;
                    if((registration_time_click_count % 2) != 0)
                    {
                        posBrandSort = 11;
                    }
                    else
                    {
                        posBrandSort = 12;
                    }
                }
                // 更新日
                else if(PosBrandItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0814')); ?>" )
                {
                    update_time_click_count++;
                    if((update_time_click_count % 2) != 0)
                    {
                        posBrandSort = 13;
                    }
                    else
                    {
                        posBrandSort = 14;
                    }
                }
                // 状態
                else if(PosBrandItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0815')); ?>" )
                {
                    state_click_count++;
                    if((state_click_count % 2) != 0)
                    {
                        posBrandSort = 15;
                    }
                    else
                    {
                        posBrandSort = 16;
                    }
                }
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};

                var data = {
                              displayPageNo : displayPageNo,
                              displayRecordCnt : displayRecordCnt,
                              searchposBrandCode : $('#posBrandCode').val(),
                              searchposBrandName : $('#posBrandName').val(),
                              searchDelF : document.getElementById("delF").checked,
                              sortConditions : posBrandSort 
                           };
                var path = 'index.php?param=PosBrand/search&home=1';
  
                // データ更新
                setDataForAjax( data, path );


                //サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 表示レコード数選択
             */
            function displayRecord(recordCnt)
            {
                displayRecordCnt = recordCnt;
                displayPageNo = 1;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              displayPageNo : displayPageNo,
                              displayRecordCnt : displayRecordCnt,
                              searchPosBrandCode : $('#posBrandCode').val(),
                              searchPosBrandName : $('#posBrandName').val(), 
                              searchDelF : document.getElementById("delF").checked,
                              sortConditions : posBrandSort 
                           };
                var path = 'index.php?param=PosBrand/search&home=1';
                // データ更新
                setDataForAjax( data, path );

                //サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 表示ページ数選択
             */
            function displayPage(pageCnt)
            {
                displayPageNo = pageCnt;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              displayPageNo : displayPageNo,
                              displayRecordCnt : displayRecordCnt,
                              searchPosBrandCode : $('#posBrandCode').val(),
                              searchPosBrandName : $('#posBrandName').val(), 
                              searchDelF : document.getElementById("delF").checked,
                              sortConditions : posBrandSort 
                           };
                var path = 'index.php?param=PosBrand/search&home=1';
                // データ更新
                setDataForAjax( data, path );

                //サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 新規作成データの設定
             */
            function setAddData()
            {

                displayPageNo = 1;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              displayPageNo : displayPageNo,
                              displayRecordCnt : displayRecordCnt,
                              searchPosBrandCode : $('#posBrandCode').val(),
                              searchPosBrandName : $('#posBrandName').val(),
                              searchDelF : document.getElementById("delF").checked,
                              sortConditions : posBrandSort,
                              posBrandCode : $('#posBrandNewCode').val(),
                              posBrandName : $('#posBrandNewName').val(),
                              posBrandNameKana : $('#posBrandNewNameKana').val(),
                              dispOrder : $('#newDispOrder').val(),
                              token : $('#token').val()
                           };
                var path = 'index.php?param=PosBrand/add&home=1';

                // データ更新
                setDataForAjax( data, path );

                // 新規登録エリア設定
                setInputArea();

            }

            /**
             * 更新用データの設定
             */
            function setModData()
            {
                var objTR = lineInfo.parentNode.parentNode.parentNode;
                var rowId = objTR.sectionRowIndex;
                var data = null;
                var path = '';
                if( btnInfo === '<?php hsc($Log->getMsgLog("MSG_BASE_0802")); ?>' )
                {
                    path = 'index.php?param=PosBrand/mod';
                }
                else
                {
                    path = 'index.php?param=PosBrand/del&home=1';
                }

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                data = {
                          displayPageNo : displayPageNo,
                          displayRecordCnt : displayRecordCnt,
                          searchPosBrandCode : $('#posBrandCode').val(),
                          searchPosBrandName : $('#posBrandName').val(),
                          searchDelF : document.getElementById("delF").checked,
                          sortConditions : posBrandSort,
                          posBrandID : $('#posBrandIdMod' + rowId).val(),
                          posBrandCode : $('#posBrandCodeMod' + rowId).val(),
                          posBrandName : $('#posBrandNameMod'  + rowId).val(),
                          posBrandNameKana : $('#posBrandNameKanaMod'  + rowId).val(),
                          dispOrder : $('#sDispMod'  + rowId).val(),
                          updateTime : $('#updateTime'  + rowId).val(),
                          token : $('#token').val()
                       };

                // データ更新
                setDataForAjax( data, path, 'jquery-replace-ajax', false );
                
            }

            /**
             * 更新キャンセル
             */
            function cancel()
            {
                var data = null;
                var path = '';

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                data = {
                          displayPageNo : displayPageNo,
                          displayRecordCnt : displayRecordCnt,
                          searchPosBrandCode : $('#posBrandCode').val(),
                          searchPosBrandName : $('#posBrandName').val(),
                          searchDelF : document.getElementById("delF").checked,
                          sortConditions : posBrandSort,
                          token : $('#token').val()
                       };

                // 検索する為、パスを変更する
                path = 'index.php?param=PosBrand/search&home=1';

                // データ更新
                setDataForAjax( data, path );
                
                // 新規データをクリア
                $('#posBrandNewCode').val('');
                $('#posBrandNewName').val('');
                $('#posBrandNewNameKana').val('');
                $('#newDispOrder').val('');
            }

            /**
             * 新規登録エリア設定
             */
            function setInputArea()
            {
                var data = null;
                var path = '';

                // 検索用セクションリスト更新用パス
                path = 'index.php?param=PosBrand/inputArea&home=1';

                // データ更新
                setDataForAjax( data, path, "jquery-replace-input-ajax" );
            }
            
        </script>

    </head>
    <body>
<?php 
if( isset($_GET['home']) ) {
    if( "1" ==  $_GET['home'] ){
        include("../home/View/Common/PageHeader.php");
    }else{
        include("Common/PageHeader.php");
    }
}else{
        include("Common/PageHeader.php");
}
?>
        <!-- Site -->
        <div id="sb-site">
            <!-- パンくずリスト -->
            <?php include("Common/Breadcrumb.php"); ?>
            <form id="searchForm" name="searchForm" method="post" action="index.php?param=PosBrand/search&home=1" >
            <input type="hidden" name="companyID" value="<?php hsc( $_SESSION['COMPANY_ID'] ); ?>">
            <!-- serchBoardArea -->
            <div class="serchBoardArea">
                <table id="serchTable">
                    <tr>
                        <th id="serchTableTitle" align="center" width="80">部門コード</th>
			<td id="serchTableItem">
                            <input type="text" size="7" name="posBrandCode" id="posBrandCode" value="">
                        </td>
			<th id="serchTableTitle" align="center" width="80">部門名</th>
			<td id="serchTableItem">
                            <input type="text" size="15" name="posBrandName" id="posBrandName" value="">
                        </td>
			<th id="serchTableTitle" align="center" width="80">部門名カナ</th>
			<td id="serchTableItem">
                            <input type="text" size="15" name="posBrandName" id="posBrandName" value="">
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.serchBoardArea -->

            <!-- serchButtonArea -->
            <div class="serchButtonArea">
                <p align=center>
                    <input type="submit" id="search" name="search" href="#" value="検索" class="serch">
                </p>
            </div>
            <!-- /.serchButtonArea -->
            </form>

            <!-- 　結果一覧エリア -->
            <form id="modForm" name="modForm" >
                <?php include("DepartmentTablePanel.html"); ?>
            </form>
            <!-- /.結果一覧エリア -->
            
            <!-- 　新規入力エリア -->
            <form id="addForm" name="addForm">
                <?php include("DepartmentInputPanel.html"); ?>
            </form>
            <!-- /.新規入力エリア -->

            <br />
            <script type="text/javascript" src="../jquery/js/scrolltopcontrol2.js"></script> <!--スクロールしながらページのトップに戻る-->
        </div><!-- /#sb-site -->
        
        <!-- ダイアログ用エリア -->
        <?php include("../FwCommon/View/Dialog.php"); ?>
    </body>
</html>