<?php
    /**
     * @file      部門別実績画面(View)
     * @author    millionet montagne
     * @date      2019/05/22
     * @version   1.00
     * @note      
     */
?>
<!DOCTYPE html>
<html>
    <head>
        <?php
            $fileNames = array('default.css'); // cssまたはｊｓファイルを拡張子付きで配列に記述
            include("../profit/View/Common/HtmlHeader.php");
        ?>

        <script src="../js/profit/jquery/jquery.ui.ympicker.js" ></script>
        <script src="../js/profit/jquery/jquery-migrate-1.0.0.js" ></script>
        <script src="../js/profit/jquery/datepicker-ja.js" ></script>
        <script src="../js/autofil_v<?php echo $_SESSION['AUTOFIL_VER'] ?>.js" ></script>
        <!-- modal script-->
        <script src="../js/modal/modal.js" ></script>
        <link rel="stylesheet" href="../css/modal/modal.css" >
        
        <script type="text/javascript">
            Sizelist       = '<?php echo json_encode(json_encode($Sizelist)); ?>';
            A_Sizelist     = JSON.parse(Sizelist.slice(1,-1));
            porg_id_list        = '<?php echo json_encode(json_encode($org_id_list)); ?>';
            data_org            = JSON.parse(porg_id_list.slice(1,-1)); 
            ptypdata            = '<?php echo json_encode($data); ?>';
            type_payment_list   = ['gift','credit','house','electr','kake','point','transport','id','edy','nanaco','waon','quicpay'];
            A_Data              = JSON.parse(ptypdata); 
            asc = [];
            // create data set for day case, month case and year case
            A_Data_day = []; // day
            A_Data_month = []; // month
            A_Data_year = [];  // year
            // fill month data and year data
            cumul=[];
            cumul["month"]=[];
            cumul["year"]=[];
            for(i=0;i<A_Data.length;i++){
                date_day    = A_Data[i]["proc_date"];
                date_month  = A_Data[i]["proc_date"].substr(0,6); 
                date_year   = A_Data[i]["proc_date"].substr(0,4);
                reji_no     = A_Data[i]["reji_no"];
                org_id      = A_Data[i]["org_id"];
                // day
                if(!A_Data_day[date_day]){
                    A_Data_day[date_day]=[];
                }
                if(!A_Data_day[date_day][org_id]){
                    A_Data_day[date_day][org_id] = [];
                }
                if(!A_Data_day[date_day][org_id][reji_no]){
                    A_Data_day[date_day][org_id][reji_no] = JSON.parse(JSON.stringify(A_Data[i]));
                }                 
                // month
                if(!cumul["month"][date_month]){
                    cumul["month"][date_month]              =[];
                }
                if(!cumul["month"][date_month][org_id]){
                    cumul["month"][date_month][org_id]      = [];
                }
                if(!cumul["month"][date_month][org_id][reji_no]){
                    cumul["month"][date_month][org_id][reji_no] = JSON.parse(JSON.stringify(A_Data[i]));
                }else{
                    row_month_loop = cumul["month"][date_month][org_id][reji_no]; 
                    for(j=0;j<type_payment_list.length;j++){
                        cnt_id      = type_payment_list[j]+"_cnt";
                        total_id    = type_payment_list[j]+"_total";
                        profit_id   = type_payment_list[j]+"_profit";
                        row_month_loop[cnt_id]      = Number(row_month_loop[cnt_id]) + Number(A_Data[i][cnt_id]);
                        row_month_loop[total_id]    = Number(row_month_loop[total_id]) + Number(A_Data[i][total_id]);
                        if(A_Data[i][profit_id]){
                            row_month_loop[profit_id]   = Number(row_month_loop[profit_id]) + Number(A_Data[i][profit_id]);
                        }
                    }                            
                }
                
                // year
                if(!cumul["year"][date_year]){
                    cumul["year"][date_year]              =[];
                }
                if(!cumul["year"][date_year][org_id]){
                    cumul["year"][date_year][org_id]      = [];
                }
                if(!cumul["year"][date_year][org_id][reji_no]){
                    cumul["year"][date_year][org_id][reji_no] = JSON.parse(JSON.stringify(A_Data[i]));
                }else{
                    row_year_loop = cumul["year"][date_year][org_id][reji_no]; 
                    for(j=0;j<type_payment_list.length;j++){
                        cnt_id      = type_payment_list[j]+"_cnt";
                        total_id    = type_payment_list[j]+"_total";
                        profit_id   = type_payment_list[j]+"_profit";
                        row_year_loop[cnt_id]      = Number(row_year_loop[cnt_id]) + Number(A_Data[i][cnt_id]);
                        row_year_loop[total_id]    = Number(row_year_loop[total_id]) + Number(A_Data[i][total_id]);
                        if(A_Data[i][profit_id]){
                            row_year_loop[profit_id]   = Number(row_year_loop[profit_id]) + Number(A_Data[i][profit_id]);
                        }
                    }                            
                }                 
            }
            A_Data_month = cumul["month"]; // month
            A_Data_year  = cumul["year"];  // year 
    
            working_data = [];
        </script>
        <script type="text/javascript">
            var date_mode = "date";
            var org_list = "";
            
            function numberWithCommas(x,precision = 0) {
                // x : value
                // precision : precision to return default 0 (no decimal: 99) | 1 => 99.9 | 2 => 99.99 ...
                x = Math.round(Number(x)*Math.pow(10,precision))/Math.pow(10,precision);
                var parts = x.toString().split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                if(precision){
                    if(!parts[1]){
                        parts[1] = 0;
                    }                    
                    parts[1]=(parts[1]+"0".repeat(precision)).substr(0,precision);
                }              
                return parts.join(".");
            }
            
            /**
             * DatePickerを設定
             */
            $(function()
            {
                $( "#start_date, #end_date" ).datepicker({
                    numberOfMonths: 2,
                    showCurrentAtPos: 1,
                    showButtonPanel: true,
                    dateFormat: 'yy/mm/dd'
                });
            });

            $(function() {
                $("#start_dateM").ympicker({
                    altField: "#start_dateM" //リターンセットUI IDorCLASS名
                    ,altFormat: "yy/mm" //リターン日付形式
                    ,monthNamesShort: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"]  //カレンダー表示月形式
                    ,showAnim: "slideDown" //表示アニメーション形式
                    ,yearRange: "c-2:c+3" //プルダウン年範囲
                });
            });
            $(function() {
                $("#end_dateM").ympicker({
                    altField: "#end_dateM" //リターンセットUI IDorCLASS名
                    ,altFormat: "yy/mm" //リターン日付形式
                    ,monthNamesShort: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"]  //カレンダー表示月形式
                    ,showAnim: "slideDown" //表示アニメーション形式
                    ,yearRange: "c-2:c+3" //プルダウン年範囲
                });
            });
            $(function() {
                $("#end_year, #start_year").datepicker({
                    dateFormat: "yy",
                    changeYear: true
                    ,changeMonth: false
                    ,showButtonPanel: false
                    ,onClose: function(dateText, inst) { 
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        $(this).datepicker('setDate', new Date(year, 1));
                    }
                }).focus(function(){
                    document.getElementsByClassName("ui-datepicker-calendar")[0].style.display="none";
                    document.getElementsByClassName("ui-datepicker-month")[0].style.display="none";
                    document.getElementsByClassName("ui-datepicker-prev")[0].style.display="none";
                    document.getElementsByClassName("ui-datepicker-next")[0].style.display="none";
                } )                ;
            });
            function radio_change_management(){
                var prev = [];
                document.getElementById("search_param").addEventListener('change', function(e) {
                    //console.log('Previous:', prev[e.target.name] ? prev[e.target.name].value : null);
                    console.log(e);
                    if(e.target.name === "period"){
                        if(!prev[e.target.name]){
                            old_id_start="start_date";
                            old_id_end="end_date";                              
                        }else if(prev[e.target.name].value === "day"){
                            old_id_start="start_date";
                            old_id_end="end_date";                            
                        }else if(prev[e.target.name].value === "month"){
                            old_id_start="start_dateM";
                            old_id_end="end_dateM";  
                        }else if(prev[e.target.name].value === "year"){
                            old_id_start="start_year";
                            old_id_end="end_year";
                        }
                        if(!prev[e.target.name]){
                            prev[e.target.name] = {value :'day'};
                        }
                        block_prev_id = 'bloc_'+prev[e.target.name].value;
                        block_id      = 'bloc_'+e.target.id;
                        document.getElementById(block_prev_id).hidden=true;
                        document.getElementById(old_id_start).value="";
                        document.getElementById(old_id_end).value="";                       
                        if(e.target.value === "day"){
                            date_mode = "date";
                            new_id_start="start_date";
                            new_id_end="end_date"; 
                            today = new Date();
                            document.getElementById(new_id_end).value = today.toISOString().slice(0,10).replace(/-/g,"\/"); 
                            today.setMonth(today.getMonth()-1);
                            document.getElementById(new_id_start).value = today.toISOString().slice(0,10).replace(/-/g,"\/");                            
                        }else if(e.target.value === "month"){
                            date_mode = "dateM";
                            new_id_start="start_dateM";
                            new_id_end="end_dateM";
                            today = new Date();
                            document.getElementById(new_id_end).value = today.toISOString().slice(0,7).replace(/-/g,"\/"); 
                            today.setMonth(today.getMonth()-1);
                            document.getElementById(new_id_start).value = today.toISOString().slice(0,7).replace(/-/g,"\/");                                                        
                        }else if(e.target.value === "year"){
                            date_mode = "year";
                            new_id_start="start_year";
                            new_id_end="end_year";
                            today = new Date();
                            document.getElementById(new_id_end).value = today.toISOString().slice(0,4).replace(/-/g,"\/"); 
                            today.setFullYear(today.getFullYear()-1);
                            document.getElementById(new_id_start).value = today.toISOString().slice(0,4).replace(/-/g,"\/");                                                                                    
                        }         
                        document.getElementById(block_id).hidden=false;                  
                    }else if(e.target.name === "org_r"){
                        if(!prev[e.target.name]){
                            prev[e.target.name]={value:""};
                        }
                        document.getElementById("org_select").disabled=true;
                        if(e.target.value === "" ){
                            document.getElementById("org_select").disabled=false;
                        }  
                    }
                    prev[e.target.name] = e.target;
                });
            }
            function csv_print(e){
                elem_table = document.getElementById("table_id");
                elem_tr_list = elem_table.getElementsByTagName("tr");
                data_send = [];
                var csv_data_o = {};
                var row_nb = 0;
                for(i=0;i<elem_tr_list.length;i++){
                    looprow = elem_tr_list[i];
                    if( looprow.childElementCount ===1 ){
                        continue;
                    }
                    row_nb += 1; 
                    if(i === 0 ){
                        csv_data_o['"'+row_nb+'"'] = looprow.innerHTML.replace(/,/g,"").replace((/  |\r\n|\n|\r/gm),"").replace(/<\/th><th>/g,',').replace(/<u>/g,',').replace(/<.*?>/g,'').replace(/^,/,'').replace(' ▼','').replace(' ▲','');
                    }else{
                        csv_data_o['"'+row_nb+'"'] = looprow.innerHTML.replace(/,/g,"").replace((/  |\r\n|\n|\r/gm),"").replace(/<\/td><td>/g,'","').replace(/<\/td>/g,'"').replace(/<td>/g,'"');
                    }
                }
                data_send["csv_data"] = JSON.stringify(csv_data_o);
                //console.log(data_send);
                //data_sendを送ります。
                spath       = 'index.php?param=LedgerSheetCustomerPayementResults/csvoutput';
                //console.log(spath);
                setDataForAjax( data_send, spath ,'ajaxScreenUpdate' );                
            }
            function select_paymenttype(){
                if(all_none.checked){
                    ckeckbox_list = paymenttype_d.getElementsByTagName('INPUT');
                    for(i=0;i<ckeckbox_list.length;i++){
                        ckeckbox_list[i].checked = true;
                    }
                }else{
                    ckeckbox_list = paymenttype_d.getElementsByTagName('INPUT');
                    for(i=0;i<ckeckbox_list.length;i++){
                        ckeckbox_list[i].checked = false;
                    }                    
                }
            }
            function search_data(){
                
                //clear sort
                asc=[];
                elem_table_id = document.getElementById("table_id");
                elem_thead = elem_table_id.getElementsByTagName('THEAD')[0];
                elem_th = elem_thead.getElementsByTagName('TH');
                for(i=0;i<elem_th.length;i++){
                    elem_th[i].innerHTML = elem_th[i].innerHTML.replace(' ▲',"").replace(' ▼',"");
                }                
                
                // check checkbox at list 1 is checked
                elem_paymenttype = document.getElementById("paymenttype_d");
                elem_clas_input = elem_paymenttype.getElementsByTagName("input");
                for(i=1;i<elem_clas_input.length;i++){
                    //console.log(elem_clas_input[i].checked);
                    if(elem_clas_input[i].checked){
                        break;
                    }else if( i === elem_clas_input.length-1 ){
                        alert("支払方法が選択されていません。");
                        elem_clas_input[0].focus();
                        return;
                    }
                }

                date_str_id = "start_"+date_mode;
                date_end_id = "end_"+date_mode;
                loop_reji_no="";
                loop_date="";
                loop_org_id="";
                period_val = document.querySelector('input[name="period"]:checked').value;
                elem_str_date = document.getElementById(date_str_id).value.replace(/\//g,"");
                elem_end_date = document.getElementById(date_end_id).value.replace(/\//g,"");
                org_select_val = document.getElementById("org_select").value;
                if(elem_str_date === ""){
                    alert("営業期間を入力してください。");
                    document.getElementById(date_str_id).focus();
                    return;                    
                }else if(elem_end_date === ""){
                    alert("営業期間を入力してください。");
                    document.getElementById(date_end_id).focus();
                    return;
                }
                if(elem_str_date > elem_end_date){
                    alert("期間指定が不正です。開始日が終了日を超えています。");
                    document.getElementById(date_str_id).value="";
                    document.getElementById(date_str_id).focus();
                    return;
                }
                if(period_val === "month"){
                    temp_data =A_Data_month;
                }else if(period_val === "year"){
                    temp_data = A_Data_year;
                }else{
                    temp_data =A_Data_day;
                }
                elem_org = document.querySelector('input[name="org_r"]:checked');
                if(elem_org.value === ""){
                    if(org_list===""){
                        alert("店舗を入力してください。");
                        return;
                    }
                }
                working_data = [];
                // date
                temp_data_key = Object.keys(temp_data);
                for( i=0;i<temp_data_key.length;i++ ){
                    loop_date = temp_data_key[i];
                    //console.log("loop_date: "+loop_date+" / elem_str_date: "+elem_str_date );
                    if( loop_date < elem_str_date ){
                        continue;
                    }
                    if( loop_date > elem_end_date ){
                        break;
                    }
                    // org_id
                    org_id_key = Object.keys(temp_data[loop_date]);                    
                    for(k=0;k<org_id_key.length;k++){
                        loop_org_id = org_id_key[k];
                        if(elem_org.value === ""){
                            //console.log(isNaN(org_select_val));
                            if(isNaN(org_select_val)){
                                if(org_list.indexOf(loop_org_id) === -1){
                                    //console.log("exit1");
                                    continue;
                                }
                            }else if(loop_org_id !== org_select_val){
                                continue;
                            }
                        }
                        if(!working_data[loop_date]){
                            working_data[loop_date] = [];
                        }
                        if(!working_data[loop_date][loop_org_id]){
                            working_data[loop_date][loop_org_id] = [];
                        }                        
                        working_data[loop_date][loop_org_id] = temp_data[loop_date][loop_org_id];
                    }
                }
                //console.log(working_data);
                if(working_data.length === 0 ){
                    alert("データがありません。");
                    document.getElementById("btn_csv").hidden = true;
                }else{
                    document.getElementById("btn_csv").hidden = false;
                }
                show_data(working_data);
            };           
            
            function show_data(t_data){
                //console.log(t_data);
                elem_tbody=document.getElementById("table_body");
                elem_tbody.innerHTML="";
                period_val = document.querySelector('input[name="period"]:checked').value;
                org_r_val = document.querySelector('input[name="org_r"]:checked').value;
                paytype_list = [];
                // checkbox val
                chbx_list = paymenttype_d.getElementsByTagName('INPUT');
                for(i=0;i<chbx_list.length;i++){
                    if(chbx_list[i].checked　&& chbx_list[i].id !== 'all_none'){
                        paytype_list[paytype_list.length] = chbx_list[i].id; 
                    }
                }
                cumul = [];
                cumul['org'] = [];
                cumul['total'] = [];
                cumul['org']['cnt']        = 0;
                cumul['org']['total']      = 0;
                cumul['org']['profit']     = 0;
                
                cumul['total']['cnt']        = 0;
                cumul['total']['total']      = 0;
                cumul['total']['profit']     = 0;                  


                function insert_row(row){
                    //console.log("row to print");
                    //console.log(row);
                    // a finir round a faire, format des donnees (proc_date,sale_total,sale_profit,sale_amount,cust_amount)
                    trow     = elem_tbody.insertRow();
                    if(row["background"]){
                        //console.log(row);
                        trow.style.backgroundColor = row["background"];
                    }
                    date_val = trow.insertCell(0);
                    org_val  = trow.insertCell(1);
                    reji_no_val = trow.insertCell(2);
                    payementtype_val = trow.insertCell(3);
                    cnt_val  = trow.insertCell(4);
                    total_val = trow.insertCell(5); 
                    profit_val = trow.insertCell(6);
                    if(period_val=== "day"){
                        date_val.innerHTML = row["proc_date"].replace(/(\d{4})(\d{2})(\d{2})/g, '$1/$2/$3');
                    }else if (period_val=== "month"){
                        date_val.innerHTML = row["proc_date"].replace(/(\d{4})(\d{2})/g, '$1/$2');
                    }else if(period_val=== "year"){
                        date_val.innerHTML = row["proc_date"];
                    }
                    org_val.innerHTML       = row['org_nm'];
                    reji_no_val.innerHTML   = row['reji_no'];
                    payementtype_val.innerHTML = row['payementtype'];
                    cnt_val.innerHTML       = numberWithCommas(row['cnt']);
                    total_val.innerHTML     = numberWithCommas(row['total']);
                    if(row['profit'] !== ''){
                        profit_val.innerHTML    = numberWithCommas(row['profit']);
                    }
                }
                function insert_footer(row){
                    elem_tfoot=document.getElementById("table_foot");
                    elem_tfoot.innerHTML="";
                    elem_tfoot.innerHTML="<tr><th></th></tr>";
                    trow     = elem_tfoot.insertRow();
                    date_val = trow.insertCell(0);
                    org_val  = trow.insertCell(1);
                    reji_no_val = trow.insertCell(2);
                    payementtype_val = trow.insertCell(3);
                    cnt_val  = trow.insertCell(4);
                    total_val = trow.insertCell(5); 
                    profit_val = trow.insertCell(6);
                    
                    date_val.innerHTML      = row['proc_date'];
                    org_val.innerHTML       = row['org_nm'];
                    reji_no_val.innerHTML   = row['reji_no'];
                    payementtype_val.innerHTML = row['payementtype'];
                    cnt_val.innerHTML       = numberWithCommas(row['cnt']);
                    total_val.innerHTML     = numberWithCommas(row['total']);
                    if(row['profit'] !== ''){
                        profit_val.innerHTML    = numberWithCommas(row['profit']);
                    }

                }
                
                // ################ loop date
                t_data_key=Object.keys(t_data);
                if(asc["proc_date"]){
                    if(asc["proc_date"] === -1){
                        // Desc
                        t_data_key.reverse();
                    }
                }                    
                for(i=0;i<t_data_key.length;i++){
                    loop_date = t_data_key[i];
                    proc_date = loop_date;
                    //t_cumul_data["calc"]=[];

                    // ################ loop org_id
                    org_id_key = Object.keys(t_data[loop_date]);
                    // sort by org_id
                    if(asc["org_id"]){
                        if(asc["org_id"] === -1){
                            // Desc
                            org_id_key.reverse();
                        }
                    }                         
                    for(j=0;j<org_id_key.length;j++){
                        org_id=org_id_key[j];
                        cumul['org']['cnt']        = 0;
                        cumul['org']['total']      = 0;
                        cumul['org']['profit']     = 0;                        
                        // ################ loop reji_no
                        reji_no_key = Object.keys(t_data[loop_date][org_id]);
                        // sort by reji_no
                        if(asc["reji_no"]){
                            if(asc["reji_no"] === -1){
                                // Desc
                                reji_no_key.reverse();
                            }
                        }                        
                        for(k=0;k<reji_no_key.length;k++){
                            loop_reji = reji_no_key[k];
                            loop_row    = t_data[loop_date][org_id][loop_reji];
                            cnt_tot     = 0;
                            total_tot   = 0;
                            profit_tot  = 0;
                            org_nm       = '';
                            if(k === 0){
                                org_nm = loop_row['org_nm'];
                            }
                            for(l=0;l<paytype_list.length;l++){
                                i_row = [];
                                cnt_id      = paytype_list[l]+"_cnt";
                                total_id    = paytype_list[l]+"_total";
                                profit_id   = paytype_list[l]+"_profit";                                     
                                if(l === 0){                                         
                                    i_row['proc_date']  = proc_date;
                                    i_row['org_nm']     = org_nm;
                                    i_row['reji_no']    = loop_row['reji_no'];
                                }else{
                                    i_row['proc_date']  = '';
                                    i_row['org_nm']     = '';
                                    i_row['reji_no']    = '';
                                }
                                i_row['payementtype'] =  document.getElementById(paytype_list[l]).value;
                                i_row['cnt']        = Number(loop_row[cnt_id]);
                                i_row['total']      = Number(loop_row[total_id]);
                                if(loop_row[profit_id]){
                                    i_row['profit'] = Number(loop_row[profit_id]);
                                    profit_tot     += i_row['profit'];
                                }else{
                                    i_row['profit'] = '';
                                }
                                insert_row(i_row);
                                proc_date = '';
                                cnt_tot     += i_row['cnt'];
                                total_tot   += i_row['total'];
                                                                    
                            }
                            // 合計
                            i_row = [];
                            i_row["background"] = "lightgrey" ;
                            i_row['proc_date']  = '';
                            i_row['org_nm']     = '';
                            i_row['reji_no']    = '合計';
                            i_row['payementtype'] = '';
                            i_row['cnt']        = cnt_tot;
                            i_row['total']      = total_tot;
                            i_row['profit']     = profit_tot;
                            insert_row(i_row);
                            cumul['org']['cnt']        += i_row['cnt'];
                            cumul['org']['total']      += i_row['total'];
                            cumul['org']['profit']     += i_row['profit'];
                        } // end loop row
                        // 店舗合計
                        i_row = [];
                        i_row["background"] = "darkgray" ;
                        i_row['proc_date']  = '';
                        i_row['org_nm']     =  t_data[loop_date][org_id][loop_reji]['org_nm']+'合計';
                        i_row['reji_no']    = '';
                        i_row['payementtype'] = '';
                        i_row['cnt']        = cumul['org']['cnt'];
                        i_row['total']      = cumul['org']['total'];
                        i_row['profit']     = cumul['org']['profit'];
                        insert_row(i_row);
                        cumul['total']['cnt']        += i_row['cnt'];
                        cumul['total']['total']      += i_row['total'];
                        cumul['total']['profit']     += i_row['profit'];
                    } // end loop org_id
                } // end loop date
                // call footer function; 
                i_row = [];
                i_row['proc_date']  = '';
                i_row['org_nm']     =  '総合計';
                i_row['reji_no']    = '';
                i_row['payementtype'] = '';
                i_row['cnt']        = cumul['total']['cnt'];
                i_row['total']      = cumul['total']['total'];
                i_row['profit']     = cumul['total']['profit'];                
                insert_footer(i_row);
                
            }
            function sort_data(data_to_sort,sort_type, sort_data){
                // sort_type: 1  : asc
                //            -1 : desc
                //console.log(sort_data);
                A_sort_data = [];
                if( sort_data === "proc_date" || sort_data === "org_id"){
                    A_sort_data = data_to_sort ;                   
                }else{
                    A_sort_data = data_to_sort ;
                }
                return A_sort_data; 
            }            
            function sort_tbody(col_to_sort){
                col_sort_type = "";
                if( !asc[col_to_sort] || asc[col_to_sort] === 0 ){
                    col_sort_type = 1;
                }else{
                    col_sort_type = asc[col_to_sort] * -1;
                }
                //console.log(col_to_sort + ": "+asc[col_to_sort]);
                elem_table_id = document.getElementById("table_id");
                elem_thead = elem_table_id.getElementsByTagName('THEAD')[0];
                elem_th = elem_thead.getElementsByTagName('TH');
                for(i=0;i<elem_th.length;i++){
                    //console.log("i: "+i);
                    //console.log(elem_th[i]);
                    elem_th[i].innerHTML = elem_th[i].innerHTML.replace(' ▲',"").replace(' ▼',"");
                    if( elem_th[i].outerHTML.indexOf("'"+col_to_sort+"'") !== -1 ){
                        if( col_sort_type === 1 ){
                            elem_th[i].innerHTML = elem_th[i].innerHTML + ' ▲';
                        }else{
                            elem_th[i].innerHTML = elem_th[i].innerHTML + ' ▼';
                        }
                    }
                }
                asc = [];
                asc[col_to_sort] = col_sort_type;                
                working_data = sort_data(working_data,col_sort_type, col_to_sort);
                show_data(working_data);
            }            
            window.onload = function () {
                creat_listener();
                radio_change_management();
                today = new Date();
                document.getElementById("end_date").value = today.toISOString().slice(0,10).replace(/-/g,"\/"); 
                today.setMonth(today.getMonth()-1);
                document.getElementById("start_date").value = today.toISOString().slice(0,10).replace(/-/g,"\/"); 
                var empty_array = [];
                modal_create_select("org_select",empty_array);
            };

        </script>

        <STYLE type="text/css">
            select{
                min-width: 10em;
            }
            #sb-site{
                padding-left: 5px;
            }
            table th {
              color: #fff;
              background: #0D0D70;
              border-left:1px solid #000000;
              border-right:1px solid #000000;
              border-top:1px solid #000000;
              border-bottom:1px solid #000000;
              line-height: 120%;
              text-align: center;
              text-shadow:0 -1px 0 rgba(34,85,136,0.9);
              box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
              height:25px;
            }
            #search_param{
                overflow: hidden;
                
            }
            .no_overflow{
                float: left; 
            }            
            .field_title {
                float: left;
                display:flex;
                align-items:center;
                background: #0D0D70;
                height: 7em;
                color: white;
                text-align: center;
                padding: 5px;
                border: 1px solid black;
            }
            .field_data {
                padding: 5px 20px 5px 20px;
                float : left;
                height: 7em;
                border: 1px solid black;
            }

            #screen_name_d{
                display:flex;
                align-items:center;
 
            }
            .hasDatepicker, .hasYmpicker{
                margin-top: 3px;
            }             
            #period_d{
                padding-top: 16px;
            }
            #org_d{
                padding-top: 15px;
            }
            #action_d{
                padding-top: 12px;
            }
            #bloc_date{
                padding-top: 4px;
            }
/* TABLE CSS*/ 
            .table_container {
                overflow: hidden;                
                padding: 0;
            }           
            #table_id  {
                /*edit 2019/11/29 kanderu*/
                max-height: 55em;
                display: flex;
                flex-flow: column;
                height: 100%;
                width: 100%;
                padding: 0;
                border-spacing: 0;  
            }
            #table_id  thead,
            #table_id  tfoot{
                /* head takes the height it requires, 
                and it's not scaled when table is resized */
                flex: 0 0 auto;
                width: calc(100% - 19px);
            }
            #table_id  tbody {
                /* body takes all the remaining available space */
                /*flex: 1 1 auto;*/
                display: block;
                overflow-y: scroll;
                padding: 0;
            }
            #table_id  tbody tr,
            #table_id  tfoot tr {
                width: 100%;
            }
            #table_id thead,
            #table_id tbody tr,
            #table_id  tfoot tr{
                display: table;
                table-layout: fixed;
                padding: 0;
                background-color: #fff;
            }

            #table_id thead th {
                background: #0D0D70;                
                border: 1px solid #AAA;
                color: white;
                text-align: center;
                padding: 0;
                border-collapse: collapse;
            }
            #table_id tbody td,
            #table_id tfoot td{
                
                border: 1px solid #444;
                padding: 0;
                text-align: center; 
                border-collapse: collapse;
            } 
            #table_id thead th:first-child,
            #table_id tbody tr td:first-child,
            #table_id tfoot tr td:first-child {
              width: 6em;
            }
            #table_id thead th:nth-child(2),
            #table_id tbody tr td:nth-child(2),
            #table_id tfoot tr td:nth-child(2){
                width: 15em;
            }
            #table_id thead th:nth-child(3),
            #table_id tbody tr td:nth-child(3),
            #table_id tfoot tr td:nth-child(3){
                width: 7em;
            }
            #table_id thead th:nth-child(4),
            #table_id tbody tr td:nth-child(4),
            #table_id tfoot tr td:nth-child(4){
                width: 10em;
            }
            #table_id thead th:nth-child(5),
            #table_id tbody tr td:nth-child(5),
            #table_id tfoot tr td:nth-child(5){
                /*width: 10em;*/
            } 
            #table_id thead th:nth-child(6),
            #table_id tbody tr td:nth-child(6),
            #table_id tfoot tr td:nth-child(6){
                /*width: 10em;*/
            }
            #table_id thead th:nth-child(7),
            #table_id tbody tr td:nth-child(7),
            #table_id tfoot tr td:nth-child(7){
                /*width: 7em;*/
            }
            #table_id tbody tr td,
            #table_id tfoot tr td{
                text-align: right;
            }
            #table_id tbody tr td:first-child,
            #table_id tfoot tr td:first-child ,
            #table_id tbody tr td:nth-child(2),
            #table_id tfoot tr td:nth-child(2),
            #table_id tbody tr td:nth-child(3),
            #table_id tfoot tr td:nth-child(3),
            #table_id tbody tr td:nth-child(4),
            #table_id tfoot tr td:nth-child(4){
                text-align: left;
            }
           
        </STYLE>

    </head>
    <body>
        <?php
        if( isset($_GET['home']) ) {
            if( "1" ==  $_GET['home'] ){
                include("../home/View/Common/PageHeader.php");
            }else{
                include("Common/PageHeader.php");
            }
        }else{
                include("Common/PageHeader.php");
        }
        ?>

        <!-- Site -->
        <div id="sb-site">
            <div id="search_param">
                <div id="screen_name_t" class="field_title">
                    帳票			
                </div>
                <div id="screen_name_d" class="field_data">
                    顧客支払<br />実績一覧
                </div>                   
                <div id="period_t" class="field_title">
                    期間配分			
                </div>  
                <div id="period_d" class="field_data">
                    <div class="no_overflow">
                        <input type="radio" name="period" id="day" value="day" checked > 日別&nbsp;<br />
                        <input type="radio" name="period" id="month" value="month"> 月別&nbsp;<br />
                        <input type="radio" name="period" id="year" value="year"> 年別&nbsp;
                    </div>
                    <div class="no_overflow" id='bloc_date'>
                        <!-- day -->
                        <div id='bloc_day'>
                            <input type="text" title="開始" id="start_date" name="start_date" size="10" ><br />
                            <input type="text" title="終了" id="end_date" name="end_date" size="10" >
                        </div>
                        <div id='bloc_month' hidden >
                        <!-- month -->
                            <input type="text" title="開始" id="start_dateM" name="start_dateM" size="10" ><br />
                            <input type="text" title="終了" id="end_dateM" name="end_dateM" size="10" >
                        </div>
                        <div id='bloc_year' hidden>                            
                        <!-- year -->
                            <input type="text" title="開始" id="start_year" name="start_year" size="10" ><br />
                            <input type="text" title="終了" id="end_year" name="end_year" size="10" >
                        </div>                            
                    </div>
                </div>
                <div class="no_overflow">
                    <div id="org_t" class="field_title">
                        グループ<br />選択			
                    </div>
                    <div id="org_d" class="field_data">
                        <input type="radio" name="org_r" value="all" checked> 全店<br>
                        <input type="radio" name="org_r" value=""> 店舗指定<br />
                        <select id="org_select" name="org_select" disabled onchange="modal_select_mgt(event)"><option value="no">&nbsp;</option></select>
                    </div>
                </div>
                <div class="no_overflow">
                    <div id="paymenttype_t" class="field_title">
                        支払<br />方法	
                    </div>
                    <div id="paymenttype_d" class="field_data">
                        <div class="no_overflow">
                            <input type="checkbox" id="all_none" value="ok" checked onChange="select_paymenttype()">全て　<br />                            
                        </div>
                        <div class="no_overflow">
                            <input type="checkbox" id="electr" value="電子マネー" checked>電子マネー　<br />
                            <input type="checkbox" id="house" value="ハウスカード" checked>ハウスカード　<br />
                            <input type="checkbox" id="point" value="ポイント" checked>ポイント　<br />
                            <input type="checkbox" id="credit" value="クレジット" checked>クレジット　<br />
                            
                        </div>
                        <div class="no_overflow">
                            <input type="checkbox" id="nanaco" value="NANACO" checked>NANACO　<br />
                            <input type="checkbox" id="gift" value="商品券" checked>商品券　<br />
                            <input type="checkbox" id="quicpay" value="QUICPay" checked>QUICPay　<br />
                            <input type="checkbox" id="transport" value="交通系IC" checked>交通系IC　<br />
                        </div>
                        <div class="no_overflow">
                            <input type="checkbox" id="kake" value="掛売" checked>掛売<br />
                            <input type="checkbox" id="edy" value="Edy" checked>Edy<br />
                            <input type="checkbox" id="id" value="ID" checked>ID<br />
                            <input type="checkbox" id="waon" value="WAON" checked>WAON<br />
                        </div>
                    </div>
                </div>
                <div id="action_d" class="field_data">
                    <button type="button" onclick="search_data(event)" >検索</button><br /><br />
                    <button type="button" id="btn_csv" onclick="csv_print(event)" hidden>CSV出力</button>
                </div> 
            </div>
            <!-- The Modal -->
            <div id="modal_org" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <?php include("../modal/View/Modalorganization.html"); ?>
                </div>
            </div>            
            
            <br />
            <div id="data_show"  class="table_container">
                <table id="table_id">
                    <thead>
                        <tr>
                            <th onclick="sort_tbody('proc_date')"><u>日付</u></th>
                            <th onclick="sort_tbody('org_id')"><u>店舗名</u></th>
                            <th onclick="sort_tbody('reji_no')"><u>レジ番号</u></th>
                            <th>支払方法</th>
                            <th>利用回数</th>
                            <th>支払金額</th>
                            <th>粗利益</th>
                        </tr>
                    </thead>
                    <tbody id="table_body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>                        
                    </tbody>
                    <tfoot id="table_foot">
                    </tfoot>
                </table>
            </div>
            
        </div>
</body>
</html>
