<?php
    /**
     * @file      顧客検索一覧帳票画面(View)
     * @author    media craft
     * @date      2018/03/22
     * @version   1.00
     * @note      顧客検索一覧帳票画面
     */
?>
<!DOCTYPE html>
<html>
    <head>
        <?php
            $fileNames = array('default.css'); // cssまたはｊｓファイルを拡張子付きで配列に記述
            include("../profit/View/Common/HtmlHeader.php");
        ?>

    <script src="../js/profit/jquery/jquery.ui.ympicker.js" /></script>
    <script src="../js/profit/jquery/jquery-migrate-1.0.0.js" /></script>
    <script src="../js/profit/jquery/datepicker-ja.js" /></script>
    <script src="../js/autofil_v<?php echo $_SESSION['AUTOFIL_VER'] ?>.js" ></script>
    <script type="text/javascript">
        Sizelist       = '<?php echo json_encode(json_encode($Sizelist)); ?>';
        A_Sizelist     = JSON.parse(Sizelist.slice(1,-1));
    </script>
    <script type="text/javascript">
        function chf(frm){
            if( 1 < window.location.search.length )
                {
                    // 最初の1文字 (?記号) を除いた文字列を取得する
                    var query = window.location.search.substring( 1 );
                    var action = frm.action.split( '?' );

                    // 検索以外の機能実行後だった場合、パラメータを補正する
                    if(1 < action.length){
                        frm.action = action[0];
                    }

                    // クエリの区切り記号 (&) で文字列を配列に分割する
                    var parameters = query.split( '&' );

                    if (frm.onbtn.value == 'serch') {
                        frm.target='_self';
                        if(1 < parameters.length){
                             frm.action += '?param=' +frm.elements["codeName"].value + '&home=1';
                         }else{
                             frm.action += '?param=' +frm.elements["codeName"].value;
                        }
                    }else if (frm.onbtn.value == 'csvoutput'){
                        if(1 < parameters.length){
                             frm.action += '?param=LedgerSheetClient/csvoutput&home=1';
                         }else{
                             frm.action += '?param=LedgerSheetClient/csvoutput';
                        }
                    }
                }
       }

    $(document).ready(function()
    {
        // 日付検索条件の初期設定
        if($('#codeName').val() === "LedgerSheetClient/show")
        {
            $('#start_date').css('display' , '');
            $('#end_date').css('display' , '');
        }

    });

    /**
     *  イベント制御用
     *
     */
    function set_value(s_val){
        document.serchForm.onbtn.value = s_val;
    }

    /**
     * DatePickerを設定
     */
    $(function()
    {
        $( "#start_date, #end_date" ).datepicker({
            numberOfMonths: 2,
            showCurrentAtPos: 1,
            showButtonPanel: true,
            dateFormat: 'yy/mm/dd'
        });
    });

    /**
     *
     * スクロール制御
     *
     */
        function SyncScroll(/* elem1, elem2, ... */) {
            this._elements = [];
            this._elementOnscroll = this._elementOnscroll.bind(this);
            this.addElement.apply(this, arguments);
        }
        SyncScroll.prototype = {
            enableHorizontal: true,
            enableVertical: true,
            addElement: function (/* elem1, elem2, ... */) {
                var elem, i;
                for (i = 0; i < arguments.length; i += 1) {
                    elem = arguments[i];
                    elem.addEventListener('scroll', this._elementOnscroll, false);
                    this._elements.push(elem);
                }
            },
            removeElement: function (/* elem1, elem2, ... */) {
                var elem, i, j;
                for (i = 0; i < arguments.length; i += 1) {
                    elem = arguments[i];
                    elem.removeEventListener('scroll', this._elementOnscroll, false);
                    j = this._elements.indexOf(elem);
                    if (j >= 0) {
                        this._elements.splice(j, 1);
                    }
                }
            },
            _elementOnscroll: function (event) {
                var i,
                    elems = this._elements,
                    elem = event.target,
                    x = elem.scrollLeft,
                    y = elem.scrollTop;
                if (this.enableHorizontal) {
                    for (i = 0; i < elems.length; i += 1) {
                        elem = elems[i];
                        if (elem === event.target || elem.scrollLeft === x) {
                            continue;
                        }
                        elem.scrollLeft = x;
                        if (elem.scrollLeft !== x) {
                            elem.scrollLeft = x + x - elem.scrollLeft;
                        }
                    }
                }
                if (this.enableVertical) {
                    for (i = 0; i < elems.length; i += 1) {
                        elem = elems[i];
                        if (elem === event.target || elem.scrollTop === y) {
                            continue;
                        }
                        elem.scrollTop = y;
                        if (elem.scrollTop !== y) {
                            elem.scrollTop = y + y - elem.scrollTop;
                        }
                    }
                }
            },
            destroy: function () {
                this.removeElement.apply(this, this._elements);
            }
        };

        window.onload = function () {
            creat_listener();
            // 縦方向のみ
            var sample2_1 = document.getElementById('header_h');
            var sample2_2 = document.getElementById('data');
            var syncScroll2 = new SyncScroll(sample2_1, sample2_2);
            syncScroll2.enableHorizontal = true;

            // 横方向のみ
            var sample3_1 = document.getElementById('header_h');
            var sample3_2 = document.getElementById('data');
            var syncScroll3 = new SyncScroll(sample3_1, sample3_2);
            syncScroll3.enableVertical = false;
        };

    </script>

    <STYLE type="text/css">
#header_h {
   width:98%;
   overflow-x:hidden;overflow-y:hidden;
   }
#header_v {
   width:90px;height:650px;
   overflow-x:scroll;overflow-y:hidden;
   text-align: left;
   }
#data {
   width:99%;height:650px;
   overflow-x:scroll;overflow-y:scroll;
   table-layout: fixed;
   }

    </STYLE>

    </head>
    <body>
<?php
if( isset($_GET['home']) ) {
    if( "1" ==  $_GET['home'] ){
        include("../home/View/Common/PageHeader.php");
    }else{
        include("Common/PageHeader.php");
    }
}else{
        include("Common/PageHeader.php");
}
?>

<!-- Site -->
<div id="sb-site">
<form name="serchForm" id="serchForm" action="/profit/index.php" method="post" onsubmit="return chf(this)">
<div class="serchListArea">
<table align="center">
    <tr>
        <td>
            <table id="serchTable">
                <tr>
                    <th id="serchTableTitle" align="center" width="65">帳票</th>
                    <td id="serchTableItem" width="220">
                        顧客検索一覧
                      <input type="hidden" name="codeName" id="codeName" value="LedgerSheetClient/show">
                    </td>
                    <th id="serchTableTitle" align="left" width="65">登録期間</th>
                    <td id="serchTableItem" align="left" width="220">
                        <input type="text" pattern="\d{4}/\d{2}/\d{2}" title="西暦/月/日の形式で入力してください。" id="start_date" name="start_date" size="10" value=<?php hsc($startDate); ?>>
                        <input type="text" pattern="\d{4}/\d{2}/\d{2}" title="西暦/月/日の形式で入力してください。" id="end_date" name="end_date" size="10" value=<?php hsc($endDate); ?>>
                    </td>
                    <th id="serchTableTitle" align="center" width="80">顧客コード</th>
                    <td id="serchTableItem" width="220">
                        <input placeholder="開始" type="text" id="start_cust_cd" name="start_code" size="13" maxlength="13" value=<?php hsc($startCode); ?>>
                        <input placeholder="終了" type="text" id="end_cust_cd" name="end_code" size="13" maxlength="13" value=<?php hsc($endCode); ?>>
                    </td>
                </tr>
                <tr>
                   <th id="serchTableTitle" align="center" width="65">顧客</th>
                   <td id="serchTableItem" width="100">
                        <input placeholder="名前" type="text" id="cust_nm" name="cust_nm" size="10" maxlength="50" alue=<?php hsc($custName); ?>>
                    </td>
                    <th id="serchTableTitle" align="center" width="80">住所</th>
                    <td id="serchTableItem" awidth="260">
                        <input type="text" id="addr" name="addr" size="18" maxlength="42" value=<?php hsc($addr); ?>>
                    </td>
                    <th id="serchTableTitle" align="center" width="80">DM区分</th>
                    <td id="serchTableItem" width="40">
                        <select name="dm_code" id="dm_code">
                            <option value="0" <?php if($dmCode == "0"){ ?> selected<?php } ?>>要</option>
                            <option value="1" <?php if($dmCode == "1"){ ?> selected<?php } ?>>不要</option>
                        </select>
                    
                      <input class="submit" type="submit" name="search" id="search" value="検索" onClick="set_value('serch')">
                <?php if( !empty($list) ) { ;?>
                       <input width=20 size=10 class="submit" type="submit" name="csvoutput" id="csvoutput" value="CSV出力" onClick="set_value('csvoutput')">
                <?php } ?>
                      <input type="hidden" name="onbtn">
                
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- 固定ヘッダ -->
<table>
    <tr>
        <td>
            <!-- 水平ヘッダ -->
            <div id="header_h">
            <table>
                <tr>
                    <th id='viewList' align='center' width=50>No</th>
                    <th id='viewList' align='center' width=102>顧客コード</th>
                    <th id='viewList' align='center' width=170>顧客名</th>
                    <th id='viewList' align='center' width=260>住所１ ・ 住所２ ・ 住所3</th>
                    <th id='viewList' align='center' width=80>電話番号</th>
                    <th id='viewList' align='center' width=80>携帯電話</th>
                    <th id='viewList' align='center' width=50>DM区分</th>
                    <th id='viewList' align='center' width=80>生年月日</th>
                    <th id='viewList' align='center' width=80>更新日</th>
                    <th id='viewList' align='center' width=80>登録年月日</th>
                </tr>
            </table>
            </div>
        </td>
    </tr>

        <td>
            <!-- データ部分  -->
            <div id="data">
            <table>
                <?php if( !empty($list) ) {
                    $row_cnt = 1;?>
                    <?php foreach ($list as $rows ) { ?>
                <tr>
                    <th id='viewList' align="left" width=50><?php hsc($row_cnt++); ?></th>
                    <td id='viewList' align='center' width=102><?php hsc($rows['cust_cd']); ?></td>
                    <td id='viewList' align='left' width=170><?php hsc($rows['cust_nm']); ?></td>
                    <td id='viewList' align='left' width=260>
                        <?php
                            if (empty($rows['addr1']) && (empty($rows['addr2'])) && (empty($rows['addr3'])) )
                                {
                                    echo '';
                                }
                            elseif (empty($rows['addr2']) && (empty($rows['addr3'])) )
                                {
                                    hsc($rows['addr1']);
                                }
                            elseif (empty($rows['addr3']))
                                {
                                    hsc($rows['addr1']);
                                    echo '・';
                                    hsc($rows['addr2']);
                                }
                            elseif (!empty($rows['addr1']) && (!empty($rows['addr2'])) && (!empty($rows['addr3'])) )
                                { 
                                    hsc($rows['addr1']);
                                    echo '・';
                                    hsc($rows['addr2']); 
                                    hsc($rows['addr3']);
                                }
                            else{ 
                                    hsc($rows['addr1']);
                                    hsc($rows['addr2']);
                                    hsc($rows['addr3']);
                                }
                        ?>
                     </td>
                    <td id='viewList' align='center' width=88><?php hsc($rows['tel']); ?></td>
                    <td id='viewList' align='center' width=88><?php hsc($rows['hphone']); ?></td>
                    <td id='viewList' align='center' width=50><?php hsc($rows['dissenddm']); ?></td>
                    <td id='viewList' align='center' width=80><?php hsc($rows['birth']); ?></td>
                    <td id='viewList' align='center' width=80><?php hsc($rows['updatetime']); ?></td>
                    <td id='viewList' align='center' width=80><?php hsc($rows['insdatetime']); ?></td>
                </tr>
                    <?php } ?>
                <?php } ?>
            </table>
            </div>
        </td>
    </tr>
</table>
</div>
</form>
<script type="text/javascript" src="../jquery/js/scrolltopcontrol2.js"></script>
<!--スクロールしながらページのトップに戻る-->
</div><!-- /#sb-site -->

</body>
</html>
