<?php
    /**
     * @file      帳票設定マスタ画面(View)
     * @author    millionet oota
     * @date      2016/07/14
     * @version   1.00
     * @note      帳票設定マスタ画面(一覧部分)
     */
?>
            <?php require_once( SystemParameters::$SANITIZE_SETTING_FILE ) ?>
            <!-- ajax差し替えエリア -->
            <div id="jquery-replace-ajax">

                <!-- PageMoveArea -->
                <?php include("../FwCommon/View/PagingArea.php"); ?>

                <!-- serchListArea -->
                <div class="serchListArea">
                    <input type="hidden" id="token" name="token" value="<?php hsc($TokenID); ?>">
                    <table id="nameTable">
                        <tr><!-- ヘッダ部分  -->
                            <!-- No -->
                            <th width="2%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0810')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0810')); ?><?php hsc($headerArray['ledgerSheetFormNoSortMark']); ?></span></th>
                            <!-- 表示順 -->
                            <th width="3%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0811')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0811')); ?><?php hsc($headerArray['ledgerSheetFormDispOrderSortMark']); ?></span></th>
                            <!-- 帳票設定コード -->
                            <th width="5%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0850')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0850')); ?><?php hsc($headerArray['ledgerSheetFormCodeSortMark']); ?></span></th>
                            <!-- 帳票設定名 -->
                            <th width="10%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0851')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0851')); ?><?php hsc($headerArray['ledgerSheetFormNameSortMark']); ?></span></th>
                            <!-- 帳票設定名かな -->
                            <th width="10%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0812')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0812')); ?><?php hsc($headerArray['ledgerSheetFormNameKanaSortMark']); ?></span></th>
                            <!-- ヘッダー情報 -->
                            <th width="10%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0852')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0852')); ?><?php hsc($headerArray['headerSortMark']); ?></span></th>
                            <!-- 表示ロジック -->
                            <th width="10%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0846')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0846')); ?><?php hsc($headerArray['logicSortMark']); ?></span></th>
                            <!-- 集計種別-年 -->
                            <th width="2%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0854')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0854')); ?><?php hsc($headerArray['cYearSortMark']); ?></span></th>
                            <!-- 集計種別-月 -->
                            <th width="2%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0855')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0855')); ?><?php hsc($headerArray['cMonthSortMark']); ?></span></th>
                            <!-- 集計種別-日 -->
                            <th width="2%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0856')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0856')); ?><?php hsc($headerArray['cDaySortMark']); ?></span></th>
                            <!-- 集計種別-期間 -->
                            <th width="2%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0857')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0857')); ?><?php hsc($headerArray['cKikanSortMark']); ?></span></th>
                            <!-- 集計種別-スタッフ -->
                            <th width="3%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0858')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0858')); ?><?php hsc($headerArray['cStaffSortMark']); ?></span></th>
                            <!-- 集計種別-スタッフ部門 → 店舗 -->
                            <th width="2%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0859')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0859')); ?><?php hsc($headerArray['cStaffBumonSortMark']); ?></span></th>
                            <!-- 集計種別-メニュー -->
                            <th width="3%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0860')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0860')); ?><?php hsc($headerArray['cMenuSortMark']); ?></span></th>
                            <!-- 集計種別-メニュー部門 -->
                            <th width="4%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0861')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0861')); ?><?php hsc($headerArray['cMenuBumonSortMark']); ?></span></th>
                            <!-- 集計種別-時間 -->
                            <th width="2%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0862')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0862')); ?><?php hsc($headerArray['cJikanSortMark']); ?></span></th>
                            <!-- 集計種別-時間帯 -->
                            <th width="3%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0863')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0863')); ?><?php hsc($headerArray['cJikantaiSortMark']); ?></span></th>
                            <!-- 初回登録日 -->
                            <th width="5%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0813')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0813')); ?><?php hsc($headerArray['registrationTimeSortMark']); ?></span></th>
                            <!-- 更新日 -->
                            <th width="5%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0814')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0814')); ?><?php hsc($headerArray['updateTimeSortMark']); ?></span></th>
                            <!-- 状態 -->
                            <th width="5%"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0815')); ?>');"><?php hsc($Log->getMsgLog('MSG_BASE_0815')); ?><?php hsc($headerArray['mappingNameStateSortMark']); ?></span></th>
                            <th width="10%"></th>
                        </tr>
                        
                        <!-- データ部分  -->
                        <?php if( !empty($ledgerSheetFormList) ) { ?>
                        <?php foreach($ledgerSheetFormList as $ledgerSheetForm) { ?>
                            <?php $ledgerSheetForm_no++; ?>
                            <?php if(!$ledgerSheetFormNoSortFlag) { ?>
                                <?php $display_no++; ?>
                            <?php } ?>
                            <tr>
                                <input type="hidden" id="posMappingIdMod<?php hsc($ledgerSheetForm_no); ?>" name="posMappingId<?php hsc($ledgerSheetForm_no); ?>" value="<?php hsc($ledgerSheetForm['ledger_sheet_form_id']); ?>">
                                <input type="hidden" id="updateTime<?php hsc($ledgerSheetForm_no); ?>" name="updateTime<?php hsc($ledgerSheetForm_no); ?>" value="<?php hsc($ledgerSheetForm['update_time']); ?>">
                                <!-- No -->
                                <td><?php hsc($display_no); ?></td>
                                <!-- 表示順 -->
                                <td id="sDisp<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['disp_order']); ?></td>
                                <!-- 帳票設定コード -->
                                <td id="sPosBrandId<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['ledger_sheet_form_code']); ?></td>
                                <!-- 帳票設定名 -->
                                <td id="sMCode<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['ledger_sheet_form_name']); ?></td>
                                <!-- 帳票設定名かな -->
                                <td id="sMappingNameId<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['ledger_sheet_form_name_kana']); ?></td>
                                <!-- ヘッダー情報 -->
                                <td id="sLogicType<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['header']); ?></td>
                                <!-- 表示ロジック -->
                                <td id="sLogic<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['logic']); ?></td>
                                <!-- 集計種別-年 -->
                                <td id="sPosKeyFileId<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_year']); ?></td>
                                <!-- 集計種別-月 -->
                                <td id="sKeta<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_month']); ?></td>
                                <!-- 集計種別-日 -->
                                <td id="sRoundType<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_day']); ?></td>
                                <!-- 集計種別-期間 -->
                                <td id="sSymbol<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_kikan']); ?></td>
                                <!-- 集計種別-スタッフ -->
                                <td id="sRegistrationTime<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_staff']); ?></td>
                                <!-- 集計種別-スタッフ部門 -->
                                <td id="sUpdateTime<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_staff_bumon']); ?></td>
                                <!-- 集計種別-メニュー -->
                                <td id="sUpdateTime<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_menu']); ?></td>
                                <!-- 集計種別-メニュー部門 -->
                                <td id="sUpdateTime<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_menu_bumon']); ?></td>
                                <!-- 集計種別-時間 -->
                                <td id="sUpdateTime<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_jikan']); ?></td>
                                <!-- 集計種別-時間帯 -->
                                <td id="sUpdateTime<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['c_jikantai']); ?></td>
                                <!-- 初回登録日 -->
                                <td id="sRegistrationTime<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['registration_time']); ?></td>
                                <!-- 更新日 -->
                                <td id="sUpdateTime<?php hsc($ledgerSheetForm_no); ?>"><?php hsc($ledgerSheetForm['update_time']); ?></td>
                                <!-- 状態 -->
                                <?php $del_state = ""; ?>
                                <?php if(!empty($ledgerSheetForm['is_del'])) { ?>
                                    <?php $del_state = "削除"; ?>
                                <?php } ?>
                                <td><?php hsc($del_state); ?></td>
                                <td align="center">
                                    <?php if(empty($ledgerSheetForm['is_del'])) { ?>
                                        <div class="logicButtonArea">
                                            <input type="button" id="edtBtn<?php hsc($ledgerSheetForm_no); ?>" value="<?php hsc($Log->getMsgLog('MSG_BASE_0801')); ?>" onclick="editRow(this)" class="update" <?php hsc($ledgerSheetForm['cor_disabled']); ?>>
                                            <input type="submit" id="edtBtn-mod<?php hsc($ledgerSheetForm_no); ?>" name="mod<?php hsc($ledgerSheetForm_no); ?>" style="display : none" value="<?php hsc($Log->getMsgLog('MSG_BASE_0802')); ?>" onclick="setLineInfo(this, '<?php hsc($Log->getMsgLog('MSG_BASE_0802')); ?>')" class="confirm" <?php hsc($ledgerSheetForm['mod_disabled']); ?>>
                                            <input type="submit" id="edtBtn-del<?php hsc($ledgerSheetForm_no); ?>" name="del<?php hsc($ledgerSheetForm_no); ?>" style="display : none" value="<?php hsc($Log->getMsgLog('MSG_BASE_0803')); ?>" onclick="setLineInfo(this, '<?php hsc($Log->getMsgLog('MSG_BASE_0803')); ?>')" class="delete" <?php hsc($ledgerSheetForm['del_disabled']); ?>>
                                        </div><!-- /.logicButtonArea -->
                                    <?php } ?>
                                </td>
                            </tr>
                            <?php if($ledgerSheetFormNoSortFlag) { ?>
                                <?php $display_no--; ?>
                            <?php } ?>
                        <?php }} ?>
                    </table>
                </div>
                <!-- /.serchListArea -->
            </div>
            <!-- /.jquery-replace-ajax -->
