<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>注文書</title>

    <STYLE type="text/css">
        html,body{width:100%;height:100%;}
        header{width:100%;height:95px;}
        main{width:100%;height:850px;}
        footer{width:100%;height:25px;position:absolute;bottom:0;}
        .barcode {
            padding: 1.5mm;
            margin: 0;
            vertical-align: top;
            color: #000044;
        }
        .barcodecell {
            text-align: center;
            vertical-align: middle;
        }
    </STYLE>
</head>
<body>
<!--<div style="page-break-before: always;">-->
    <div>
    <header>
        <div align="right">印刷日時：2018/04/20 16:09:01</div>
        <div align="right">ページ：1 / 1</div>
        <div align="center" style="font-style:oblique; line-height: 5px;">
            <h1 style="text-align:center;font-size:24px;"><span>商品実績順位表</span></h1>
        </div>
        <table style="width:100%;">
            <tr>
                <td align="left">商品コード： 0000000000001　～ 9999999999999</td>
            </tr>
            <tr>
                <td align="left">品名(カナ)： 品名</td>
            </tr>
            <tr>
                <td align="left">部門名： 部門名</td>
            </tr>
            <tr>
                <td align="left">仕入先コード： 0001</td>
            </tr>
            <tr>
                <td align="left">大分類： 大分類名</td>
            </tr>
            <tr>
                <td align="left">中分類： 中分類名</td>
            </tr>
            <tr>
                <td align="left">小分類： 小分類名</td>
            </tr>
            <tr>
                <td align="left">クラス： クラス名</td>
            </tr>
            <tr>
                <td align="left">JICFS分類： JICFS分類名</td>
            </tr>
            <tr>
                <td align="left">自社分類： 自社分類名</td>
            </tr>
            <tr>
                <td align="left">売上期間： 2018/04/01 ～ 2018/04/20</td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;width:100%;margin-top:10px;">
            <tr>
                <td align="right" width="45px">順位</td>
                <td align="center" width="130px">JANコード</td>
                <td align="left">商品名</td>
                <td align="left" width="80">規格/容量</td>
                <td align="left" width="100">部門名</td>
                <td align="left">仕入先</td>
                <td align="right" width="60">数量</td>
                <td align="right" width="80">金額</td>
                <td align="right" width="60">構成比</td>
                <td align="right" width="80">粗利額</td>
                <td align="right" width="60">構成比</td>
                <td align="right" width="60">粗利率</td>
        </table>
    </header>
    <main>
        <table style="width:100%;">
            <tr style="padding-top:5px;padding-bottom:5px;">
                <td align="right" width="45px">9999</td>
                <td align="center" width="130px">1234567890123</td>
                <td align="left"></td>
                <td align="left" width="80">100mg</td>
                <td align="left" width="100">〇〇〇〇〇〇部</td>
                <td align="left"></td>
                <td align="right" width="60">1,000</td>
                <td align="right" width="80">1,000,000</td>
                <td align="right" width="60">99.99%</td>
                <td align="right" width="80">1,000,000</td>
                <td align="right" width="60">99.99%</td>
                <td align="right" width="60">99.99%</td>
            </tr>
        </table>
    </main>
    <footr>
        <div style="border-top:1px solid #000000;"></div>
    </footer>
</div>
</body>
</html>
