<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>売上原価異常明細</title>

    <STYLE type="text/css">
        html,body{width:100%;height:100%;}
        header{width:100%;height:75px;}
        main{width:100%;height:860px;}
        footer{width:100%;height:25px;position:absolute;bottom:0;}
    </STYLE>
</head>
<body>
<!--<div style="page-break-before: always;">-->
    <div>
    <header>
        <div align="left" style="font-style:oblique; line-height:25px;">
            <h1><span>売上原価異常明細</span></h1>
        </div>
        <table style="border-bottom:solid 3px #000000;line-height:15px;font-size:28px;">
            <tr>
                <td align="top" style="line-height:60px;font-size:26px;font-style:oblique;">売上日:　　#ERROR</td>
            </tr>
            <tr>
                <th align="left" style="width:300px;font-style:oblique;">商品CD</th>
                <th align="left" style="width:300px;font-style:oblique;">商品名</th>
                <th align="left" style="width:150px;font-style:oblique;">商品容量</th>
                <th align="left" style="width:150px;font-style:oblique;">明細売価</th>
                <th align="left" style="width:150px;font-style:oblique;">当日原価</th>
            </tr>
        </table>
    </header>
    <main>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:24px;">
            <tr>
                <td align="left" style="width:300px;">4969432001206</td>
                <td align="left" style="width:300px;">パブラールUVベース35g</td>
                <td align="left" style="width:150px;"></td>
                <td align="left" style="width:150px;">￥4500</td>
                <td align="left" style="width:150px;">￥4800</td>
            </tr>
        </table>
    </main>
    <footer>
        <table style="border-top: solid 3px #434359;width:100%; font-size: 20px;">
            <tr>
                <td style="width:900px; font-style:oblique;">2018年3月12日</td>
                <td style="width:200px; font-style:oblique;">1/1ページ</td>
            <tr>
        </table>
    </footer>
</div>
</body>
</html>
