<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>注文書</title>

    <STYLE type="text/css">
        html,body{width:100%;height:100%;}
        header{width:100%;height:95px;}
        main{width:100%;height:850px;}
        footer{width:100%;height:25px;position:absolute;bottom:0;}
        .barcode {
            padding: 1.5mm;
            margin: 0;
            vertical-align: top;
            color: #000044;
        }
        .barcodecell {
            text-align: center;
            vertical-align: middle;
        }
    </STYLE>
</head>
<body>
<!--<div style="page-break-before: always;">-->
    <div>
    <header>
        <div align="center" style="font-style:oblique; line-height: 5px;">
            <h1 style="text-align:center;"><span>注文書</span></h1>
        </div>
        <table style="border-bottom:solid 3px #000000;line-height:25px;font-size:28px;">
            <tr>
                <td align="left" colspan="3">仕入先： #ERROR</td>
                <td align="right" colspan="2">#ERROR</td>
            </tr>
            <tr>
                <td align="left" colspan="4"></td>
                <td align="left" colspan="1">発注日：</td>
            </tr>
            <tr>
                <td align="left" colspan="4"></td>
                <td align="left" colspan="1">納品日：</td>
            </tr>
            <tr>
                <th align="left" style="width:100px;font-style:oblique;">SEQ</th>
                <th align="left" style="width:200px;font-style:oblique;">商品CD</th>
                <th align="left" style="width:300px;font-style:oblique;">商品名</th>
                <th align="left" style="width:150px;font-style:oblique;">数量</th>
                <th align="left" style="width:300px;font-style:oblique;"></th>
            </tr>
        </table>
    </header>
    <main>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
        <table style="border-bottom:solid 1px #000000;line-height:30px;font-size:22px;">
            <tr>
                <td align="left" style="width:100px;">1</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:300px;"></td>
                <td align="left" style="width:150px;"></td>
                <td align="right" style="width:300px;">
                    <barcode code="123456789012" type="EAN13" size="2" height="0.5"/>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <table style="border-top: solid 3px #434359;width:100%;font-size:20px;">
            <tr>
                <td style="width:900px; font-style:oblique;">2018年3月12日</td>
                <td style="width:200px; font-style:oblique;">1/1ページ</td>
            <tr>
        </table>
    </footer>
</div>
</body>
</html>
