<?php
    /**
     * @file      月次帳票画面(View)
     * @author    millionet oota
     * @date      2016/06/30
     * @version   1.00
     * @note      月次帳票画面
     */
?>
<!DOCTYPE html>
<html>
    <head>
        <?php
            $fileNames = array('default.css'); // cssまたはｊｓファイルを拡張子付きで配列に記述 
            include("../profit/View/Common/HtmlHeader.php"); 
        ?>
    <script type="text/javascript">
        function chf(frm){
            if( 1 < window.location.search.length )
                {
                    // 最初の1文字 (?記号) を除いた文字列を取得する
                    var query = window.location.search.substring( 1 );
                    // クエリの区切り記号 (&) で文字列を配列に分割する
                    var parameters = query.split( '&' );
                    if(1 < parameters.length){
                        frm.action += '?param=' +frm.elements["codeName"].value + '&home=1';
                    }else{
                        frm.action += '?param=' +frm.elements["codeName"].value;
                    }
                }
       }
    </script>
    </head>
    <body>
<?php 
if( isset($_GET['home']) ) {
    if( "1" ==  $_GET['home'] ){
        include("../home/View/Common/PageHeader.php");
    }else{
        include("Common/PageHeader.php");
    }
}else{
        include("Common/PageHeader.php");
}
?>
        <!-- Site -->
        <div id="sb-site">
<form name="serchForm" id="serchForm" action="/profit/index.php" method="post" onsubmit="return chf(this)">
<div class="serchListArea">
<table align="center">
<tr>
<td>
<table id="serchTable" >
<tr>
<th id="serchTableTitle" align="center" width="65">帳票種別</th>
<td id="serchTableItem">
<select name="codeName" id="codeName">
    <option value="LedgerSheetDay/show">売上分析</option>
    <option value="LedgerSheetMonth/show" selected >月次帳票</option>
    <option value="LedgerSheetItem/show">商品別帳票</option>
    <option value="LedgerSheetTime/show">時間別帳票</option>
    <option value="LedgerSheetTimeZone/show">時間帯別帳票</option>
    <option value="LedgerSheetCost/show">コスト帳票</option>
</select>
</td>
<th id="serchTableTitle" align="center" width="65">集計期間</th>
<td id="serchTableItem">
<select name="from_year" class="from_year" >
<option value="2011">2011 年</option>
<option value="2012">2012 年</option>
<option value="2013">2013 年</option>
<option value="2014">2014 年</option>
<option value="2015">2015 年</option>
<option value="2016" selected>2016 年</option>
</select>
<select name="from_month" class="from_month" >
<option value="1">01 月</option>
<option value="2">02 月</option>
<option value="3">03 月</option>
<option value="4">04 月</option>
<option value="5">05 月</option>
<option value="6">06 月</option>
<option value="7" selected>07 月</option>
<option value="8">08 月</option>
<option value="9">09 月</option>
<option value="10">10 月</option>
<option value="11">11 月</option>
<option value="12">12 月</option>
</select>
<label class="label_kara" >～</label>
<select name="to_year" class="to_year" >
<option value="2011">2011 年</option>
<option value="2012">2012 年</option>
<option value="2013">2013 年</option>
<option value="2014">2014 年</option>
<option value="2015">2015 年</option>
<option value="2016" selected>2016 年</option>
</select>
<select name="to_month" class="to_month" >
<option value="1">01 月</option>
<option value="2">02 月</option>
<option value="3">03 月</option>
<option value="4">04 月</option>
<option value="5">05 月</option>
<option value="6">06 月</option>
<option value="7">07 月</option>
<option value="8" selected>08 月</option>
<option value="9">09 月</option>
<option value="10">10 月</option>
<option value="11">11 月</option>
<option value="12">12 月</option>
</select>
</td>
</tr>
</table>
</td>
<td>
　<input class="submit" type="submit" name="submit" value="検索">
</td>
</table><br />
</form>
<div id="menu-wrap">
</div>
<table id='viewList' align='center' style="width:1200px; overflow-y:scroll;">
<div id="menu-wrap"　style="width:1200px; overflow-:scroll;">
<thead>
<tr>
<th id='viewList' align='center' width=100> </th>
<th id='viewList' align='center' width=50>1日</th>
<th id='viewList' align='center' width=50>2日</th>
<th id='viewList' align='center' width=50>3日</th>
<th id='viewList' align='center' width=50>4日</th>
<th id='viewList' align='center' width=50>5日</th>
<th id='viewList' align='center' width=50>6日</th>
<th id='viewList' align='center' width=50>7日</th>
<th id='viewList' align='center' width=50>8日</th>
<th id='viewList' align='center' width=50>9日</th>
<th id='viewList' align='center' width=50>10日</th>
<th id='viewList' align='center' width=50>11日</th>
<th id='viewList' align='center' width=50>12日</th>
<th id='viewList' align='center' width=50>13日</th>
<th id='viewList' align='center' width=50>14日</th>
<th id='viewList' align='center' width=50>15日</th>
<th id='viewList' align='center' width=50>16日</th>
<th id='viewList' align='center' width=50>17日</th>
<th id='viewList' align='center' width=50>18日</th>
<th id='viewList' align='center' width=50>19日</th>
<th id='viewList' align='center' width=50>20日</th>
<th id='viewList' align='center' width=50>21日</th>
<th id='viewList' align='center' width=50>22日</th>
<th id='viewList' align='center' width=50>23日</th>
<th id='viewList' align='center' width=50>24日</th>
<th id='viewList' align='center' width=50>25日</th>
<th id='viewList' align='center' width=50>26日</th>
<th id='viewList' align='center' width=50>27日</th>
<th id='viewList' align='center' width=50>28日</th>
<th id='viewList' align='center' width=50>29日</th>
<th id='viewList' align='center' width=50>30日</th>
<th id='viewList' align='center' width=50>31日</th>
</tr>
</thead>
</div>
<tbody>
<tr>
<th id='viewList' align='left' width=100>売上目標</th>
<td id='viewList' align='right' width=50>1,000,000</td>
<td id='viewList' align='right' width=50>1,800,000</td>
<td id='viewList' align='right' width=50>3,000,000</td>
<td id='viewList' align='right' width=50>1,500,000</td>
<td id='viewList' align='right' width=50>1,400,000</td>
<td id='viewList' align='right' width=50>2,000,000</td>
<td id='viewList' align='right' width=50>1,500,000</td>
<td id='viewList' align='right' width=50>2,000,000</td>
<td id='viewList' align='right' width=50>1,400,000</td>
<td id='viewList' align='right' width=50>1,000,000</td>
<td id='viewList' align='right' width=50>1,000,000</td>
<td id='viewList' align='right' width=50>1,000,000</td>
<td id='viewList' align='right' width=50>1,750,000</td>
<td id='viewList' align='right' width=50>1,400,000</td>
<td id='viewList' align='right' width=50>800,000</td>
<td id='viewList' align='right' width=50>1,000,000</td>
<td id='viewList' align='right' width=50>800,000</td>
<td id='viewList' align='right' width=50>1,000,000</td>
<td id='viewList' align='right' width=50>1,800,000</td>
<td id='viewList' align='right' width=50>3,000,000</td>
<td id='viewList' align='right' width=50>1,500,000</td>
<td id='viewList' align='right' width=50>1,400,000</td>
<td id='viewList' align='right' width=50>2,000,000</td>
<td id='viewList' align='right' width=50>1,500,000</td>
<td id='viewList' align='right' width=50>2,000,000</td>
<td id='viewList' align='right' width=50>1,400,000</td>
<td id='viewList' align='right' width=50>1,000,000</td>
<td id='viewList' align='right' width=50>1,000,000</td>
<td id='viewList' align='right' width=50>1,000,000</td>
<td id='viewList' align='right' width=50>1,750,000</td>
<td id='viewList' align='right' width=50>1,400,000</td>
</tr>
<tr>
<th id='viewList' align='left' width=100>税抜売上</th>
<td id='viewList' align='right' width=50>1,220,056</td>
<td id='viewList' align='right' width=50>1,863,510</td>
<td id='viewList' align='right' width=50>3,451,450</td>
<td id='viewList' align='right' width=50>1,080,129</td>
<td id='viewList' align='right' width=50>1,400,858</td>
<td id='viewList' align='right' width=50>2,153,122</td>
<td id='viewList' align='right' width=50>1,432,123</td>
<td id='viewList' align='right' width=50>2,645,451</td>
<td id='viewList' align='right' width=50>1,902,213</td>
<td id='viewList' align='right' width=50>990,784</td>
<td id='viewList' align='right' width=50>1,053,123</td>
<td id='viewList' align='right' width=50>1,001,012</td>
<td id='viewList' align='right' width=50>1,912,311</td>
<td id='viewList' align='right' width=50>1,451,400</td>
<td id='viewList' align='right' width=50>870,012</td>
<td id='viewList' align='right' width=50>1,002,145</td>
<td id='viewList' align='right' width=50>770,973</td>
<td id='viewList' align='right' width=50>1,220,056</td>
<td id='viewList' align='right' width=50>1,863,510</td>
<td id='viewList' align='right' width=50>3,451,450</td>
<td id='viewList' align='right' width=50>1,080,129</td>
<td id='viewList' align='right' width=50>1,400,858</td>
<td id='viewList' align='right' width=50>2,153,122</td>
<td id='viewList' align='right' width=50>1,432,123</td>
<td id='viewList' align='right' width=50>2,645,451</td>
<td id='viewList' align='right' width=50>1,902,213</td>
<td id='viewList' align='right' width=50>990,784</td>
<td id='viewList' align='right' width=50>1,053,123</td>
<td id='viewList' align='right' width=50>1,001,012</td>
<td id='viewList' align='right' width=50>1,912,311</td>
<td id='viewList' align='right' width=50>1,451,400</td>
</tr>
<tr>
<th id='viewList' align='left'>目標達成率</th>
<td id='viewList' align='right'>52.6%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>52.6%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
</tr>
<tr>
<th id='viewList' align='left'>前年売上</th>
<td id='viewList' align='right'>1,132,774</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>1,132,774</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>前年比</th>
<td id='viewList' align='right'>52.6%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>52.6%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
</tr>
<tr>
<th id='viewList' align='left'>食材仕入</th>
<td id='viewList' align='right'>345,441</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>345,441</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>飲料仕入</th>
<td id='viewList' align='right'>303,230</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>303,230</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>仕入合計</th>
<td id='viewList' align='right' bgcolor='#E0F2F7'>648,671</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>648,671</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>仕入比率</th>
<td id='viewList' align='right'>36.99%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>36.99%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
</tr>
<tr>
<th id='viewList' align='left'>人件費</th>
<td id='viewList' align='right'>451,321</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>451,321</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>人件費比率</th>
<td id='viewList' align='right'>36.99%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>36.99%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
<td id='viewList' align='right'>0%</td>
</tr>
<tr>
<th id='viewList' align='left'>客数</th>
<td id='viewList' align='right'>1,452</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>1,452</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>組数</th>
<td id='viewList' align='right'>44,236</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>44,236</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>客単価</th>
<td id='viewList' align='right'>9,751</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>9,751</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>現金</th>
<td id='viewList' align='right'>1,345</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>1,345</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>クレジット</th>
<td id='viewList' align='right'>1,345</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>1,345</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>掛売</th>
<td id='viewList' align='right'>1,345</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>1,345</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>値引き</th>
<td id='viewList' align='right'>975</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>975</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>クーポン</th>
<td id='viewList' align='right'>11,234</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>11,234</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>VOID</th>
<td id='viewList' align='right'>99</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>99</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>釣銭準備金</th>
<td id='viewList' align='right'>45,123</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>45,123</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>実現金</th>
<td id='viewList' align='right'>45,123</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>45,123</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>現金過不足</th>
<td id='viewList' align='right'>6,132</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>6,132</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>銀行入金額</th>
<td id='viewList' align='right'>1,234</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>1,234</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
<td id='viewList' align='right'>0</td>
</tr>
<tr>
<th id='viewList' align='left'>合計</th>
<td id='viewList' align='right' bgcolor='#E0F2F7'>648,671</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>648,671</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
<td id='viewList' align='right' bgcolor='#E0F2F7'>0</td>
</tr>
</td>
</tbody>
</table>
</div>
<br />
<br />
<br />
<script type="text/javascript" src="../jquery/js/scrolltopcontrol2.js"></script> <!--スクロールしながらページのトップに戻る-->
        </div><!-- /#sb-site -->
</body>
</html>
