<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>死に筋商品リスト</title>

    <STYLE type="text/css">
        html,body{width:100%;height:100%;}
        header{width:100%;height:75px;}
        main{width:100%;height:860px;}
        footer{width:100%;height:25px;position:absolute;bottom:0;}
    </STYLE>
</head>
<body>
<!--<div style="page-break-before: always;">-->
    <div>
    <header>
        <div align="left" style="font-style:oblique; line-height: 5px;">
            <h1><span>死に筋商品リスト</span></h1>
        </div>
        <table style="border-bottom:solid 3px #000000;line-height:25px;font-size:28px;">
            <tr>
                <td style="line-height:40px;font-style:oblique;" colspan="5">仕入先：　0001 日磐薬品</td>
            </tr>
            <tr>
                <th align="left" style="width:320px;font-style:oblique;">　　　商品CD</th>
                <th align="left" style="width:350px;font-style:oblique;">商品名</th>
                <th align="left" style="width:150px;font-style:oblique;">部門</th>
                <th align="left" style="width:100px;font-style:oblique;">死に筋月数</th>
                <th align="left" style="width:200px;font-style:oblique;">　在庫数量</th>
            </tr>
        </table>
    </header>
    <main>
        <table align="top" style="line-height:40px;font-size:24px;">
            <tr>
                <td align="center" style="width:320px;">4969432001206</td>
                <td align="left" style="width:350px;">パブラールUVベース35g</td>
                <td align="left" style="width:150px;">01</td>
                <td align="center" style="width:100px;">1</td>
                <td align="center" style="width:200px;">0/2</td>
            </tr>
            <tr>
                <td align="center" style="width:320px;">4969432001207</td>
                <td align="left" style="width:350px;">パブラールUVベース65g</td>
                <td align="left" style="width:150px;">01</td>
                <td align="center" style="width:100px;">2</td>
                <td align="center" style="width:200px;">1/2</td>
            </tr>
        </table>
    </main>
    <footer>
        <table style="font-style:oblique;border-top: solid 3px #434359;width:100%;font-size: 20px;">
            <tr>
                <td style="width:900px; font-style:oblique;">2018年3月12日</td>
                <td style="width:200px; font-style:oblique;">1/1ページ</td>
            <tr>
        </table>
    </footer>
</div>
</body>
</html>
