<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>当日販売商品一覧</title>

    <STYLE type="text/css">
        html,body{width:100%;height:100%;}
        header{width:100%;height:75px;}
        main{width:100%;height:880px;}
        footer{width:100%;height:25px;position:absolute;bottom:0;}
    </STYLE>
</head>
<body>
<!--<div style="page-break-before: always;">-->
    <div>
    <header>
        <div align="left" style="font-style:oblique; line-height:25px;">
            <h1><span>当日販売商品一覧</span></h1>
        </div>
        <table style="border-bottom:solid 3px #000000;line-height:25px;font-size:28px;">
            <tr>
                <td style="font-style:oblique;line-height:40px;" colspan="4">　　売上日：　2017年03月08日</td>
            </tr>
            <tr>
                <th align="left" style="width:380px;font-style:oblique;">　　　商品CD</th>
                <th align="left" style="width:400px;font-style:oblique;">商品名</th>
                <th align="left" style="width:200px;font-style:oblique;">容量</th>
                <th align="left" style="width:200px;font-style:oblique;">売価</th>
            </tr>
        </table>
    </header>
    <main>
        <table style="line-height:30px;font-size:22px;">
            <tr>
                <td align="center" style="width:380px;">4969432001206</td>
                <td align="left" style="width:400px;">ZZZZZ</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:200px;">￥4500</td>
            </tr>
            <tr>
                <td align="center" style="width:380px;">4969432001206</td>
                <td align="left" style="width:400px;">ZZZZZ</td>
                <td align="left" style="width:200px;"></td>
                <td align="left" style="width:200px;">￥4500</td>
            </tr>
            <tr>
                <td colspan="4" align="left">0001 参議製薬</td>
            </tr>
        </table>
    </main>
    <footer>
        <table style="border-top: solid 3px #434359;width:100%;font-size:20px;">
            <tr>
                <td style="width:900px; font-style:oblique;">2018年3月12日</td>
                <td style="width:200px; font-style:oblique;">1/1ページ</td>
            <tr>
        </table>
    </footer>
</div>
</body>
</html>
