<?php
/**
* @file      帳票- 売上モニターリスト(View)
* @author    millionet bhattarai
* @date      2020/02/05
* @version   1.00
* @note      帳票 - 売上モニターリスト
*/

?>
<!DOCTYPE html>
<html>
    <head>
        <?php
        $fileNames = array('default.css','datepicker-ja.js'); // cssまたはｊｓファイルを拡張子付きで配列に記述
        include("../profit/View/Common/HtmlHeader.php");
        ?>
        
        <script src="../js/profit/jquery/jquery.ui.ympicker.js" ></script>
        <script src="../js/profit/jquery/jquery-migrate-1.0.0.js" ></script>
        <script src="../js/profit/jquery/datepicker-ja.js" ></script>
        <script src="../js/autofil_v<?php echo $_SESSION['AUTOFIL_VER'] ?>.js" ></script>
        <!-- modal script-->
        <script src="../js/modal/modal.js" ></script>
        <link rel="stylesheet" href="../css/modal/modal.css" >   
        <script src="../FwCommon/js/common.js" ></script>
        <script src='../js/PDF/print.min.js'></script>
        <link rel="stylesheet" type="text/css" href="../js/PDF/print.min.css">    
        <script type="text/javascript">        
            Sizelist       = '<?php echo json_encode(json_encode($Sizelist)); ?>';
            A_Sizelist     = JSON.parse(Sizelist.slice(1,-1));
            //modal
            porg_id_list        = '<?php echo json_encode(json_encode($org_id_list)); ?>';
            data_org            = JSON.parse(porg_id_list.slice(1,-1));  
            ptypcust_detail     = '<?php echo json_encode($cust_detail); ?>';
            data_cust           = JSON.parse(ptypcust_detail); 
            ptypcredit_detail     = '<?php echo json_encode($credit_detail); ?>';
            data_credit           = JSON.parse(ptypcredit_detail);
            asc = [];
            var cust_select_unic_check =true;
            var cust_select_1_unic_check =true;
            /*修正日：20200317　修正者：バッタライ
             * 修正内容：お支払モーダルで選択できる種類は1のみする*/
            var credit_select_unic_check =true;
            A_data = {};  
        </script>  
        <script type="text/javascript">
            function numberWithCommas(x,precision = 0) {
                // x : value
                // precision : precision to return default 0 (no decimal: 99) | 1 => 99.9 | 2 => 99.99 ...
                x = Math.round(Number(x)*Math.pow(10,precision))/Math.pow(10,precision);
                var parts = x.toString().split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                if(precision){
                    if(!parts[1]){
                        parts[1] = 0;
                    }                    
                    parts[1]=(parts[1]+"0".repeat(precision)).substr(0,precision);
                }              
                return parts.join(".");
            }

            // モーダル表示ファンクション        
            function radio_change_management(){
                var prev = [];
                document.getElementById("serchTable").addEventListener('change', function(e) {
                    if(e.target.name === "period"){
                        if(!prev[e.target.name]){
                            old_id_start="start_date";
                            old_id_end="end_date";                              
                        }else if(prev[e.target.name].value === "day"){
                            old_id_start="start_date";
                            old_id_end="end_date";                            
                        }else if(prev[e.target.name].value === "month"){
                            old_id_start="start_dateM";
                            old_id_end="end_dateM";  
                        }else if(prev[e.target.name].value === "year"){
                            old_id_start="start_year";
                            old_id_end="end_year";
                        }
                        document.getElementById(old_id_start).hidden=true;
                        document.getElementById(old_id_end).hidden=true;
                        document.getElementById(old_id_start).value="";
                        document.getElementById(old_id_end).value="";                                                
                        if(e.target.value === "day"){
                            date_mode = "date";
                            new_id_start="start_date";
                            new_id_end="end_date"; 
                            // checkbox checked
                            today = new Date();
                            document.getElementById(new_id_end).value = today.toISOString().slice(0,10).replace(/-/g,"\/"); 
                            today.setMonth(today.getMonth()-1);
                            document.getElementById(new_id_start).value = today.toISOString().slice(0,10).replace(/-/g,"\/");                            
                        }else if(e.target.value === "month"){
                            date_mode = "dateM";
                            new_id_start="start_dateM";
                            new_id_end="end_dateM";
                            today = new Date();
                            document.getElementById(new_id_end).value = today.toISOString().slice(0,7).replace(/-/g,"\/"); 
                            today.setMonth(today.getMonth()-1);
                            document.getElementById(new_id_start).value = today.toISOString().slice(0,7).replace(/-/g,"\/");                                                        
                        }else if(e.target.value === "year"){
                            date_mode = "year";
                            new_id_start="start_year";
                            new_id_end="end_year";
                            today = new Date();
                            document.getElementById(new_id_end).value = today.toISOString().slice(0,4).replace(/-/g,"\/"); 
                            today.setFullYear(today.getFullYear()-1);
                            document.getElementById(new_id_start).value = today.toISOString().slice(0,4).replace(/-/g,"\/");                                                                                    
                        }         
                        document.getElementById(new_id_start).hidden=false;
                        document.getElementById(new_id_end).hidden=false; 
                        //店舗指定のチェックボックス条件    
                    }else if(e.target.name === "org_r"){
                        document.getElementById("org_select").checked = false;
                        if(!prev[e.target.name]){
                            prev[e.target.name]={value:""};
                        }
                        document.getElementById("org_select").disabled=true;
                        if(e.target.value === "" ){
                            document.getElementById("org_select").disabled=false;
                        }else if(e.target.value === "compile"){
                            document.getElementById("org_select").checked = true;
                        }
                        //顧客範囲のチェックボックス条件 
                    }else if(e.target.name ==="cust_r"){
                        if(!prev[e.target.name]){
                            prev[e.target.name]={value:""};
                        }                        
                        document.getElementById("cust_select").disabled=true;
                        if(e.target.value === "" ){
                            document.getElementById("cust_select").disabled=false;
                        } 
                        document.getElementById("cust_select_1").disabled=true;
                        if(e.target.value === "" ){
                            document.getElementById("cust_select_1").disabled=false;
                        } 
                        //支払方法のチェックボックス条件    
                    }else if(e.target.name ==="credit_r"){
                        if(!prev[e.target.name]){
                            prev[e.target.name]={value:""};
                        }                        
                        document.getElementById("credit_select").disabled=true;
                        if(e.target.value === "" ){
                            document.getElementById("credit_select").disabled=false;
                        }   
                    }    
                    prev[e.target.name] = e.target;
                });
            }
            function sort(field){
                if(sort_table.value.indexOf(field) === -1){
                    sort_table.value = field+" asc";
                }else{
                    if(sort_table.value.indexOf("asc") !== -1){
                        sort_table.value = field+" desc";
                    }else{
                        sort_table.value = field+" asc";
                    }
                }
                search.click();           
            }
            /*ファンクションソート*/               
            function sort_tbody(col_to_sort){
                col_sort_type = "";
                if( !asc[col_to_sort] || asc[col_to_sort] === 0 ){
                    col_sort_type = 1;
                }else{
                    col_sort_type = asc[col_to_sort] * -1;
                }
                //console.log(col_to_sort + ": "+asc[col_to_sort]);
                elem_table_header = document.getElementById("table_header");
                elem_th = elem_table_header.getElementsByTagName('TH');
                for(i=0;i<elem_th.length;i++){
                    elem_th[i].innerHTML = elem_th[i].innerHTML.replace(' ▲',"").replace(' ▼',"");
                    if( elem_th[i].outerHTML.indexOf("'"+col_to_sort+"'") !== -1 ){
                        if( col_sort_type === 1 ){
                            elem_th[i].innerHTML = elem_th[i].innerHTML + ' ▲';
                        }else{
                            elem_th[i].innerHTML = elem_th[i].innerHTML + ' ▼';
                        }
                    }
                }
                asc = [];
                asc[col_to_sort] = col_sort_type;                
                show_data(); 
            }          
        
            /**
             *  イベント制御用
             *
             */
            function set_value(s_val){
                document.serchForm.onbtn.value = s_val;
            }
            //日付け範囲カレンダー表示ファンクション
            $(function() {
                $("#start_date,#end_date").datepicker({
                    numberOfMonths: 2,
                    showCurrentAtPos: 1,
                    showButtonPanel: true,
                    dateFormat: 'yy/mm/dd'
                });
            });
            //pme end 2019.03.11
            /**
             *
             * スクロール制御
             *
             */
            function SyncScroll(/* elem1, elem2, ... */) {
                this._elements = [];
                this._elementOnscroll = this._elementOnscroll.bind(this);
                this.addElement.apply(this, arguments);
            }
            SyncScroll.prototype = {
                enableHorizontal: true,
                enableVertical: true,
                addElement: function (/* elem1, elem2, ... */) {
                    var elem, i;
                    for (i = 0; i < arguments.length; i += 1) {
                        elem = arguments[i];
                        elem.addEventListener('scroll', this._elementOnscroll, false);
                        this._elements.push(elem);
                    }
                },
                removeElement: function (/* elem1, elem2, ... */) {
                    var elem, i, j;
                    for (i = 0; i < arguments.length; i += 1) {
                        elem = arguments[i];
                        elem.removeEventListener('scroll', this._elementOnscroll, false);
                        j = this._elements.indexOf(elem);
                        if (j >= 0) {
                            this._elements.splice(j, 1);
                        }
                    }
                },
                _elementOnscroll: function (event) {
                    var i,
                            elems = this._elements,
                            elem = event.target,
                            x = elem.scrollLeft,
                            y = elem.scrollTop;
                    if (this.enableHorizontal) {
                        for (i = 0; i < elems.length; i += 1) {
                            elem = elems[i];
                            if (elem === event.target || elem.scrollLeft === x) {
                                continue;
                            }
                            elem.scrollLeft = x;
                            if (elem.scrollLeft !== x) {
                                elem.scrollLeft = x + x - elem.scrollLeft;
                            }
                        }
                    }
                    if (this.enableVertical) {
                        for (i = 0; i < elems.length; i += 1) {
                            elem = elems[i];
                            if (elem === event.target || elem.scrollTop === y) {
                                continue;
                            }
                            elem.scrollTop = y;
                            if (elem.scrollTop !== y) {
                                elem.scrollTop = y + y - elem.scrollTop;
                            }
                        }
                    }
                },
                destroy: function () {
                    this.removeElement.apply(this, this._elements);
                }
            };
            window.onload = function () {
                creat_listener();
                // modal
                radio_change_management();           
                org_array = [];
                modal_create_select("org_select",org_array);
                cust_array = [];
                modal_create_select("cust_select",cust_array);
                modal_create_select("cust_select_1",cust_array);
                credit_array = [];
                modal_create_select("credit_select",credit_array);

                // 横方向のみ
                var sample3_1 = document.getElementById('header_h');
                var sample3_2 = document.getElementById('data');
                var sample3_3 = document.getElementById('footer_h');
                var syncScroll3 = new SyncScroll(sample3_1, sample3_2, sample3_3);
                syncScroll3.enableVertical = false;
            };
            //選択した店舗の見出し設定情報を取得
            function getdata(){  
                // modal data
                start_date_id = "start_date";
                end_date_id   = 'end_date';
                elem_str_date = document.getElementById(start_date_id).value.replace(/\//g,"");
                elem_end_date = document.getElementById(end_date_id).value.replace(/\//g,"");
                if(elem_str_date === ""){
                    alert("※売上日付を入力してください。");
                    document.getElementById(start_date_id).focus();
                    return false;
                }else if(elem_end_date === ""){
                    alert("※売上日付を入力してください。");
                    document.getElementById(end_date_id).focus();
                    return false;
                }
                if(elem_str_date > elem_end_date){
                    alert("※期間指定が不正です。開始日が終了日を超えています。");
                    document.getElementById(start_date_id).value="";
                    document.getElementById(start_date_id).focus();
                    return false;
                }
                // 店舗指定チェックした時のエラーメッセージ
                if(org_r_selected.checked){
                  org_id.value = org_list.replace(/^,/,"'").replace(/,/g,"','").replace(/$/,"'");
                    if(!org_list){
                        alert("※店舗を選択してください。");
                        org_select.focus();
                        return false;
                    }
                }else{
                    org_id.value = false;
                }
                //顧客範囲チェックした時のエラーメッセージ                    
                if(cust_r_selected.checked){  
                    if(cust_select.value === 'empty'){
                        alert("※顧客を選択してください。");
                        cust_select.focus();
                        return false;
                    }else 
                        if(cust_select_1.value === 'empty'){
                            alert("※顧客を選択してください。");
                            cust_select_1.focus();
                            return false;
                        }
                    cust_cd.value = true;
                }else{
                    cust_cd.value = false;
                }
                //お支払方法チェックした時のエラーメッセージ                    
                if(credit_r_selected.checked){
                    credit_cd.value = credit_list.replace(/^,/,"'").replace(/,/g,"','").replace(/$/,"'");
                    if(!credit_list){
                        alert("※お支払方法を選択してください。");
                        credit_select.focus();
                        return false;
                    }
                }else{
                    credit_cd.value = false; 
                } 
                //お支払方法チェックした時のエラーメッセージ  
                if(!uriage_kbn.checked&&!henpin_kbn.checked){
                    alert("※取引種別を選択してください。");
                    uriage_kbn.focus();
                    return false;
                }
                result1 = '';
                setTimeout( async function () {
                    datasend ={};
                    datasend['start_date']    = start_date.value.replace(/\//g , '');
                    datasend['end_date']      = end_date.value.replace(/\//g , '');
                    datasend['org_id']        = org_id.value;
                    datasend['org_select']    = org_select.value;
                    datasend['cust_cd']       = cust_cd.value;
                    datasend['cust_cd_1']     = cust_cd.value;
                    datasend['cust_select']   = cust_select.value;
                    datasend['cust_select_1'] = cust_select_1.value;
                    datasend['credit_cd']     = credit_cd.value;
                    datasend['credit_select'] = credit_select.value;
                    if(uriage_kbn.checked){
                        datasend['uriage_kbn'] = uriage_kbn.value;
                    }
                    if(henpin_kbn.checked){
                        datasend['henpin_kbn'] = henpin_kbn.value;
                    }            
                    var response = await fetch('./index.php?param=LedgerSheetSalesMonitorList/getdata',{method: 'joken',body:JSON.stringify(datasend)});
                    //A_data = JSON.parse(result1);
                    //A_result = await response.text();
                    // console.log(A_result);
                    A_result = await response.json();
                    A_data = A_result['dataget'];
                    //         console.log(A_data);
                    show_data();    
                },100);
            } 
            //データ表示カラム作成
            function insert_row(row,table_name){
                trow     = window[table_name].insertRow();
                if(row["background"]){
                    //console.log(row);
                    trow.style.backgroundColor = row["background"];
                }
                proc_date     =  trow.insertCell(0); //日付表示列作成
                org_nm        =  trow.insertCell(1); //店舗名表示列作成
                staff_nm      =  trow.insertCell(2); //顧客コード表示列作成
                cust_cd1      =  trow.insertCell(3); //担当者名表示列作成
                cust_nm　     =  trow.insertCell(4); //顧客名表示列作成
                den_no        =  trow.insertCell(5); //伝票番号表示列作成
                torihiki_kbn  =  trow.insertCell(6); //取引区分表示列作成
                credit_nm     =  trow.insertCell(7); //種別種別表示列作成
                prod_cd       =  trow.insertCell(8); //商品コード表示列作成
                prod_nm       =  trow.insertCell(9); //商品名表示列作成
                amount        =  trow.insertCell(10); //数量表示列作成
                unit_price    =  trow.insertCell(11);//単価表示列作成
                newa_kbn      =  trow.insertCell(12);//値区表示列作成
                dis_price     =  trow.insertCell(13);//値引金額表示列作成
                utax          =  trow.insertCell(14);//外税表示列作成
                itax          =  trow.insertCell(15);//内税表示列作成
                total_price   =  trow.insertCell(16);//合計金額作成
                pre_den_no    =  trow.insertCell(17);//元伝票番号作成
                pre_den_date  =  trow.insertCell(18);//元伝票日付作成

                proc_date.innerHTML    = row["proc_date"].replace(/(\d{4})(\d{2})(\d{2})/g, '$1/$2/$3');
                org_nm.innerHTML       = row["org_id"];
                staff_nm.innerHTML     = row["staff_cd"];
                cust_cd1.innerHTML     = row["cust_cd"];
                cust_nm.innerHTML      = row["cust_nm"];
                den_no.innerHTML       = row["den_no"];
                torihiki_kbn.innerHTML = row["torihiki_kbn"];
                /*修正日：20200313　修正者：バッタライ
                 　*/
                if(row["background"]||table_name==='table_footer'){
                    credit_nm.innerHTML    ='';
                }else{
                     if(row["genkin_nm"]!==''){
                        credit_nm.innerHTML    = row["genkin_nm"];
                    }                
                    if(row["point_nm"]!==''){
                        credit_nm.innerHTML    += row["point_nm"];
                    }
                    if(row["gift_nm"]!==''){
                        credit_nm.innerHTML    += row["credit_nm"];
                    }
                    if(row["credit_nm"]!==''){
                        credit_nm.innerHTML    += row["credit_nm"];
                    }                    
                }
                credit_nm.innerHTML.replace(/^./,'');
                    
                prod_cd.innerHTML      = row["prod_cd"];
                prod_nm.innerHTML      = row["prod_nm"];
                amount.innerHTML       = row["amount"].split('.')[0];
                if(row["unit_price"])unit_price.innerHTML   = numberWithCommas(row["unit_price"]);
                //修正日:2020/03/10 修正者：バッタライ　修正内容：明細事の値引金額を表示しない
                //newa_kbn.innerHTML     = row["newa_kbn"];
                //dis_price.innerHTML    = numberWithCommas(row["dis_price"]);
                if(row["background"]||table_name==='table_footer'){
                    //
                    if(row["dis_price"] !== 0){
                        newa_kbn.innerHTML         = '値引';
                    }                   
                    dis_price.innerHTML        = numberWithCommas(row["dis_price"]); 
                }
                //修正日:2020/03/10 修正者：バッタライ　修正内容：商品事の税金表示止め
                //                utax.innerHTML         = numberWithCommas(row["utax"]);
                //                itax.innerHTML         = numberWithCommas(row["itax"]);
                if(row["background"]||table_name==='table_footer'){
                    utax.innerHTML         = numberWithCommas(row["utax"]);
                    itax.innerHTML         = numberWithCommas(row["itax"]); 
                }
                total_price.innerHTML  = numberWithCommas(row["total_price"]);
                pre_den_no.innerHTML   = row["pre_den_no"];
                if(row["pre_den_date"])pre_den_date.innerHTML = row["pre_den_date"].replace(/(\d{4})(\d{2})(\d{2})/g, '$1/$2/$3');
            }  
            //データ表示ファンクション
            function show_data(){
                            
                table_body.innerHTML = ""; 
                table_footer.innerHTML = "";                
                t_date_list = Object.keys(A_data).sort();
                if(asc["proc_date"]){
                    if(asc["proc_date"] === -1){
                        // Desc
                        t_date_list.reverse();
                    }
                }                
                var row_calc = [];
                var row_calc_den = [];
                var row_tot  = [];
                //総合計
                row_tot['proc_date']      = '総合計';
                row_tot['org_id']         = '';
                row_tot['staff_cd']       = '';
                row_tot['cust_cd']        = '';
                row_tot['cust_nm']        = '';
                row_tot['den_no']         = '';
                row_tot['torihiki_kbn']   = '';
                row_tot['credit_nm']      = '';
                row_tot['prod_cd']        = '';
                row_tot['prod_nm']        = '';
                row_tot['amount']         = '';                       
                row_tot['unit_price']     = '';
                row_tot['newa_kbn']       = '';                    
                row_tot['dis_price']      = 0
                row_tot['utax']           = 0;
                row_tot['itax']           = 0;
                row_tot['total_price']    = 0;  
                row_tot['pre_den_no']     = '';
                row_tot['pre_den_date']   = '';                 
                //console.log(t_date_list);
                if(t_date_list.length === 0){
                    csv_data.hidden = true;
                }else{
                    csv_data.hidden = false;
                }
                for(i=0;i<t_date_list.length;i++){
                    loop_date = t_date_list[i];
                    org_id_list = Object.keys(A_data[loop_date]).sort();
                    if(asc["org_id"]){
                        if(asc["org_id"] === -1){
                            // Desc
                            org_id_list.reverse();
                        }
                    }
                    //日別合計
                    row_calc['background']     = 'grey';
                    row_calc['proc_date']      = '日別合計';
                    row_calc['org_id']         = '';
                    row_calc['staff_cd']       = '';
                    row_calc['cust_cd']        = '';
                    row_calc['cust_nm']        = '';
                    row_calc['den_no']         = '';
                    row_calc['torihiki_kbn']   = '';
                    row_calc['credit_nm']      = '';
                    row_calc['prod_cd']        = '';
                    row_calc['prod_nm']        = '';
                    row_calc['amount']         = '';                       
                    row_calc['unit_price']     = '';
                    row_calc['newa_kbn']       = '';                    
                    row_calc['dis_price']      = 0;
                    row_calc['utax']           = 0;
                    row_calc['itax']           = 0;
                    row_calc['total_price']    = 0;  
                    row_calc['pre_den_no']     = '';
                    row_calc['pre_den_date']   = '';                    
                    for(j=0;j<org_id_list.length;j++){
                        loop_org_id = org_id_list[j];  
                        cust_cd_list = Object.keys(A_data[loop_date][loop_org_id]).sort();
                        if(asc["cust_cd"]){
                            if(asc["cust_cd"] === -1){
                                // Desc
                                cust_cd_list.reverse();
                            }
                        }                 
                        for(k=0;k<cust_cd_list.length;k++){
                            loop_cust_cd = cust_cd_list[k]; 
                            den_no_list = Object.keys(A_data[loop_date][loop_org_id][loop_cust_cd]).sort();
                            for(l=0;l< den_no_list.length;l++){
                                loop_den_no = den_no_list[l];
                                //伝票別合計
                                row_calc_den['background']     = 'lightgrey';
                                row_calc_den['proc_date']      = '伝票計';
                                row_calc_den['staff_cd']       = '';
                                row_calc_den['org_id']         = '';
                                row_calc_den['cust_cd']        = '';
                                row_calc_den['cust_nm']        = '';
                                row_calc_den['den_no']         = '';
                                row_calc_den['torihiki_kbn']   = '';
                                row_calc_den['credit_nm']      = '';
                                row_calc_den['prod_cd']        = '';
                                row_calc_den['prod_nm']        = '';
                                row_calc_den['amount']         = '';                       
                                row_calc_den['unit_price']     = '';
                                row_calc_den['newa_kbn']       = '';                    
                                row_calc_den['dis_price']      = 0;
                                row_calc_den['utax']           = 0;
                                row_calc_den['itax']           = 0;
                                row_calc_den['total_price']    = 0;  
                                row_calc_den['pre_den_no']     = '';
                                row_calc_den['pre_den_date']   = '';                     
                                for(m=0;m<A_data[loop_date][loop_org_id][loop_cust_cd][loop_den_no].length;m++){
                                    loop_row = A_data[loop_date][loop_org_id][loop_cust_cd][loop_den_no][m];
                                    if(j=== 0 && k===0 && l===0 && m===0){
                                        loop_date_show = loop_date;
                                    }else{
                                        loop_date_show='';
                                    }   
                                    if( k===0 && l===0 && m===0){
                                        loop_org_show = loop_row['org_nm'];
                                    }else{
                                        loop_org_show='';
                                    } 
                                    if( l===0 && m===0){
                                        loop_cust_cd_show = loop_row['cust_cd'];
                                        loop_cust_nm_show = loop_row['cust_nm'];
                                    }else{
                                        loop_cust_cd_show='';
                                        loop_cust_nm_show='';
                                    }
                                    if(m===0){
                                        loop_den_no_show = loop_den_no;
                                        loop_credit_nm_show = loop_row['credit_nm'];
                                        loop_genkin_nm_show = loop_row['genkin_nm']
                                        loop_point_nm_show  = loop_row['point_nm']
                                        loop_gift_nm_show   = loop_row['gift_nm']
                                        //loop_torihiki_kbn_show = loop_row['torihiki_kbn'];
                                        loop_staff_nm_show = loop_row['staff_nm'];
                                    }else{
                                        loop_den_no_show='';
                                        loop_credit_nm_show='';
                                        loop_genkin_nm_show ='';
                                        loop_point_nm_show='';
                                        loop_gift_nm_show='';
                                        //loop_torihiki_kbn_show='';
                                        loop_staff_nm_show     ='';
                                    }                                    
                                    var row_print = [];
                                    row_print['proc_date']      = loop_date_show;
                                    row_print['org_id']         = loop_org_show;
                                    row_print['staff_cd']       = loop_staff_nm_show;
                                    row_print['cust_cd']        = loop_cust_cd_show;
                                    row_print['cust_nm']        = loop_cust_nm_show;
                                    row_print['den_no']         = loop_den_no_show;
                                    row_print['torihiki_kbn']   = loop_row['torihiki_kbn'];
                                    row_print['genkin_nm']      = loop_genkin_nm_show;
                                    row_print['point_nm']       = loop_point_nm_show;
                                    row_print['gift_nm']        = loop_gift_nm_show;
                                    row_print['credit_nm']      = loop_credit_nm_show;
                                    row_print['prod_cd']        = loop_row['prod_cd'];
                                    row_print['prod_nm']        = loop_row['prod_nm'];
                                    row_print['amount']         = loop_row['amount'];                       
                                    row_print['unit_price']     = loop_row['unit_price'];
                                    //row_print['newa_kbn']       = loop_row['newa_kbn'];
                                    row_print['newa_kbn']       = '';
                                    //row_print['dis_price']      = loop_row['dis_price'];
                                    row_print['dis_price']      = '';
                                    //修正日:2020/03/10 修正者：バッタライ　修正内容：商品事の税金表示止め
                                    // row_print['utax']           = loop_row['utax'];
                                    // row_print['itax']           = loop_row['itax'];
                                    row_print['utax']           = '';
                                    row_print['itax']           = '';
                                    row_print['total_price']    = loop_row['total_price'];
                                    row_print['pre_den_no']     = loop_row['pre_den_no'];
                                    row_print['pre_den_date']   = loop_row['pre_den_date'];
                                    //伝票合計表示   
                                    row_calc_den['newa_kbn']       = loop_row['newa_kbn'];
                                    row_calc_den['dis_price']      += Number(loop_row['dis_price']);
                                    row_calc_den['utax']           = Number(loop_row['utax']);
                                    row_calc_den['itax']           = Number(loop_row['itax']);
                                    row_calc_den['total_price']    = Number(loop_row['den_total_price']);                                                             
                                    insert_row(row_print,'table_body');
                                }
                                //伝票合計表示
                                insert_row(row_calc_den,'table_body');
                                //日別合計表示
                                row_calc['dis_price']      += Number(row_calc_den['dis_price']);
                                row_calc['utax']           += Number(row_calc_den['utax']);
                                row_calc['itax']           += Number(row_calc_den['itax']);
                                row_calc['total_price']    += Number(row_calc_den['total_price']);                                  
                            }                                
                        }                      
                    }
                    //日別合計表示
                    insert_row(row_calc,'table_body');
                    //総合計表示 
                    row_tot['dis_price']      += Number(row_calc['dis_price']);
                    row_tot['utax']           += Number(row_calc['utax']);
                    row_tot['itax']           += Number(row_calc['itax']);
                    row_tot['total_price']    += Number(row_calc['total_price']);   
                }
                //総合計表示
                insert_row(row_tot,'table_footer');
            }
　　　　　　/*修正日：20200313　修正者：バッタライ
        　　　修正内容：function csvoutputをfunction printPDFに変更*/
            //ファンクションCSV出力
            /*function csvoutput(){               
                header_text = header_h.getElementsByTagName('tr')[0].innerText.replace(' ▲',"").replace(' ▼',"").replace(/[\n,\r]/g,'').replace(/\t/g,",");
                elem_tr_list = data.getElementsByTagName('tr');
                data_send = [];
                var csv_data_o = {};
                csv_data_o['"0"'] = header_text;
                var row_nb = 1;
                for(i=0;i<elem_tr_list.length;i++){
                    if(elem_tr_list[i].style.backgroundColor){
                        //console.log(elem_tr_list[i]);
                        continue;
                    }                            
                    csv_data_o['"'+row_nb+'"'] = '"'+elem_tr_list[i].innerText.replace(/\t/g,'","')+'"';
                    row_nb +=1;
                }
                data_send["csv_data"] = JSON.stringify(csv_data_o);
                //data_sendを送ります。
                spath       = 'index.php?param=LedgerSheetSalesMonitorList/csvoutput';
                //console.log(spath);
                setDataForAjax( data_send, spath ,'ajaxScreenUpdate' );                                        
                return;                
            }*/
            //ファンクションPDF出力
            function printPDF(){
              // alert('用紙サイズは「A3」とレイアウトは「横」に設定してください。');
                pdf_header.innerHTML = '日付：'+start_date.value+' ～ '+end_date.value+'　店舗：';
                if(org_r_all.checked){
                    pdf_header.innerHTML += '全店舗';
                }else if(org_select.value !== 'empty'){
                    pdf_header.innerHTML += org_select.selectedOptions[0].innerText;
                }else{
                    A_org_list = org_list.replace(/^,/,'').split(',');
                    for(i=0;i<A_org_list.length;i++){
                        pdf_header.innerHTML += data_org[A_org_list[i]]['org_nm']+'　';
                    }            
                }
                if(cust_r_selected.checked){
                     pdf_header.innerHTML +='<br \>顧客範囲：'+cust_select.options[0].innerText+ '　～　'+cust_select_1.options[0].innerText;
                }
                if(credit_r_selected.checked){
                     pdf_header.innerHTML +='<br \>支払方法：'+credit_select.options[0].innerText+'　 ';
                }               
                style = 'td,th { border: 1px solid #d9d9d9 !important;} .column{float:center;}';
                style += " table {font-family: 'Roboto','Segoe UI',Arial,Meiryo,sans-serif;font-size:8px;}#sep{display:none;}#display{display:none;}";
                style += ' table{border-collapse: collapse;}';
                style += ' #table_header th:first-child,#table_body td:first-child,#table_footer td:first-child{width:8em;}';//日付
                style += ' #table_header th:nth-child(2),#table_body td:nth-child(2),#table_footer td:nth-child(2){width:6em;}';//店舗名
                style += ' #table_header th:nth-child(3),#table_body td:nth-child(3),#table_footer td:nth-child(3){width:7em;}';//担当者名
                style += ' #table_header th:nth-child(4),#table_body td:nth-child(4),#table_footer td:nth-child(4){width:65px;display:none;}';//顧客コード
                style += ' #table_header th:nth-child(5),#table_body td:nth-child(5),#table_footer td:nth-child(5){width:10em;}';//顧客名               
                style += ' #table_header th:nth-child(6),#table_body td:nth-child(6),#table_footer td:nth-child(6){width:45px;display:none;}';//伝票番号	
                style += ' #table_header th:nth-child(7),#table_body td:nth-child(7),#table_footer td:nth-child(7){width:3em;}';//取引区分	
                style += ' #table_header th:nth-child(8),#table_body td:nth-child(8),#table_footer td:nth-child(8){width:9em;}';//支払種別	
                style += ' #table_header th:nth-child(9),#table_body td:nth-child(9),#table_footer td:nth-child(9){width:11em;}';//商品コード	
                style += ' #table_header th:nth-child(10),#table_body td:nth-child(10),#table_footer td:nth-child(10){width:14em;}';//商品名	
                style += ' #table_header th:nth-child(11),#table_body td:nth-child(11),#table_footer td:nth-child(11){width:5em;text-align: right;}';//数量
                style += ' #table_header th:nth-child(12),#table_body td:nth-child(12),#table_footer td:nth-child(12){width:7em;text-align: right;}';//単価
                style += ' #table_header th:nth-child(13),#table_body td:nth-child(13),#table_footer td:nth-child(13){width:7em;display:none;}';//値区	
                style += ' #table_header th:nth-child(14),#table_body td:nth-child(14),#table_footer td:nth-child(14){width:8em;text-align: right;}';//値引金額	
                style += ' #table_header th:nth-child(15),#table_body td:nth-child(15),#table_footer td:nth-child(15){width:8em;text-align: right;}';//外税	
                style += ' #table_header th:nth-child(16),#table_body td:nth-child(16),#table_footer td:nth-child(16){width:0em;text-align: right;display:none;}';//内税	
                style += ' #table_header th:nth-child(17),#table_body td:nth-child(17),#table_footer td:nth-child(17){width:10em;text-align: right;}';//合計金額	
                style += ' #table_header th:nth-child(18),#table_body td:nth-child(18),#table_footer td:nth-child(18){width:9em;}';//元伝票番号	            
                style += ' #table_header th:nth-child(19),#table_body td:nth-child(19),#table_footer td:nth-child(19){width:8em;}';//元伝票日付
                //ヘッタテキストセンタにする
                style += ' #table_header th:nth-child(11),#table_header th:nth-child(12),#table_header th:nth-child(14),#table_header th:nth-child(15),#table_header th:nth-child(16),#table_header th:nth-child(17){text-align: center;}';
                
                printJS({
                    header:'売上モニターリスト',
                    headerStyle:'font-size:14px;',
                    printable:'PDF_data',
                    type: 'html',
                    scanStyles: false,
                    honorMarginPadding:false,
                    style: style,
               
                });
                pdf_header.innerHTML = '';
                setTimeout(remove_iframe, 10000);
                //document.getElementById('printJS').parentNode.removeChild(document.getElementById('printJS'));
            }            
        </script>
        <STYLE type="text/css">
            .serchListArea 
            tr:nth-child(even) td {
                background: transparent; 
            }
            /*検索条件ボックス幅と位置移動*/
            #search_param{
                overflow: hidden;
                max-width: 1220px;
                margin-left: auto !important;
                margin-right: auto !important;
            }        
            #header_h,#footer_h,#sep {
                width:calc(100% - 16px);
                overflow-x:hidden;
                overflow-y:hidden;       
            }
            #data {
                width:100%;
                max-height:505px;
                overflow-x:scroll;
                overflow-y:scroll;
                table-layout: fixed;
            }
            .short{
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-decoration: none;
            }
            #serchTable th{
                width:18px;
            }
            #start_date{
                margin-top:2px;
                margin-bottom: 2px;
            }
            select{
                max-width:80px;
            }
            /*データ表示テーブルの印字位置*/            
            #table_body td:nth-child(11),
            #table_footer td:nth-child(11),
            #table_body td:nth-child(12),
            #table_footer td:nth-child(12),
            #table_body td:nth-child(14),
            #table_footer td:nth-child(14),
            #table_body td:nth-child(15),
            #table_footer td:nth-child(15),
            #table_body td:nth-child(16),
            #table_footer td:nth-child(16),
            #table_body td:nth-child(17),
            #table_footer td:nth-child(17){
                text-align: right;
            }
            /*日付幅設定*/
            #table_body td:first-child,
            #table_header th:first-child,
            #table_footer td:first-child{
                width:80px; 
            }
            /*店舗名幅設定*/
            #table_body td:nth-child(2),
            #table_header th:nth-child(2),
            #table_footer td:nth-child(2){
                width:80px; 
            }
            /*担当者幅設定*/
            #table_body td:nth-child(3),
            #table_header th:nth-child(3),
            #table_footer td:nth-child(3){
                width:100px; 
            }
            /*顧客コード幅設定*/
            #table_body td:nth-child(4),
            #table_header th:nth-child(4),
            #table_footer td:nth-child(4){
                width:100px; 
            }
            /*顧客名幅設定*/
            #table_body td:nth-child(5),
            #table_header th:nth-child(5),
            #table_footer td:nth-child(5){
                width:120px; 
            }              
            /*伝票番号幅設定*/
            #table_body td:nth-child(6),
            #table_header th:nth-child(6),
            #table_footer td:nth-child(6){
                width:80px; 
            }
            /*取引区分幅設定*/
            #table_body td:nth-child(7),
            #table_header th:nth-child(7),
            #table_footer td:nth-child(7){
                width:60px; 
            }
            /*支払種別幅設定*/
            #table_body td:nth-child(8),
            #table_header th:nth-child(8),
            #table_footer td:nth-child(8){
                width:130px; 
            }            
            /*商品コード幅設定*/
            #table_body td:nth-child(9),
            #table_header th:nth-child(9),
            #table_footer td:nth-child(9){
                width:100px; 
            }
            /*商品名幅設定*/
            #table_body td:nth-child(10),
            #table_header th:nth-child(10),
            #table_footer td:nth-child(10){
                width:240px; 
            }
            /*数量幅設定*/
            #table_body td:nth-child(11),
            #table_header th:nth-child(11),
            #table_footer td:nth-child(11){
                width:50px; 
            }
            /*単価幅設定*/
            #table_body td:nth-child(12),
            #table_header th:nth-child(12),
            #table_footer td:nth-child(12){
                width:90px; 
            }
            /*値区幅設定*/
            #table_body td:nth-child(13),
            #table_header th:nth-child(13),
            #table_footer td:nth-child(13){
                width:60px; 
            }
            /*値引金額幅設定*/
            #table_body td:nth-child(14),
            #table_header th:nth-child(14),
            #table_footer td:nth-child(14){
                width:90px; 
            }
            /*外税幅設定*/
            #table_body td:nth-child(15),
            #table_header th:nth-child(15),
            #table_footer td:nth-child(15){
                width:90px; 
            }
            /*内税幅設定*/
            #table_body td:nth-child(16),
            #table_header th:nth-child(16),
            #table_footer td:nth-child(16){
                width:90px; 
            }
            /*合計金額幅設定*/
            #table_body td:nth-child(17),
            #table_header th:nth-child(17),
            #table_footer td:nth-child(17){
                width:100px; 
            }
            /*元伝票番号幅設定*/
            #table_body td:nth-child(18),
            #table_header th:nth-child(18),
            #table_footer td:nth-child(18){
                width:80px; 
            }
            /*元伝票日付幅設定*/
            #table_body td:nth-child(19),
            #table_header th:nth-child(19),
            #table_footer td:nth-child(19){
                width:80px; 
            }             
            #csv_data {
                margin-top:2px;
            }
        </STYLE>
    </head>
    <body>
        <?php
        if( isset($_GET['home']) ) {
        if( "1" ==  $_GET['home'] ){
        include("../home/View/Common/PageHeader.php");
        }else{
        include("Common/PageHeader.php");
        }
        }else{
        include("Common/PageHeader.php");
        }
        ?>      
        <!-- site -->
        <div id="sb-site">
            <div class="serchListArea">
                <!-- 検索条件ボックス -->
                <div id="search_param">
                    <table align="center">
                        <tr>
                            <td>
                                <table id="serchTable">
                                    <tr>
                                        <th align="center">帳票</th> 
                                        <td  width=65>売上モニターリスト</td>
                                        <th  align="center">日付<br />範囲</th>
                                        <td width="60">
                                            <input type="text" pattern="\d{4}/\d{2}/\d{2}" title="西暦/月の形式で入力してください。" id="start_date" name="start_date" size="10" value=<?php hsc($startDate); ?>></br>
                                            <input type="text" pattern="\d{4}/\d{2}/\d{2}" title="西暦/月の形式で入力してください。" id="end_date" name="end_date" size="10" value=<?php hsc($endDate); ?>>
                                        </td>
                                        <!--店舗指定モーダル表示-->
                                        <th align="center">店舗<br/>指定</th>
                                        <td align="left" width=70>
                                            <input type="radio" name="org_r" id="org_r_all" value="all" checked> 全店<br />
                                            <input type="radio" name="org_r" id="org_r_selected" value=""> 店舗指定&nbsp;&nbsp;
                                            <select id="org_select" name="org_select" disabled onchange="modal_select_mgt(event)"><option value="no">&nbsp;</option></select>
                                            <input type="text" name="org_id" value="" id="org_id" hidden>
                                            <input type="text" name="org_nm_lst" value="" id="org_nm_lst" hidden> 
                                        </td>
                                        <!--顧客範囲モーダル表示-->
                                        <th  align="center">顧客<br/>範囲</th>
                                        <td align="left" width="110">
                                            <input type="radio" name="cust_r" id="cust_r_all" value="all" checked>指定しない<br />
                                            <input type="radio" name="cust_r" id="cust_r_selected" value="">
                                            <select id="cust_select" name="cust_select" disabled onchange="modal_select_mgt(event)"><option value="no">&nbsp;</option></select>～ <select id="cust_select_1" name="cust_select_1" disabled onchange="modal_select_mgt(event)"><option value="">&nbsp;</option></select>
                                            <input type="text" name="cust_cd" value="" id="cust_cd" hidden>
                                            <input type="text" name="cust_cd_1" value="" id="cust_cd_1" hidden>
                                            <input type="text" name="cust_nm_lst" value="" id="cust_nm_lst" hidden> 
                                        </td>
                                        <th align="center">支払<br/>方法</th>
                                        <td align="left" width=60>
                                            <input type="radio" name="credit_r" id="credit_r_all" value="all" checked> 指定しない<br />
                                            <input type="radio" name="credit_r" id="credit_r_selected" value=""> &nbsp;
                                            <select id="credit_select" name="credit_select"  disabled onchange="modal_select_mgt(event)"><option value="no"></option></select>
                                            <input type="text" name="credit_cd" value="" id="credit_cd" hidden>
                                            <input type="text" name="credit_nm_lst" value="" id="credit_nm_lst" hidden> 
                                        </td>    
                                        <th align="center">取引<br/>種別</th>
                                        <td align="left" width=40>
                                            <input type="checkbox" name="kbn_r" id="uriage_kbn" value=1 checked>&nbsp;売上<br />
                                            <input type="checkbox" name="kbn_r" id="henpin_kbn" value=-1 checked>&nbsp;返品
                                        </td>                                         
                                        <td align="center" width="65">
                                            <button onClick="getdata()">　検索　</button><br />
                                            <!--修正日：20200313　修正者：バッタライ
                                            　　修正内容：CSV出力ボタンをPDF出力ボタンに変更-->
                                            <!--<button onClick="csvoutput()" hidden id="csv_data">CSV出力</button>-->
                                            <button onClick="printPDF()" hidden id="csv_data">PDF出力</button>
                                            <input type="hidden" name="onbtn">        
                                        </td>
                                    </tr>
                                </table>
                                <!-- The Modal -->
                                <div id="modal_org" class="modal">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <?php include("../modal/View/Modalorganization.html"); ?>
                                    </div>
                                </div>
                                <div id="modal_cust" class="modal">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <?php  include("../modal/View/Modalcustomer.html"); ?>
                                    </div>
                                </div>   
                                <div id="modal_credit" class="modal">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <?php  include("../modal/View/Modalcredit.html"); ?>
                                    </div>
                                </div>                                
                            </td>
                        </tr>
                    </table>   
                </div>  
                <br />
                <div id="PDF_data">
                    <div id='pdf_header'>
                    </div>
                    <!-- 固定ヘッダ -->
                    <table id="table_id">
                        <tr>
                            <td>
                                <!-- 水平ヘッダ -->
                                <div id="header_h">
                                    <table id='table_header'>
                                        <tr>
                                            <th id="sort_proc_date" onClick="sort_tbody('proc_date')"><u>日付</u></th> <!-- 日付表示列-->
                                            <th id="sort_org_nm" onClick="sort_tbody('org_id')"><u>店舗名</u></th><!--店舗名表示列 --> 
                                            <th id="sort_staff_nm" >担当者名</th><!--担当者名表示列-->
                                            <th id="sort_cust_cd" onClick="sort_tbody('cust_cd')"><u>顧客コード</u></th><!--顧客コード表示列-->                                        
                                            <th id="sort_cust_nm">顧客名</th><!--顧客名表示列-->
                                            <th id="sort_den_no" >伝票番号</th><!--伝票番号表示列-->
                                            <th id="sort_torihiki_kbn" >取引区分</th><!--取引区分表示列-->  
                                            <th id="sort_credit_nm" >支払種別</th><!--取引区分表示列-->   
                                            <th id="sort_prod_cd">商品コード</th><!--商品コード表示列-->
                                            <th id="sort_prod_nm">商品名</th><!--商品名表示列-->
                                            <th id="sort_amount">数量</th><!--数量表示列-->
                                            <th id="sort_unit_price">単価</th><!--単価表示列-->
                                            <th id="sort_newa_kbn">値区</th><!--値区表示列-->
                                            <th id="sort_dis_price" >値引金額</th><!--値引金額表示列-->
                                            <th id="sort_utax">外税</th><!--外税表示列-->
                                            <th id="sort_itax">内税</th><!--内税表示列-->
                                            <th id="sort_total_price">合計金額</th><!--合計金額表示列-->
                                            <th id="sort_pre_den_num">元伝票番号</th><!--元伝票番号表示列-->
                                            <th id="sort_pre_den_date">元伝票日付</th><!--元伝票日付表示列-->
                                        </tr>
                                    </table>
                                    <input type="hidden" id="sort_table" name="sort_table">                
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- データ部分  -->
                                <div id="data">
                                    <table id='table_body'>
                                        
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr id="display">
                            <td>        
                                <div id='sep'>
                                    <table>
                                        <tr>
                                            <th></th>
                                        </tr>
                                    </table>
                                </div> 
                            </td>    
                        </tr>    
                        <tr>
                            <td>
                                <div id="footer_h">
                                    <table id='table_footer'>
                                        
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>    
            </div>
            <script type="text/javascript" src="../js/profit/jquery/js/scrolltopcontrol2.js"></script>
            <!--スクロールしながらページのトップに戻る-->
        </div><!-- /#sb-site -->    
    </body>
</html>
