<?php
    /**
     * @file      POS予約商品マスタ画面(View)
     * @author    川橋
     * @date      2019/01/21
     * @version   1.00
     * @note      POS予約商品マスタ画面
     */
?>
<!DOCTYPE html>
<html>
    <head>
        <?php
//            $fileNames = array('default.css', 'common.js', 'jquery-ui.min.js', 'jquery-ui.css'); // cssまたはｊｓファイルを拡張子付きで配列に記述 
            $fileNames = array( 'default.css',
                                'common.js',
                                'jquery-ui.min.js',
                                'jquery-ui.css',
                                'viewpos.js');        // cssまたはｊｓファイルを拡張子付きで配列に記述 

            include("Common/HtmlHeader.php"); 
        ?>
        <script type="text/javascript">
            var displayPageNo = 1;
            var displayRecordCnt = <?php hsc($_SESSION["DISPLAY_RECORD_CNT"]); ?>;
            var mst0211ItemInfo = null;
            var mst0211Sort = null;
            var organization_click_cnt = 0;
            var prodCode_click_cnt = 0;
            var sectcd_click_cnt = 0;
            var prodName_click_cnt = 0;
            var prodKana_click_cnt = 0;
            var capaName_click_cnt = 0;
            var changeDT_click_cnt = 0;
            var sectName_click_cnt = 0;
            var suppName_click_cnt = 0;

            $(document).ready(function()
            {
                /**
                 * POS商品マスタ検索
                 */
                $('#search').click(function()
                {
                    displayPageNo = 1;

                    // 商品コード入力中にsubmitされるとonblur前にこの処理に移行するためここでもゼロ埋め処理
                    zeroExtension(document.getElementById('prodCode'),13);

                    // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                    var data = {
                                displayPageNo           : displayPageNo,
                                displayRecordCnt        : displayRecordCnt,
                                searchOrganizationID    : $('#organizationName').val(),
                                searchProdCode          : $('#prodCode').val(),
                                searchsectcd            : $('#sectcd').val(),
                                searchProdName          : $('#prodName').val(),
                                searchProdKana          : $('#prodKana').val(),
                                searchChangeDT          : $('#changeDT').val(),
                            };
                    var path = 'index.php?param=Mst0211/search&home=1';

                    // データ更新
                    setDataForAjax( data, path );
                    // サブミット後、ページをリロードしないようにする
                    return false;
                });

            });

            /**
             * データの新規情報入力画面遷移
             */
            function inputPanelTransition()
            {
                var lineInfo = "";
                var disaInfo = "";
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                            mst0211pk               : lineInfo,
                            disabledID              : disaInfo,
                            searchOrganizationID    : $('#organizationName').val(),
                            searchProdCode          : $('#prodCode').val(),
                            searchsectcd            : $('#sectcd').val(),
                            searchProdName          : $('#prodName').val(),
                            searchProdKana          : $('#prodKana').val(),
                            searchChangeDT          : $('#changeDT').val(),
                            sortConditions          : mst0211Sort
                        };
                var path = 'index.php?param=Mst0211/addInput&home=1';

                // データ更新
                setDataForAjax( data, path, 'ajaxScreenUpdate' );

                // サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * データの更新情報入力画面遷移
             */
            function editPanelTransition(thisLineInfo, thisDisaInfo)
            {
//                var lineInfo = thisLineInfo;
//                var disaInfo = thisDisaInfo;
                var lineInfo = String(thisLineInfo);
                var disaInfo = String(thisDisaInfo);
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                            mst0211pk               : lineInfo,
                            disabledID              : disaInfo,
                            searchOrganizationID    : $('#organizationName').val(),
                            searchProdCode          : $('#prodCode').val(),
                            searchsectcd            : $('#sectcd').val(),
                            searchProdName          : $('#prodName').val(),
                            searchProdKana          : $('#prodKana').val(),
                            searchChangeDT          : $('#changeDT').val(),
                            sortConditions          : mst0211Sort
                        };
                var path = 'index.php?param=Mst0211/addInput&home=1';

                // データ更新
                setDataForAjax( data, path, 'ajaxScreenUpdate' );

                // サブミット後、ページをリロードしないようにする
               //eturn false;
            }

            /**
             * ソート処理
             */
            function setColumnInfo(thisItemInfo)
            {
                mst0211ItemInfo = thisItemInfo;

                mst0211Sort = 0;

                if(mst0211ItemInfo == "組織")
                {
                    organization_click_cnt++;
                    if((organization_click_cnt % 2) != 0)
                    {
                        mst0211Sort = 3;
                    }
                    else
                    {
                        mst0211Sort = 4;
                    }
                }
                else if(mst0211ItemInfo == "商品コード")
                {
                    prodCode_click_cnt++;
                    if((prodCode_click_cnt % 2) != 0)
                    {
                        mst0211Sort = 5;
                    }
                    else
                    {
                        mst0211Sort = 6;
                    }
                }
                else if(mst0211ItemInfo == "商品名")
                {
                    prodName_click_cnt++;
                    if((prodName_click_cnt % 2) != 0)
                    {
                        mst0211Sort = 7;
                    }
                    else
                    {
                        mst0211Sort = 8;
                    }
                }
                else if(mst0211ItemInfo == "商品名カナ")
                {
                    prodKana_click_cnt++;
                    if((prodKana_click_cnt % 2) != 0)
                    {
                        mst0211Sort = 9;
                    }
                    else
                    {
                        mst0211Sort = 10;
                    }
                }
                else if(mst0211ItemInfo == "規格容量")
                {
                    capaName_click_cnt++;
                    if((capaName_click_cnt % 2) != 0)
                    {
                        mst0211Sort = 11;
                    }
                    else
                    {
                        mst0211Sort = 12;
                    }
                }
                else if(mst0211ItemInfo == "変更実施日")
                {
                    changeDT_click_cnt++;
                    if((changeDT_click_cnt % 2) != 0)
                    {
                        mst0211Sort = 13;
                    }
                    else
                    {
                        mst0211Sort = 14;
                    }
                }
                
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                            displayPageNo           : displayPageNo,
                            displayRecordCnt        : displayRecordCnt,
                            searchOrganizationID    : $('#organizationName').val(),
                            searchProdCode          : $('#prodCode').val(),
                            searchsectcd            : $('#sectcd').val(),
                            searchProdName          : $('#prodName').val(),
                            searchProdKana          : $('#prodKana').val(),
                            searchChangeDT          : $('#changeDT').val(),
                            sortConditions          : mst0211Sort
                        };
                var path = 'index.php?param=Mst0211/search&home=1';

                // データ更新
                setDataForAjax( data, path );

                // サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 表示ページ数選択
             */
            function displayPage(pageCnt)
            {
                displayPageNo = pageCnt;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                            displayPageNo           : displayPageNo,
                            displayRecordCnt        : displayRecordCnt,
                            searchOrganizationID    : $('#organizationName').val(),
                            searchProdCode          : $('#prodCode').val(),
                            searchsectcd            : $('#sectcd').val(),
                            searchProdName          : $('#prodName').val(),
                            searchProdKana          : $('#prodKana').val(),
                            searchChangeDT          : $('#changeDT').val(),
                            sortConditions          : mst0211Sort
                        };
                var path = 'index.php?param=Mst0211/search&home=1';
                // データ更新
                setDataForAjax( data, path );

                //サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 表示レコード数選択
             */
            function displayRecord(recordCnt)
            {
                displayRecordCnt = recordCnt;
                displayPageNo = 1;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                            displayPageNo           : displayPageNo,
                            displayRecordCnt        : displayRecordCnt,
                            searchOrganizationID    : $('#organizationName').val(),
                            searchProdCode          : $('#prodCode').val(),
                            searchsectcd            : $('#sectcd').val(),
                            searchProdName          : $('#prodName').val(),
                            searchProdKana          : $('#prodKana').val(),
                            searchChangeDT          : $('#changeDT').val(),
                            sortConditions          : mst0211Sort
                        };
                var path = 'index.php?param=Mst0211/search&home=1';
                // データ更新
                setDataForAjax( data, path );

                //サブミット後、ページをリロードしないようにする
                return false;
            }
            
            /**
             * 組織プルダウン変更時処理
             * 商品のプルダウン(datalist)を更新する
             */
            function changeOrganization(obj)
            {
                var mst0211Array = JSON.parse('<?php echo addslashes($json_mst0201PulldownList); ?>');

                var organizationID = Number(obj.options[obj.selectedIndex].value);

                // 検索用プルダウン
                var elementCode = document.getElementById('searchCodeList');
                var elementName = document.getElementById('searchNameList');
                while (elementCode.firstChild) elementCode.removeChild(elementCode.firstChild);
                while (elementName.firstChild) elementName.removeChild(elementName.firstChild);
                for (var i = 0; i < mst0211Array.length; i ++) {
                    if (mst0211Array[i]['organization_id'] === organizationID) {
                        // 商品コード
                        var optionCode = document.createElement("option");
                        var optValueCode = mst0211Array[i]['prod_cd'];
                        optionCode.setAttribute("value", optValueCode);
                        elementCode.appendChild(optionCode);
                        // 商品名
                        var optionName = document.createElement("option");
                        var optValueName = mst0211Array[i]['prod_nm'];
                        optionName.setAttribute("value", optValueName);
                        elementName.appendChild(optionName);
                    }
                }
            }
        </script>
        <style>
    .serchBoardArea1 table th  {
        color: #fff;
        padding: 2px 2px;
        background: #0D0D70;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        line-height: 120%;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(34,85,136,0.9);
        box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
        width: 100px;
        height: 25px;
    }
    .serchBoardArea1 table tr td {
        width: 10px;
        padding: 2px 2px;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        text-align: left;
        vertical-align: middle;
        height: 25px;
   }
            
        </STYLE>
        
    </head>
    <body>
<?php 
if( isset($_GET['home']) ) {
    if( "1" ==  $_GET['home'] ){
        include("../home/View/Common/PageHeader.php");
    }else{
        include("Common/PageHeader.php");
    }
}else{
        include("Common/PageHeader.php");
}
?>
        <!-- Site -->
        <div id="sb-site" style="overflow: auto;">
            <!-- パンくずリスト -->
            <?php include("Common/Breadcrumb.php"); ?>
            <form id="searchForm" name="searchForm" method="POST" action="index.php?param=Mst0211/search&home=1">
                <input type="hidden" name="companyID" value="<?php hsc( $_SESSION['COMPANY_ID'] ); ?>">
                <!-- serchBoardArea -->
                <div class="serchBoardArea1" style=" clear:both; width:540px; margin:0px auto !important; background-color: #ffffff" >
                    <table style="margin-top:0px; margin-left:0px; margin-bottom:10px; margin-right:auto; table-layout:fixed;">
                        <tbody>
                            <tr>
                                <td style="width:120px; height:0px; border-style:none;"></td>
                                <td style="height:0px; border-style:none;"></td>
                            </tr>
<!--                            <tr>
                                <th>組織</th>
                                <td>
                                    <select title="<?php hsc($Log->getMsgLog('MSG_BASE_0303')); ?>" id="organizationName" name="organizationName" style="width: 230px;" onchange="changeOrganization(this);">
                                        <?php foreach($abbreviatedNameList as $abbreviated) { ?>
                                            <option value="<?php hsc($abbreviated['organization_id']); ?>"><?php hsc($abbreviated['abbreviated_name']); ?></option>
                                        <?php } ?>
                                    </select>
                                </td>
                            </tr>-->
                                  <tr>                       
                                <th>部門コード</th>
                                <td>
                                    <input type="text" title="部門コード" id="sectcd" name="sectcd" maxlength="2" style="width: 130px"  list="searchNameList" value="<?php hsc($searchArray['sect_cd']); ?>" class="Em">
                                </td>
                            </tr>
                
                            <tr>
                                <th>商品コード</th>
                                <td>
                                    <input type="text" title="商品コード" id="prodCode" name="prodCode" pattern="^\d*" oncopy="return true" onpaste="return true" oninput="return checkNumInput(this,13)" onblur="zeroExtension(this,13)" style="width: 130px" maxlength="13"  autocomplete="on" list="searchCodeList" value="<?php hsc($searchArray['prod_cd']); ?>" class="En">
                                </td>
                            </tr>
                            <tr>
                                <th>商品名</th>
                                <td>
                                    <input type="text" title="商品名" id="prodName" name="prodName" maxlength="50" style="width: 400px" autocomplete="on" list="searchNameList" value="<?php hsc($searchArray['prod_nm']); ?>" class="Em">
                                </td>
                            </tr>
<!--
                            <tr>
                                <th>商品名カナ</th>
                                <td>
                                    <input type="text" title="商品カナ" id="prodKana" name="prodKana" maxlength="40" style="width: 320px" value="<?php hsc($searchArray['prod_kn']); ?>" class="Em">
                                </td>
                            </tr>
-->
                        </tbody>
                    </table>
                    <datalist id="searchCodeList">
                    </datalist>
                    <datalist id="searchNameList">
                    </datalist>
                </div>
                <!-- /.serchBoardArea -->

                <!-- serchButtonArea -->
                <div style="text-align: center; white-space: nowrap;" id="styleAlignCenter">
                    <div style="display: inline-block;" class="serchButtonArea">
                        <input type="submit" id="search" name="search" href="#" value="検索" class="serch" />
                    </div><!-- /.serchButtonArea -->
                    <div style="display: inline-block;" class="logicButtonArea">
                        <input type="button" id="add" name="add" onClick="inputPanelTransition()" value="新規作成" class="add">
                    </div><!-- /.logicButtonArea -->
                </div><!-- /#styleAlignCenter -->
            </form>
            <form id="modForm" name="modForm" >
                <?php include("Mst0211TablePanel.html"); ?>
            </form>

        </div><!-- /#sb-site -->

        <?php include("../FwCommon/View/Dialog.php"); ?>
    </body>
</html>
