<?php
    /**
     * @file      商品別マッピング設定画面(View)
     * @author    millionet oota
     * @date      2016/06/30
     * @version   1.00
     * @note      商品別マッピング設定画面
     */
?>
<!DOCTYPE html>
<html>
    <head>
        <?php
            $fileNames = array('default.css'); // cssまたはｊｓファイルを拡張子付きで配列に記述 
            include("../profit/View/Common/HtmlHeader.php"); 
        ?>
    </head>
    <body>
        <?php include("Common/PageHeader.php");
        ?>
        <!-- Site -->
        <div id="sb-site">
<form name="dataForm" id="dataForm" action="item_mapping.php?cd=2&page=1" method="post">
<div class="serchListArea">
<table id="viewList" align="center">
<thead>
	<tr>
		<th id="viewList" align="center" width="30">no</th>
		<th id="viewList" align="center" width="100">表示順</th>
		<th id="viewList" align="center" width="150">キーファイル名</th>
		<th id="viewList" align="center" width="60">列数</th>
		<th id="viewList" align="center" width="130">初回登録日</th>
		<th id="viewList" align="center" width="130">更新日</th>
		<th id="viewList" align="center" width="50">削除</th>
	</tr>
</thead>
<tbody>
	<tr id="viewList"><td id="viewList" align=center>1</td>
<td id="viewList" align=center>1</td>
<td id="viewList" align=left><a href="item_mapping.php?cd=1&key_id=0000000000000003&page=1" target="_self">ZITEM</a></td>
<td id="viewList" align=left>194</td>
<td id="viewList" align=center>2014-10-06 15:30:02</td>
<td id="viewList" align=center>2014-10-06 18:58:30</td>
<td id="viewList" align=center></td>
</tr>
</tbody>
</table>
</div>
<br />
</form>
<form name="dataForm" id="dataForm" action="pos_brand.php?cd=2&page=1&k_code=&k_name=&k_df=" method="post">
                <div class="PageMoveArea">
                    <table>
                        <tr>
                            <td>
                                <a href="#" onClick="displayPage(1)" ><<</a>
                            </td>
                            <td>
                                <a href="#" onClick="displayPage(1)" ><</a>
                            </td>
                                                                <td>
                                        <a href="#" onClick="displayPage(1)" class="current">1</a>
                                    </td>
                                                                <td>
                                        <a href="#" onClick="displayPage(2)" class="">2</a>
                                    </td>
                                                                <td>
                                        <a href="#" onClick="displayPage(3)" class="">3</a>
                                    </td>
                                                                <td>
                                        <a href="#" onClick="displayPage(4)" class="">4</a>
                                    </td>
                                                                <td>
                                        <a href="#" onClick="displayPage(5)" class="">5</a>
                                    </td>
                                                                <td>
                                        ...
                                    </td>
                                    <td>
                                        <a href="#" onClick="displayPage(15)" class="">15</a>
                                    </td>
                                                        <td>
                                <a href="#" onClick="displayPage(2)" >></a>
                            </td>
                            <td>
                                <a href="#" onClick="displayPage(15)" >>></a>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" rowspan="2">　表示数：</th>
                            <td>
                                <a href="#" onClick="displayRecord(10)" class="current">10</a>
                            </td>
                            <td>
                                <a href="#" onClick="displayRecord(30)" class="">30</a>
                            </td>
                            <td>
                                <a href="#" onClick="displayRecord(50)" class="">50</a>
                            </td>
                            <td>
                                <a href="#" onClick="displayRecord(100)" class="">100</a>
                            </td>
                        </tr>
                    </table>
                </div><!-- /.PageMoveArea -->
<div class="serchListArea">
<table id="inputTable" align="center">
	<tr>
		<th id="inputTableTitle" align="center" width="30">no</th>
		<th id="inputTableTitle" align="center" width="70">表示順</th>
		<th id="inputTableTitle" align="center" width="100">キーファイル名</th>
		<th id="inputTableTitle" align="center" width="60">商品コード</th>
		<th id="inputTableTitle" align="center" width="60">商品名</th>
		<th id="inputTableTitle" align="center" width="60">単価</th>
		<th id="inputTableTitle" align="center" width="60">原単価</th>
		<th id="inputTableTitle" align="center" width="60">大分類コード</th>
		<th id="inputTableTitle" align="center" width="60">大分類名</th>
		<th id="inputTableTitle" align="center" width="60">中分類コード</th>
		<th id="inputTableTitle" align="center" width="60">中分類名</th>
		<th id="inputTableTitle" align="center" width="60">点数</th>
		<th id="inputTableTitle" align="center" width="60">金額</th>
		<th id="inputTableTitle" align="center" width="60">列数</th>
		<th id="inputTableTitle" align="center" width="60">開始行</th>
		<th id="inputTableTitle" align="center" width="130">初回登録日</th>
		<th id="inputTableTitle" align="center" width="130">更新日</th>
	</tr>
	<tr>
<td id="inputTableItem" align="center" rowspan=2>2</td>
<td id="inputTableItem" align="center"><input id="dsp" type="text" size="4" name="dsp" value=0 style="ime-mode:disabled;text-align:right;"></td>
<td id="inputTableItem" align="center"><select name="key_file_name" class="key_file_name">
<option value="0">---</option>
<option value="ZTOTAL">ZTOTAL</option>
<option value="ZTIME">ZTIME</option>
<option value="ZITEM">ZITEM</option>
</select>
</td>
<td id="inputTableItem" align="center"><input id="plu_code" type="text" size="5" name="plu_code" value=""></td>
<td id="inputTableItem" align="center"><input id="plu_name" type="text" size="5" name="plu_name" value=""></td>
<td id="inputTableItem" align="center"><input id="price" type="text" size="5" name="price" value=""></td>
<td id="inputTableItem" align="center"><input id="cost" type="text" size="5" name="cost" value=""></td>
<td id="inputTableItem" align="center"><input id="large_class_code" type="text" size="5" name="large_class_code" value=""></td>
<td id="inputTableItem" align="center"><input id="large_class_name" type="text" size="5" name="large_class_name" value=""></td>
<td id="inputTableItem" align="center"><input id="middle_class_code" type="text" size="5" name="middle_class_code" value=""></td>
<td id="inputTableItem" align="center"><input id="middle_class_name" type="text" size="5" name="middle_class_name" value=""></td>
<td id="inputTableItem" align="center"><input id="count" type="text" size="10" name="count" value=""></td>
<td id="inputTableItem" align="center"><input id="sales" type="text" size="10" name="sales" value=""></td>
<td id="inputTableItem" align="center"><input id="col_limit" type="text" size="5" name="col_limit" value=""></td>
<td id="inputTableItem" align="center"><input id="musi" type="text" size="5" name="musi" value=0></td>
<td id="inputTableItem" align="center"></td>
<td id="inputTableItem" align="center"></td>
</tr>
</table>
<br />
<p align=center><input class="submit" type="submit" name="submit" value="追加">
</p>
</form>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<script type="text/javascript" src="../jquery/js/scrolltopcontrol2.js"></script> <!--スクロールしながらページのトップに戻る-->
</body>
</html>