<?php
    /**
     * @file      トップメッセージ入力画面(View)
     * @author    millionet oota
     * @date      2017/01/26
     * @version   1.00
     * @note      トップメッセージ入力画面
     */
?>
<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta charset="utf-8">
    <meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="css/jquery.fileupload.css">
    <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
        
    <?php
        $fileNames = array( 'default.css', 'common.js', 'jquery-ui.min.js', 'jquery-ui.css' );    // cssまたはｊｓファイルを拡張子付きで配列に記述 
        include("Common/HtmlHeader.php"); 
    ?>
        
<!-- アップロード領域 -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>アップロード</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>キャンセル</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- アップロード後の領域(保存後の領域) -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.url%}" width="100" height="100"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.name?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>削除</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>キャンセル</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->

        <script type="text/javascript">
            var lineInfo = null;
            var btnInfo  = null;
            var appCnt = 0;

            $(document).ready(function() 
            {
            
                /**
                 * 削除ボタン押下時処理
                 */
                $('#del').click(function()
                {
                    event.preventDefault();

                    document.getElementById("dialog_mod").textContent='<?php hsc(SystemParameters::$DELETE_DIALOG_MSG); ?>';
                    $("#dialog_mod").dialog('open');

                    // サブミット後、ページをリロードしないようにする
                    return false;
                });
            
                /**
                 * 戻るボタン押下時処理
                 */
                $('#back').click(function()
                {
                    // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                    var data = {
                                  back : $('#back').val(),
                                  searchTitle : $('#searchTitle').val(),
                                  searchContents : $('#searchContents').val(),
//                                  searchFile : $('#searchFile').val(),
//                                  searchViewer_count : $('#searchViewer_count').val(),
                                  searchSAppStartDate : $('#minApplicationStartDate').val(),
                                  searchEAppStartDate : $('#maxApplicationStartDate').val(),
                               }
                    var path = 'index.php?param=TopMessage/show&home=1';

                    // データ更新
                    setDataForAjax( data, path, 'ajaxScreenUpdate' );

                    // サブミット後、ページをリロードしないようにする
                    return false;
                });

                // 登録系ボタン押下時
                $('#fileupload').submit(function(event)
                {
                    event.preventDefault();

                    if(btnInfo !== '<?php hsc($Log->getMsgLog("MSG_BASE_0803")); ?>')
                    {
                        if( btnInfo === '<?php hsc($Log->getMsgLog("MSG_BASE_0800")); ?>')
                        {
                            // 一覧画面新規作成ボタンから遷移してきた場合
                            document.getElementById("dialog_add").textContent='<?php hsc(SystemParameters::$NEW_DIALOG_MSG); ?>';
                            $("#dialog_add").dialog('open');
                        
                        }
                        else if(btnInfo === '<?php hsc($Log->getMsgLog("MSG_BASE_0802")); ?>')
                        {
                            document.getElementById("dialog_mod").textContent='<?php hsc(SystemParameters::$UPDATE_DIALOG_MSG); ?>';
                            $("#dialog_mod").dialog('open');
                        }
                    }
                    else
                    {
                        document.getElementById("dialog_mod").textContent='<?php hsc(SystemParameters::$DELETE_DIALOG_MSG); ?>';
                        $("#dialog_mod").dialog('open');
                    }

                    //サブミット後、ページをリロードしないようにする
                    return false;
                });

            });

            /**
             * 新規作成データの設定
             */
            function setAddData()
            {
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              searchTitle : $('#searchTitle').val(),
                              searchContents : $('#searchContents').val(),
//                              searchFile : $('#searchFile').val(),
//                              searchViewer_count : $('#searchViewer_count').val(),
                              searchSAppStartDate : $('#minApplicationStartDate').val(),
                              searchEAppStartDate : $('#maxApplicationStartDate').val(),
                              token : $('#token').val(),
                              thumbnailId : $('#thumbnailId').val(),
                              oldThumbnailId : $('#oldThumbnailId').val(),
                              title : $('#title').val(),
                              contents : $('#contents').val(),
//                              files : $('#files').val(),
//                              viewer_count : $('#viewer_count').val()
                           };
                var path = 'index.php?param=TopMessage/add&home=1';

                // データ更新
                setDataForAjax( data, path, 'ajaxScreenUpdate' );
            }

            /**
             * データ更新の設定
             */
            function setModData()
            {
                if( btnInfo === '<?php hsc($Log->getMsgLog("MSG_BASE_0802")); ?>' )
                {
                    path = 'index.php?param=TopMessage/mod&home=1';
                }
                else
                {
                    path = 'index.php?param=TopMessage/del&home=1';
                }
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              topMessageID : $('#topMessageID').val(),
                              updateTime : $('#updateTime').val(),
                              searchTitle : $('#searchTitle').val(),
                              searchContents : $('#searchContents').val(),
//                              searchFile : $('#searchFile').val(),
//                              searchViewer_count : $('#searchViewer_count').val(),
                              searchSAppStartDate : $('#minApplicationStartDate').val(),
                              searchEAppStartDate : $('#maxApplicationStartDate').val(),
                              token : $('#token').val(),
                              thumbnailId : $('#thumbnailId').val(),
                              oldThumbnailId : $('#oldThumbnailId').val(),
                              title : $('#title').val(),
                              contents : $('#contents').val(),
//                              files : $('#files').val(),
//                              viewer_count : $('#viewer_count').val()
                           };

                // データ更新
                setDataForAjax( data, path, 'ajaxScreenUpdate' );
            }

            /**
             * 更新キャンセル
             */
            function cancel()
            {
                var data = null;
                var path = '';

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              searchTitle : $('#searchTitle').val(),
                              searchContents : $('#searchContents').val(),
//                              searchFile : $('#searchFile').val(),
//                              searchViewer_count : $('#searchViewer_count').val(),
                              searchSAppStartDate : $('#minApplicationStartDate').val(),
                              searchEAppStartDate : $('#maxApplicationStartDate').val(),
                              token : $('#token').val(),
                              thumbnailId : $('#thumbnailId').val(),
                              oldThumbnailId : $('#oldThumbnailId').val()
                            }
                var path = 'index.php?param=TopMessage/show&home=1';

                // データ更新
                setDataForAjax( data, path, 'ajaxScreenUpdate' );

                // サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 行情報を設定
             */
            function setLineInfo(thisLineInfo, thisBtnInfo)
            {
                lineInfo = thisLineInfo;
                btnInfo  = thisBtnInfo;
                return true;
            }

            /**
             * 遷移先の設定
             */
            function moveRedirect()
            {
                cancel();
            }
        </script>
    </head>
    <body>
<?php 
if( isset($_GET['home']) ) {
    if( "1" ==  $_GET['home'] ){
        include("../home/View/Common/PageHeader.php");
    }else{
        include("Common/PageHeader.php");
    }
}else{
        include("Common/PageHeader.php");
}
?>
        <!-- Site -->
        <div id="sb-site">
            <!-- パンくずリスト -->
            <?php include("Common/Breadcrumb.php"); ?>
            
            <!-- serchButtonArea -->
            <div class="logicButtonArea">
                <p align=center>
                    <input type="button" id="back" name="back" value="戻る" class="return" data-href="index.php?param=TopMessage/show&home=1">
                </p>
            </div><!-- /.serchButtonArea -->

            <!-- serchEditArea -->
            <form id="fileupload" name="fileupload" method="POST" enctype="multipart/form-data">
                <!-- 以下、hiddenの値は修正/削除時の条件に使用 -->
                <input type="hidden" id="token" name="token" value="<?php hsc($TokenID); ?>">
                <input type="hidden" id="thumbnailId" name="thumbnailId" value="<?php hsc($thumbnailId); ?>">
                <input type="hidden" id="oldThumbnailId" name="oldThumbnailId" value="<?php hsc($oldThumbnailId); ?>">
                <input type="hidden" id="file" name="file" value="<?php hsc($file); ?>">
                <input type="hidden" id="topMessageID" name="topMessageID" value="<?php hsc($topMessageDataList['top_message_id']); ?>">
                <input type="hidden" id="updateTime" name="updateTime" value="<?php hsc($topMessageDataList['update_time']); ?>">
                <!-- 以下、hiddenの値は一覧表の検索条件保持のため、使用 -->
                <input type="hidden" id="searchTitle" name="searchTitle" value="<?php hsc($_POST['searchTitle']); ?>">
                <input type="hidden" id="searchContents" name="searchContents" value="<?php hsc($_POST['searchContents']); ?>">
                <input type="hidden" id="searchFile" name="searchFile" value="<?php hsc($_POST['searchFile']); ?>">
                <input type="hidden" id="searchViewer_count" name="searchViewer_count" value="<?php hsc($_POST['searchViewer_count']); ?>">
                <input type="hidden" id="minApplicationStartDate" name="minApplicationStartDate" value="<?php hsc($_POST['searchSAppStartDate']); ?>">
                <input type="hidden" id="maxApplicationStartDate" name="maxApplicationStartDate" value="<?php hsc($_POST['searchEAppStartDate']); ?>">
                <div class="serchEditArea">
                    <div style="width:920px; margin:0 auto;">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td width="120px" style="border-style:none;"></td>
                                    <td width="800px" style="border-style:none;"></td>
                                </tr>
                                <tr>
                                    <th>タイトル</th>
                                    <td style="background-color: #ffffff"><input type="text" title="タイトル" id="title" name="title" style="width: 792px" value="<?php hsc($topMessageDataList['title']); ?>" class="Em" required></td>
                                </tr>
                                <tr>
                                    <th>内容</th>
                                    <td style="background-color: #ffffff"><textarea  id="contents" name="contents" rows="20" cols="110"><?php hsc($topMessageDataList['contents']); ?></textarea></td>
                                    <td style="border-style:none;"></td>
                                </tr>
                                <tr>
                                    <td style="border-style:none;"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table width="100%" id="thumbnailTable">
                            <tbody id="thumbnailTbody">
                                <tr>
                                    <th width="120px">添付ファイル</th>
                                    <td width="800px">
                                        <div style="background-color: #ffffff">
                                            <!-- Redirect browsers with JavaScript disabled to the origin page -->
                                            <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                            <div class="row fileupload-buttonbar">
                                                <div class="col-lg-7">
                                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                                    <span class="btn btn-success fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>ファイル追加</span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
<!--                                                    <button type="submit" class="btn btn-primary start">
                                                        <i class="glyphicon glyphicon-upload"></i>
                                                        <span>全てアップロード</span>
                                                    </button>
                                                    <button type="reset" class="btn btn-warning cancel">
                                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                                        <span>全てキャンセル</span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger delete">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                        <span>全て削除</span>
                                                    </button>
-->
                                                    <input type="checkbox" class="toggle">
                                                    <!-- The global file processing state -->
                                                    <span class="fileupload-process"></span>
                                                </div>
                                                <!-- The global progress state -->
                                                <div class="col-lg-5 fileupload-progress fade">
                                                    <!-- The global progress bar -->
                                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                                    </div>
                                                    <!-- The extended global progress state -->
                                                    <div class="progress-extended">&nbsp;</div>
                                                </div>
                                            </div>
                                            <!-- The table listing the files available for upload/download -->
                                            <table role="presentation" class="table table-striped" style="width:600px" align=left><tbody class="files"></tbody></table>
                                            <br>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <td style="border-style:none;"></td>
                            </tr>
                        </table>

                    </div><!-- /. width:65% -->
                </div><!-- /.serchEditArea -->
                <input type="hidden" id="btnid" name="btnid" value=""/>

                <!-- logicButtonArea -->
                <div class="logicButtonArea">
                    <p align=center>
                        <?php $add_disabled = ""; ?>
                        <?php if (!empty($_POST['disabledID'])) { ?>
                            <?php $add_disabled = "disabled"; ?>
                            <?php $del_disabled = "disabled"; ?>
                        <?php } ?>
                        <?php if($CorrectionFlag) { ?>
                            <input type="submit" id="del" name="del" value="<?php hsc($Log->getMsgLog('MSG_BASE_0803')); ?>" onclick="setLineInfo(this, '<?php hsc($Log->getMsgLog('MSG_BASE_0803')); ?>')" class="delete" <?php hsc($del_disabled); ?>>
                            <input type="submit" id="newadd" name="newadd" value="<?php hsc($Log->getMsgLog('MSG_BASE_0805')); ?>" onclick="setLineInfo(this, '<?php hsc($Log->getMsgLog('MSG_BASE_0800')); ?>')" class="add" <?php hsc($add_disabled); ?>>
                            <input type="submit" id="mod" name="mod" value="<?php hsc($Log->getMsgLog('MSG_BASE_0802')); ?>" onclick="setLineInfo(this, '<?php hsc($Log->getMsgLog('MSG_BASE_0802')); ?>')" class="update" <?php hsc($add_disabled); ?>>
                        <?php } else { ?>
                            <input type="submit" id="add" name="add" value="　<?php hsc($Log->getMsgLog('MSG_BASE_0805')); ?>" onclick="setLineInfo(this, '<?php hsc($Log->getMsgLog('MSG_BASE_0800')); ?>')" class="add" <?php hsc($add_disabled); ?>>
                        <?php } ?>
                    </p>
                </div><!-- /.logicButtonArea -->
            </form>

        </div><!-- /#sb-site -->
        
        <div id="jquery-replace-ajax">
            
        </div><!-- /#jquery-replace-ajax -->

        <?php include("../FwCommon/View/Dialog.php"); ?>
    <script>
       $('#fileupload').fileupload({
            autoUpload: true
        });
    </script>
    </body>
</html>
