<?php
    /**
     * @file      通達連絡画面(View)
     * @author    millionet oota
     * @date      2017/01/26
     * @version   1.00
     * @note      通達連絡画面
     */
?>
<!DOCTYPE html>
<html>
    <head>
        <?php
            $fileNames = array('default.css', 'common.js', 'jquery-ui.min.js', 'jquery-ui.css'); // cssまたはｊｓファイルを拡張子付きで配列に記述 
            include("Common/HtmlHeader.php"); 
        ?>
        <script src="../js/noticeContact/jquery/datepicker-ja.js" /></script>
        <script type="text/javascript">
            var displayPageNo = 1;
            var displayRecordCnt = <?php hsc($_SESSION["DISPLAY_RECORD_CNT"]); ?>;
            var noticeContactItemInfo = null;
            var noticeContactSort = null;
            var no_click_cnt = 0;
            var unread_click_cnt = 0;
            var title_click_cnt = 0;
            var contents_click_cnt = 0;
            var organization_name_click_cnt = 0;
            var user_name_click_cnt = 0;
            var thumbnail_click_cnt = 0;
            var file_click_cnt = 0;
            var registrationTime_click_cnt = 0;
            var unread_cnt_click_cnt = 0;

            $(document).ready(function()
            {
                /**
                 * 通達連絡検索
                 */
                $('#search').click(function()
                {
                    displayPageNo = 1;
                    // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                    var data = {
                                  displayPageNo : displayPageNo,
                                  displayRecordCnt : displayRecordCnt,
                                  searchTitle : $('#title').val(),
                                  searchContents : $('#contents').val(),
                                  searchThumbnail : $('#thumbnail').val(),
                                  searchFile : $('#file').val(),
                                  searchOrgID : $('#organizationName').val(),
                                  searchUser : $('#searchUser').val(),
                                  searchSAppStartDate : $('#minApplicationStartDate').val(),
                                  searchEAppStartDate : $('#maxApplicationStartDate').val(),
                                  searchRead : document.getElementById("read").checked,
                                  searchUnread : document.getElementById("unread").checked,
                               };
                    var path = 'index.php?param=NoticeContact/search&home=1';

                    // データ更新
                    setDataForAjax( data, path );

                    // サブミット後、ページをリロードしないようにする
                    return false;
                });

            });

            /**
             * データの新規情報入力画面遷移
             */
            function inputPanelTransition()
            {
                var lineInfo = "";
                var disaInfo = "";
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              noticeContactID : lineInfo,
                              disabledID : disaInfo,
                              searchTitle : $('#title').val(),
                              searchContents : $('#contents').val(),
                              searchThumbnail : $('#thumbnail').val(),
                              searchFile : $('#file').val(),
                              searchOrgID : $('#organizationName').val(),
                              searchUser : $('#searchUser').val(),
                              searchSAppStartDate : $('#minApplicationStartDate').val(),
                              searchEAppStartDate : $('#maxApplicationStartDate').val(),
                              searchRead : document.getElementById("read").checked,
                              searchUnread : document.getElementById("unread").checked,
                              sortConditions : noticeContactSort
                           };
                var path = 'index.php?param=NoticeContact/addInput&home=1';

                // データ更新
                setDataForAjax( data, path, 'ajaxScreenUpdate' );

                // サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * データの更新情報入力画面遷移
             */
            function editPanelTransition(thisLineInfo, thisDisaInfo)
            {
                var lineInfo = thisLineInfo;
                var disaInfo = thisDisaInfo;
                var mode = 0;
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              noticeContactID : lineInfo,
                              disabledID : disaInfo,
                              searchTitle : $('#title').val(),
                              searchContents : $('#contents').val(),
                              searchThumbnail : $('#thumbnail').val(),
                              searchFile : $('#file').val(),
                              searchOrgID : $('#organizationName').val(),
                              searchUser : $('#searchUser').val(),
                              searchSAppStartDate : $('#minApplicationStartDate').val(),
                              searchEAppStartDate : $('#maxApplicationStartDate').val(),
                              searchRead : document.getElementById("read").checked,
                              searchUnread : document.getElementById("unread").checked,
                              sortConditions : noticeContactSort,
                              mode : mode,
                           };
                var path = 'index.php?param=NoticeContactBrowsing/show&home=1';

                // データ更新
                setDataForAjax( data, path, 'ajaxScreenUpdate' );

                // サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * ソート処理
             */
            function setColumnInfo(thisItemInfo)
            {
                noticeContactItemInfo = thisItemInfo;

                noticeContactSort = 0;

                if(noticeContactItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0848')); ?>")
                {
                    no_click_cnt++;
                    if((no_click_cnt % 2) != 0)
                    {
                        noticeContactSort = 1;
                    }
                    else
                    {
                        noticeContactSort = 2;
                    }
                }
                else if(noticeContactItemInfo === "未読・既読")
                {
                    unread_click_cnt++;
                    if((unread_click_cnt % 2) != 0)
                    {
                        noticeContactSort = 3;
                    }
                    else
                    {
                        noticeContactSort = 4;
                    }
                }
                else if(noticeContactItemInfo === "タイトル")
                {
                    title_click_cnt++;
                    if((title_click_cnt % 2) != 0)
                    {
                        noticeContactSort = 5;
                    }
                    else
                    {
                        noticeContactSort = 6;
                    }
                }
                else if(noticeContactItemInfo === "内容")
                {
                    contents_click_cnt++;
                    if((contents_click_cnt % 2) != 0)
                    {
                        noticeContactSort = 7;
                    }
                    else
                    {
                        noticeContactSort = 8;
                    }
                }
                else if(noticeContactItemInfo === "発信組織")
                {
                    organization_name_click_cnt++;
                    if((organization_name_click_cnt % 2) != 0)
                    {
                        noticeContactSort = 9;
                    }
                    else
                    {
                        noticeContactSort = 10;
                    }
                }
                else if(noticeContactItemInfo === "発信者")
                {
                    user_name_click_cnt++;
                    if((user_name_click_cnt % 2) != 0)
                    {
                        noticeContactSort = 11;
                    }
                    else
                    {
                        noticeContactSort = 12;
                    }
                }
                else if(noticeContactItemInfo === "作成日")
                {
                    registrationTime_click_cnt++;
                    if((registrationTime_click_cnt % 2) != 0)
                    {
                        noticeContactSort = 13;
                    }
                    else
                    {
                        noticeContactSort = 14;
                    }
                }
                else if(noticeContactItemInfo === "未読数/既読数")
                {
                    unread_cnt_click_cnt++;
                    if((unread_cnt_click_cnt % 2) != 0)
                    {
                        noticeContactSort = 15;
                    }
                    else
                    {
                        noticeContactSort = 16;
                    }
                }
                
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              displayPageNo : displayPageNo,
                              displayRecordCnt : displayRecordCnt,
                              searchTitle : $('#title').val(),
                              searchContents : $('#contents').val(),
                              searchThumbnail : $('#thumbnail').val(),
                              searchFile : $('#file').val(),
                              searchOrgID : $('#organizationName').val(),
                              searchUser : $('#searchUser').val(),
                              searchSAppStartDate : $('#minApplicationStartDate').val(),
                              searchEAppStartDate : $('#maxApplicationStartDate').val(),
                              searchRead : document.getElementById("read").checked,
                              searchUnread : document.getElementById("unread").checked,
                              sortConditions : noticeContactSort
                           };
                var path = 'index.php?param=NoticeContact/search&home=1';

                // データ更新
                setDataForAjax( data, path );

                // サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 表示ページ数選択
             */
            function displayPage(pageCnt)
            {
                displayPageNo = pageCnt;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              displayPageNo : displayPageNo,
                              displayRecordCnt : displayRecordCnt,
                              searchTitle : $('#title').val(),
                              searchContents : $('#contents').val(),
                              searchThumbnail : $('#thumbnail').val(),
                              searchFile : $('#file').val(),
                              searchOrgID : $('#organizationName').val(),
                              searchUser : $('#searchUser').val(),
                              searchSAppStartDate : $('#minApplicationStartDate').val(),
                              searchEAppStartDate : $('#maxApplicationStartDate').val(),
                              searchRead : document.getElementById("read").checked,
                              searchUnread : document.getElementById("unread").checked,
                              sortConditions : noticeContactSort
                           };
                var path = 'index.php?param=NoticeContact/search&home=1';
                // データ更新
                setDataForAjax( data, path );

                //サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 表示レコード数選択
             */
            function displayRecord(recordCnt)
            {
                displayRecordCnt = recordCnt;
                displayPageNo = 1;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              displayPageNo : displayPageNo,
                              displayRecordCnt : displayRecordCnt,
                              searchTitle : $('#title').val(),
                              searchContents : $('#contents').val(),
                              searchThumbnail : $('#thumbnail').val(),
                              searchFile : $('#file').val(),
                              searchOrgID : $('#organizationName').val(),
                              searchUser : $('#searchUser').val(),
                              searchSAppStartDate : $('#minApplicationStartDate').val(),
                              searchEAppStartDate : $('#maxApplicationStartDate').val(),
                              searchRead : document.getElementById("read").checked,
                              searchUnread : document.getElementById("unread").checked,
                              sortConditions : noticeContactSort
                           };
                var path = 'index.php?param=NoticeContact/search&home=1';
                // データ更新
                setDataForAjax( data, path );

                //サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             *  DatePickerを設定
             */
            $(function()
            {
                $( "#minApplicationStartDate, #maxApplicationStartDate" ).datepicker({
                    showButtonPanel: true,
                    dateFormat: 'yy/mm/dd',
                });
            });
             
            /**
             * 検索用従業員リスト更新
             */
            function setSearchUserList()
            {
                // 検索用従業員リスト更新用パス
                var path = 'index.php?param=NoticeContact/searchUserList&home=1';
                
                var $searchUser = '';
                var $searchUserLabel ='';
                
                var searchUser = document.getElementById('searchUser')
                
                for(var i = 0; i < searchUser.options.length; i++){
                    $searchUser += searchUser[i].value + ',';
                    $searchUserLabel += searchUser.options[i].text + ',';
                };
                
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                              searchOrgID : $('#organizationName').val(),
                              searchUser : $searchUser,
                              searchUserLabel : $searchUserLabel,
                           };

                // データ更新
                setDataForAjax( data, path, "jquery-replace-SearchUserName-ajax" );
            }
        </script>

    </head>
    <body>
<?php 
if( isset($_GET['home']) ) {
    if( "1" ==  $_GET['home'] ){
        include("../home/View/Common/PageHeader.php");
    }else{
        include("Common/PageHeader.php");
    }
}else{
        include("Common/PageHeader.php");
}
?>
        <!-- Site -->
        <div id="sb-site" style="overflow: auto;">
            <!-- パンくずリスト -->
            <?php include("Common/Breadcrumb.php"); ?>
            <form id="searchForm" name="searchForm" method="POST" action="index.php?param=NoticeContact/search&home=1">
                <input type="hidden" name="companyID" value="<?php hsc( $_SESSION['COMPANY_ID'] ); ?>">
                <!-- serchBoardArea -->
                <div class="serchBoardArea" style=" clear:both; width:99%; margin:5px auto !important; background-color: #ffffff" >
                    <table>
                        <tbody>
                            <tr>
                                <th style="width:100px">タイトル</th>
                                <td style="width:220px">
                                    <input type="text" name="title" id="title" style="width:200px" value="<?php hsc($searchArray['title']); ?>">
                                </td>
                                <th style="width:100px">内容</th>
                                <td style="width:220px">
                                    <input type="text" name="comment" id="contents" style="width:200px" value="<?php hsc($searchArray['contents']); ?>">
                                </td>
                                <th style="width:100px">作成日</th>
                                <td style="width:220px">
                                    <input type="text" name="minApplicationStartDate" id="minApplicationStartDate" style="width:80px" pattern="\d{4}/\d{2}/\d{2}" title="<?php hsc($Log->getMsgLog('MSG_BASE_0305')); ?>" value="<?php hsc($searchArray['sAppStartDate']); ?>">
                                    　～　
                                    <input type="text" name="maxApplicationStartDate" id="maxApplicationStartDate" style="width:80px" pattern="\d{4}/\d{2}/\d{2}" title="<?php hsc($Log->getMsgLog('MSG_BASE_0305')); ?>" value="<?php hsc($searchArray['eAppStartDate']); ?>">
                                </td>
                            </tr>
                            <tr>
                                <th style="width:100px">既読・未読</th>
                                <td style="width:220px">
                                    <?php
                                        $readChecked = '';
                                        if($read == 'true' ) 
                                        {
                                            $readChecked = 'checked';
                                        }
                                    ?>
                                    <input type="checkbox" name="read" id="read" <?php hsc($readChecked); ?>>
                                    <?php
                                        hsc(既読); 
                                        $unreadChecked = '';
                                        if($unread == 'true' )
                                        {
                                            $unreadChecked = 'checked';
                                        }
                                    ?>
                                    　<input type="checkbox" name="unread" id="unread" <?php hsc($unreadChecked); ?>>
                                    <?php
                                        hsc(未読); 
                                    ?>
                                </td>
                                <th style="width:100px">発信組織</th>
                                <td style="width:220px">
                                    <select name="organizationName" id="organizationName" style="width:200px" onChange="setSearchUserList()" >
                                        <?php foreach($abbreviatedNameList as $abbreviated) { ?>
                                            <?php $selected = ""; ?>
                                            <?php if($abbreviated['organization_id'] == $searchArray['registration_organization']) { ?>
                                                <?php $selected = "selected"; ?>
                                            <?php } ?>
                                            <option value="<?php hsc($abbreviated['organization_id']); ?>" <?php hsc($selected); ?>><?php hsc($abbreviated['abbreviated_name']); ?></option>
                                        <?php } ?>
                                    </select>
                                </td>
                                <th style="width:100px">発信者</th>
                                <td style="width:220px">
                                    <?php include("../FwCommon/View/SearchUserName.php"); ?>
                                </td>
<!--
                                <th style="width:220px">添付ファイル名</th>
                                <td style="width:220px">
                                    <input type="text" name="file" id="file" value="<?php hsc($searchArray['file']); ?>" style="width:200px" >
                                </td>
-->
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.serchBoardArea -->

                <!-- serchButtonArea -->
                <div style="text-align: center; white-space: nowrap;" id="styleAlignCenter">
                    <div style="display: inline-block;" class="serchButtonArea">
                        <input type="submit" id="search" name="search" href="#" value="検索" class="serch" />
                    </div><!-- /.serchButtonArea -->
                    <?php if ($newFlg == true) { ?>
                        <div style="display: inline-block;" class="logicButtonArea">
                            <input type="button" id="add" name="add" onClick="inputPanelTransition()" value="　 新規作成" class="add">
                        </div><!-- /.logicButtonArea -->
                    <?php } ?>
                </div><!-- /#styleAlignCenter -->
            </form>
            <form id="modForm" name="modForm" >
                <?php include("NoticeContactTablePanel.html"); ?>
            </form>

        </div><!-- /#sb-site -->

        <?php include("../FwCommon/View/Dialog.php"); ?>
    </body>
</html>
