<?php
    /**
     * @file      休日名称マスタ画面(View)
     * @author    USE S.NAKAMURA
     * @date      2016/06/14
     * @version   1.00
     * @note      休日名称マスタ画面
     */
?>
            <?php require_once( SystemParameters::$SANITIZE_SETTING_FILE ) ?>
            <!-- ajax差し替えエリア -->
            <div id="jquery-replace-ajax">

                <!-- PageMoveArea -->
                <?php include("../FwCommon/View/PagingArea.php"); ?>
            
                <!-- serchListArea -->
                <!-- 2016/09/19 Y.Sugou -->
                <?php if( $isScrollBar ) { ?>
                    <div class="serchListArea" style=" clear:both; width:99%; margin:0px auto !important; overflow-y:auto; height:25px;">
                <?php } else { ?>
                    <div class="serchListArea" style=" clear:both; width:99%; margin:5px auto !important;">
                <?php } ?>
                <!-- ---------------------- -->
                    <input type="hidden" id="token" name="token" value="<?php hsc($TokenID); ?>">
                    <table>
                        <tr>
                            <th width="38px"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0848')); ?>');"><u><?php hsc($Log->getMsgLog('MSG_BASE_0848')); ?></u><?php hsc($headerArray['holidayNameNoSortMark']); ?></span></th> <!-- No -->
                            <th width="45px"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0849')); ?>');"><u><?php hsc($Log->getMsgLog('MSG_BASE_0849')); ?></u><?php hsc($headerArray['holidayNameStateSortMark']); ?></span></th><!-- 状態 -->
                            <th width="173px"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0851')); ?>');"><u><?php hsc($Log->getMsgLog('MSG_BASE_0851')); ?></u><?php hsc($headerArray['holidayNameCodeSortMark']); ?></span></th><!-- コード -->
                            <th width="173px"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0854')); ?>');"><u><?php hsc($Log->getMsgLog('MSG_BASE_0854')); ?></u><?php hsc($headerArray['holidayNameOrganizationSortMark']); ?></span></th><!-- 組織名 -->
                            <th width="165px"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0863')); ?>');"><u><?php hsc($Log->getMsgLog('MSG_BASE_0863')); ?></u><?php hsc($headerArray['holidayNameSortMark']); ?></th><!-- 休日名称 -->
                            <th width="68px"><span onClick="setColumnInfo('<?php hsc($Log->getMsgLog('MSG_BASE_0852')); ?>');"><u><?php hsc($Log->getMsgLog('MSG_BASE_0852')); ?></u><?php hsc($headerArray['holidayNameDispOrderSortMark']); ?></span></th><!-- 表示順 -->
                            <th width="90px"></th>
                        </tr>
                    </table>
            <?php if( $isScrollBar ) { ?>
                </div>
                <div class="serchListArea" style="width:99%; margin: 0px auto; overflow-y:auto; height:300px; !important;">
            <?php } ?>
                    <table id="nameTable" style="background-color: #ffffff">
                        <?php foreach($holidayList as $holidayName) { ?>                        
                            <?php $holidayName_no++; ?>
                            <?php if(!$holidayNoSortFlag) { ?>
                                <?php $display_no++; ?>
                            <?php } ?>
                            <tr>
                                <input type="hidden" id="holidayNameIdMod<?php hsc($holidayName_no); ?>" name="holidayNameId<?php hsc($holidayName_no); ?>" value="<?php hsc($holidayName['holiday_name_id']); ?>">
                                <input type="hidden" id="updateTime<?php hsc($holidayName_no); ?>" name="updateTime<?php hsc($holidayName_no); ?>" value="<?php hsc($holidayName['update_time']); ?>">
                                <td align="right" style="width:38px;"><?php hsc($display_no); ?></td>
                                <?php $del_state = ""; ?>
                                <?php if(!empty($holidayName['is_del'])) { ?>
                                    <?php $del_state = "削除"; ?>
                                <?php } ?>
                                <td align="center" style="width:45px;"><?php hsc($del_state); ?></td>
                                <td id="sCode<?php hsc($holidayName_no); ?>" style="width:173px;"><?php hsc($holidayName['code']); ?></td>
                                <td id="sCode-edit<?php hsc($holidayName_no); ?>" style="display : none; width:173px;" align="center">
                                    <input type="text" pattern="^[0-9A-Za-z]+$" title="<?php hsc($Log->getMsgLog('MSG_BASE_0301')); ?>" id="holidayNameCodeMod<?php hsc($holidayName_no); ?>" name="sCode<?php hsc($holidayName_no); ?>" size="23" maxlength="20" value="<?php hsc($holidayName['code']); ?>" required>
                                </td>
                                <td id="sOrganization<?php hsc($holidayName_no); ?>"style="width:173px;"><?php hsc($holidayName['abbreviated_name']); ?></td>
                                <td id="sOrganization-edit<?php hsc($holidayName_no); ?>" style="display : none; width:173px;" align="center">
                                    <select title="<?php hsc($Log->getMsgLog('MSG_BASE_0303')); ?>" id="holidayNameOrganizationMod<?php hsc($holidayName_no); ?>" name="sOrganization<?php hsc($holidayName_no); ?>" style="width: 160px" required>
                                        <?php foreach($abbreviatedList as $abbreviated) { ?>
                                            <?php $selected = ""; ?>
                                            <?php if($abbreviated['organization_id'] == $holidayName['organization_id']) { ?>
                                                <?php $selected = "selected"; ?>
                                            <?php } ?>
                                            <option value="<?php hsc($abbreviated['organization_id']); ?>" <?php hsc($selected); ?>><?php hsc($abbreviated['abbreviated_name']); ?></option>
                                        <?php } ?>
                                    </select>
                                </td>
                                <td id="sHolidayName<?php hsc($holidayName_no); ?>" style="width:165px;"><?php hsc($holidayName['holiday_name']); ?></td>
                                <td id="sHolidayName-edit<?php hsc($holidayName_no); ?>" style="display : none;width:165px;" align="center">
                                    <input type="text" title="<?php hsc($Log->getMsgLog('MSG_BASE_0302')); ?>" id="holidayNameMod<?php hsc($holidayName_no); ?>" name="sHolidayName<?php hsc($holidayName_no); ?>" size="22" maxlength="20" value="<?php hsc($holidayName['holiday_name']); ?>" required>
                                </td>
                                <td id="sDisp<?php hsc($holidayName_no); ?>" align="right" style="width:68px;"><?php hsc($holidayName['disp_order']); ?></td>
                                <td id="sDisp-edit<?php hsc($holidayName_no); ?>" style="display : none; width:68px;" align="center">
                                    <input type="text" pattern="[1-9][0-9]*" title="<?php hsc($Log->getMsgLog('MSG_BASE_0300')); ?>" id="modDispOrder<?php hsc($holidayName_no); ?>" name="sDisp<?php hsc($holidayName_no); ?>" size="5" maxlength="5" value="<?php hsc($holidayName['disp_order']); ?>" required>
                                </td>
                                <td align="center" style="width:90px;">
                                    <?php if(empty($holidayName['is_del'])) { ?>
                                        <input type="button" id="edtBtn<?php hsc($holidayName_no); ?>" value="<?php hsc($Log->getMsgLog('MSG_BASE_0801')); ?>" onclick="editRow(this)" <?php hsc($holidayName['cor_disabled']); ?> >
                                        <input type="submit" id="edtBtn-mod<?php hsc($holidayName_no); ?>" name="mod<?php hsc($holidayName_no); ?>" style="display : none;" value="<?php hsc($Log->getMsgLog('MSG_BASE_0802')); ?>" onclick="setLineInfo(this, '<?php hsc($Log->getMsgLog('MSG_BASE_0802')); ?>')" <?php hsc($holidayName['mod_disabled']); ?>>
                                        <input type="button" id="edtBtn-del<?php hsc($holidayName_no); ?>" name="del<?php hsc($holidayName_no); ?>" style="display : none;" value="<?php hsc($Log->getMsgLog('MSG_BASE_0803')); ?>" onclick="setLineInfo(this, '<?php hsc($Log->getMsgLog('MSG_BASE_0803')); ?>')" <?php hsc($holidayName['del_disabled']); ?>>
                                    <?php } ?>
                                </td>
                            </tr>
                            <?php if($holidayNoSortFlag) { ?>
                                <?php $display_no--; ?>
                            <?php } ?>
                        <?php } ?>
                    </table>
                </div><!-- /.serchListArea -->

            </div><!-- /.jquery-replace-ajax -->
