<?php
    /**
     * @file      休日マスタ画面(View)
     * @author    USE S.Kasai
     * @date      2016/06/15
     * @version   1.00
     * @note      休日マスタ画面(新規登録部分)
     */
?>
            <?php require_once( SystemParameters::$SANITIZE_SETTING_FILE ) ?>
            <!-- ajax差し替えエリア -->
            <div id="jquery-replace-input-ajax">
                <?php if( $isScrollBar ) { ?>
                    <div class="serchListArea" style="clear:both; width:99%; margin:5px auto !important; overflow-y:auto; height:28px;">
                <?php } else { ?>
                    <div class="serchListArea" style="clear:both; width:99%; margin:5px auto!important;">
                <?php } ?>
                <!-- ---------------------- -->
                    <table id="addTable" style="background-color: #ffffff">
                        <tr>
                            <td width="37px" align="center">-</td>
                            <td width="37px" align="center">-</td>
                            <td width="123px" align="center"><input type="text" pattern="^[0-9A-Za-z]+$" title="<?php hsc($Log->getMsgLog('MSG_BASE_0301')); ?>" id="holidayNewCode" name="holidayNewCode" size="10" maxlength="20" value="" class="En" required></td>
                            <td width="173px" align="center">
                                <select title="<?php hsc($Log->getMsgLog('MSG_BASE_0303')); ?>" id="organizationNewName" name="organizationNewName" style="width: 160px" required>
                                    <?php foreach($abbreviatedList as $abbreviated) { ?>
                                        <option value="<?php hsc($abbreviated['organization_id']); ?>"><?php hsc($abbreviated['abbreviated_name']); ?></option>
                                    <?php } ?>
                                </select>
                            </td>
                            <td width="173px" align="center">
                                <select title="<?php hsc($Log->getMsgLog('MSG_BASE_0303')); ?>" id="holidayNewNameName" name="holidayNewNameName" style="width: 160px" required>
                                    <?php foreach($holidayNameAddList as $holidayNameName) { ?>
                                        <option value="<?php hsc($holidayNameName['holiday_name_id']); ?>"><?php hsc($holidayNameName['holiday_name']); ?></option>
                                    <?php } ?>
                                </select>
                            <td width="160px" align="center"><input type="text" title="<?php hsc($Log->getMsgLog('MSG_BASE_0302')); ?>" id="holidayNewName" name="holidayNewName" size="15" maxlength="20" value="" class="Em" required></td>
                            <td width="99px" align="right"><input type="text" pattern="(0[0-9]|[1-9][0-9]|[1-9][0-9][0-9])(:[0-5][0-9])" title="<?php hsc($Log->getMsgLog('MSG_BASE_0311')); ?>" id="workingHoursNewName" name="workingHoursNewName" size="4" maxlength="6" value="" class="En" > 時間</td>
                            <td width="87px" align="right"><input type="text" pattern="^(\d{1,3})(\.\d{1,2})?$" title="<?php hsc($Log->getMsgLog('MSG_BASE_0309')); ?>" id="workingDayNewName" name="workingDayNewName" size="4" maxlength="6" value="" class="En" > 日</td>
                            <td width="185px" align="center"><input type="text" title="<?php hsc($Log->getMsgLog('MSG_BASE_0308')); ?>" id="holidayNewcomment" name="holidayNewcomment" size="20" maxlength="30" value="" class="Em" ></td>
                            <td width="62px" align="center"><input type="text" pattern="[1-9][0-9]*" title="<?php hsc($Log->getMsgLog('MSG_BASE_0300')); ?>" id="newDispOrder" name="newDispOrder" size="3" maxlength="5" value="" class="En" required></td>
                            <td width="99px" align="center">
                                <?php $add_disabled = ""; ?>
                                <?php if(empty($regFlag)) { ?>
                                    <?php $add_disabled = "disabled"; ?>
                                <?php } ?>
                                <input type="submit" id="add" name="add" value="<?php hsc($Log->getMsgLog('MSG_BASE_0800')); ?>" <?php hsc($add_disabled); ?>>
                            </td>
                        </tr>
                    </table>
                </div><!-- /.serchListArea -->
            </div><!-- /.jquery-replace-input-ajax -->

