<?php
    /**
     * @file      休日名称マスタ画面(View)
     * @author    USE S.Nakamura
     * @date      2016/06/22
     * @version   1.00
     * @note      休日名称マスタ画面
     */
?>
<!DOCTYPE html>
<html>
    <head>
        <?php
            $fileNames = array( 'default.css',
                                'common.js', 
                                'jquery-ui.min.js', 
                                'jquery-ui.css' );    // cssまたはｊｓファイルを拡張子付きで配列に記述 

            include("Common/HtmlHeader.php");
        ?>
        <script type="text/javascript">
            var lineInfo = null;
            var btnInfo  = null;
            var displayPageNo = 1;
            var displayRecordCnt = <?php hsc($_SESSION["DISPLAY_RECORD_CNT"]); ?>;
            var HolidayNameItemInfo = null;
            var holidayNameSort = null;
            var no_click_count = 0;
            var state_click_count = 0;
            var code_click_count = 0;
            var organization_click_count = 0;
            var holiday_name_click_count = 0;
            var disporder_click_count = 0;
            $(document).ready(function()
            {
                /**
                 * 検索ボタンクリック
                 */
                $('#search').click(function()
                {
                    displayPageNo = 1;

                    // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                    var data = {
                               displayPageNo : displayPageNo,
                               displayRecordCnt : displayRecordCnt,
                               searchCodeName : $('#codeName').val(),
                               searchOrganizatioID : $('#organizationName').val(),
                               searchHolidayName : $('#holidayNameName option:selected').text(),
                               searchDelF : document.getElementById("delF").checked,
                               sortConditions  : 0
                               };
                    var path = 'index.php?param=HolidayName/search&home=1';

                    // データ更新
                    setDataForAjax( data, path );

                   // 新規登録エリア設定
                   setInputArea();

                    //サブミット後、ページをリロードしないようにする
                    return false;
                });

                /**
                 * 登録ボタンクリック
                 */
                $('#addForm').submit(function(event)
                {
                    event.preventDefault();

                    document.getElementById("dialog_add").textContent='<?php hsc(SystemParameters::$NEW_DIALOG_MSG); ?>';
                    
                    $("#dialog_add").dialog('open');

                    //サブミット後、ページをリロードしないようにする
                    return false;
                });

                /**
                 * 更新/削除ボタンクリック
                 */
                $('#modForm').submit(function(event)
                {
                    event.preventDefault();

                    if( btnInfo === '<?php hsc($Log->getMsgLog("MSG_BASE_0802")); ?>' )
                    {
                        document.getElementById("dialog_mod").textContent='<?php hsc(SystemParameters::$UPDATE_DIALOG_MSG); ?>';
                    }
                    else
                    {
                        document.getElementById("dialog_mod").textContent='<?php hsc(SystemParameters::$DELETE_DIALOG_MSG); ?>';
                    }
                    
                    $("#dialog_mod").dialog('open');

                    //サブミット後、ページをリロードしないようにする
                    return false;
                });
                
            });

            /*
             * editRow: 編集ボタン該当行の内容を入力・編集またモード切り替え
             */
            function editRow(obj)
            {
                var objTR = obj.parentNode.parentNode;
                var rowId = objTR.sectionRowIndex + 1;
                var rowCount = nameTable.rows.length;

                // モードの切り替えはボタンの値で判定	
                $('#sCode' + rowId).css('display' , 'none');
                $('#sCode-edit' + rowId).val($('#sCode').text()).css('display' , '');
                $('#sOrganization' + rowId).css('display' , 'none');
                $('#sOrganization-edit' + rowId).val($('#sOrganization').text()).css('display' , '');
                $('#sHolidayName' + rowId).css('display' , 'none');
                $('#sHolidayName-edit' + rowId).val($('#sHolidayName').text()).css('display' , '');
                $('#sDisp' + rowId).css('display' , 'none');
                $('#sDisp-edit' + rowId).val($('#sDisp').text()).css('display' , '');
                $('#edtBtn' + rowId).css('display' , 'none');
                $('#edtBtn-mod' + rowId).css('display' , '');
                $('#edtBtn-del' + rowId).css('display' , '');
                $('#add').prop('disabled', true);
                for(var i = 1; i <= rowCount; i++)
                {
                    $('#edtBtn' + i).prop('disabled', true);
                }
                setOrganizationMod(rowId);
            }

            /**
             * 行情報を設定
             */
            function setLineInfo(thisLineInfo, thisBtnInfo)
            {
                lineInfo = thisLineInfo;
                btnInfo  = thisBtnInfo;
                
                if( btnInfo === '<?php hsc($Log->getMsgLog("MSG_BASE_0803")); ?>' )
                {
                    document.getElementById("dialog_mod").textContent='<?php hsc(SystemParameters::$DELETE_DIALOG_MSG); ?>';
                    $("#dialog_mod").dialog('open');
                }
                
                return false;
            }

            /**
             * ソート処理
             */
            function setColumnInfo(thisItemInfo)
            {
                HolidayNameItemInfo = thisItemInfo;

                holidayNameSort = 0;

                if(HolidayNameItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0848')); ?>")<!-- No -->
                {
                    no_click_count++;
                    if((no_click_count % 2) != 0)
                    {
                        holidayNameSort = 1;
                    }
                    else
                    {
                        holidayNameSort = 2;
                    }
                }
                else if(HolidayNameItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0849')); ?>")<!-- 状態 -->
                {
                    state_click_count++;
                    if((state_click_count % 2) != 0)
                    {
                        holidayNameSort = 3;
                    }
                    else
                    {
                        holidayNameSort = 4;
                    }
                }
                else if(HolidayNameItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0851')); ?>")<!-- コード -->
                {
                    code_click_count++;
                    if((code_click_count % 2) != 0)
                    {
                        holidayNameSort = 5;
                    }
                    else
                    {
                        holidayNameSort = 6;
                    }
                }
                else if(HolidayNameItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0854')); ?>")<!-- 組織名 -->
                {
                    organization_click_count++;
                    if((organization_click_count % 2) != 0)
                    {
                        holidayNameSort = 7;
                    }
                    else
                    {
                        holidayNameSort = 8;
                    }
                }
                else if(HolidayNameItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0863')); ?>")<!-- 休日名称 -->
                {
                    holiday_name_click_count++;
                    if((holiday_name_click_count % 2) != 0)
                    {
                        holidayNameSort = 9;
                    }
                    else
                    {
                        holidayNameSort = 10;
                    }
                }
                else if(HolidayNameItemInfo === "<?php hsc($Log->getMsgLog('MSG_BASE_0852')); ?>")<!-- 表示順 -->
                {
                    disporder_click_count++;
                    if((disporder_click_count % 2) != 0)
                    {
                        holidayNameSort = 11;
                    }
                    else
                    {
                        holidayNameSort = 12;
                    }
                }

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                           displayPageNo : displayPageNo,
                           displayRecordCnt : displayRecordCnt,
                           searchCodeName : $('#codeName').val(),
                           searchOrganizatioID : $('#organizationName').val(),
                           searchHolidayName : $('#holidayNameName option:selected').text(),
                           searchDelF : document.getElementById("delF").checked,
                           sortConditions : holidayNameSort 
                           };
                var path = 'index.php?param=HolidayName/search&home=1';
                // データ更新
                setDataForAjax( data, path );

                   // 新規登録エリア設定
                   setInputArea();

                //サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 表示レコード数選択
             */
            function displayRecord(recordCnt)
            {
                displayRecordCnt = recordCnt;
                displayPageNo = 1;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                           displayPageNo : displayPageNo,
                           displayRecordCnt : displayRecordCnt,
                           searchCodeName : $('#codeName').val(),
                           searchOrganizatioID : $('#organizationName').val(),
                           searchHolidayName : $('#holidayNameName option:selected').text(),
                           searchDelF : document.getElementById("delF").checked,
                           sortConditions : holidayNameSort 
                           };
                var path = 'index.php?param=HolidayName/search&home=1';
                // データ更新
                setDataForAjax( data, path );

                   // 新規登録エリア設定
                   setInputArea();

                //サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 表示ページ数選択
             */
            function displayPage(pageCnt)
            {
                displayPageNo = pageCnt;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                           displayPageNo : displayPageNo,
                           displayRecordCnt : displayRecordCnt,
                           searchCodeName : $('#codeName').val(),
                           searchOrganizatioID : $('#organizationName').val(),
                           searchHolidayName : $('#holidayNameName option:selected').text(),
                           searchDelF : document.getElementById("delF").checked,
                           sortConditions : holidayNameSort 
                           };
                var path = 'index.php?param=HolidayName/search&home=1';
                // データ更新
                setDataForAjax( data, path );

                   // 新規登録エリア設定
                   setInputArea();

                //サブミット後、ページをリロードしないようにする
                return false;
            }

            /**
             * 新規作成データの設定
             */
            function setAddData()
            {

                displayPageNo = 1;

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                           displayPageNo : displayPageNo,
                           displayRecordCnt : displayRecordCnt,
                           searchCodeName : $('#codeName').val(),
                           searchOrganizatioID : $('#organizationName').val(),
                           searchHolidayName : $('#holidayNameName option:selected').text(),
                           searchDelF : document.getElementById("delF").checked,
                           sortConditions : holidayNameSort,
                           holidayNameCode : $('#holidayNameNewCode').val(),
                           organizationId : $('#organizationNewName').val(),
                           holidayName : $('#holidayNameNewName').val(),
                           dispOrder : $('#newDispOrder').val(),
                           token : $('#token').val()
                           };
                var path = 'index.php?param=HolidayName/add&home=1';

                // データ更新
                setDataForAjax( data, path );

                // 新規登録エリア設定
                setInputArea();

                // コードリスト
                setSearchCodeName();
                // 休日名称リスト更新
                setSearchHolidayName();
            }

            /**
             * 更新用データの設定
             */
            function setModData()
            {
                var objTR = lineInfo.parentNode.parentNode;
                var rowId = objTR.sectionRowIndex + 1;
                var data = null;
                var path = '';
                if( btnInfo === '<?php hsc($Log->getMsgLog("MSG_BASE_0802")); ?>' )
                {
                    path = 'index.php?param=HolidayName/mod&home=1';
                }
                else
                {
                    path = 'index.php?param=HolidayName/del&home=1';
                }

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                data = {
                       displayPageNo : displayPageNo,
                       displayRecordCnt : displayRecordCnt,
                       searchCodeName : $('#codeName').val(),
                       searchOrganizatioID : $('#organizationName').val(),
                       searchHolidayName : $('#holidayNameName option:selected').text(),
                       searchDelF : document.getElementById("delF").checked,
                       sortConditions : holidayNameSort,
                       holidayNameID : $('#holidayNameIdMod' + rowId).val(),
                       holidayNameCode : $('#holidayNameCodeMod' + rowId).val(),
                       organizationId : $('#holidayNameOrganizationMod' + rowId).val(),
                       holidayName : $('#holidayNameMod'  + rowId).val(),
                       dispOrder : $('#modDispOrder'  + rowId).val(),
                       updateTime : $('#updateTime'  + rowId).val(),
                       token : $('#token').val()
                       };

                // データ更新
                setDataForAjax( data, path );

               // 新規登録エリア設定
               setInputArea();

                // コードリスト
                setSearchCodeName();
                // 休日名称リスト更新
                setSearchHolidayName();
            }

            /**
             * 更新キャンセル
             */
            function cancel()
            {
                var data = null;
                var path = '';

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                data = {
                       displayPageNo : displayPageNo,
                       displayRecordCnt : displayRecordCnt,
                       searchCodeName : $('#codeName').val(),
                       searchOrganizatioID : $('#organizationName').val(),
                       searchHolidayName : $('#holidayNameName option:selected').text(),
                       searchDelF : document.getElementById("delF").checked,
                       sortConditions : holidayNameSort,
                       token : $('#token').val()
                       };

                // 検索する為、パスを変更する
                path = 'index.php?param=HolidayName/search&home=1';

                // データ更新
                setDataForAjax( data, path );

               // 新規登録エリア設定
               setInputArea();

                // 新規データをクリア
                $('#holidayNameNewCode').val('');
                $('#organizationNewName').val('');
                $('#holidayNameNewName').val('');
                $('#newDispOrder').val('');
            }

            /**
             * 検索用コードリスト更新
             */
            function setSearchCodeName()
            {
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                           displayPageNo : displayPageNo,
                           displayRecordCnt : displayRecordCnt,
                           searchCodeName : $('#codeName').val(),
                           searchOrganizatioID : $('#organizationName').val(),
                           searchHolidayName : $('#holidayNameName option:selected').text(),
                           searchDelF : document.getElementById("delF").checked,
                           sortConditions : holidayNameSort 
                           };

                // 検索用コードリスト更新用パス
                var path = 'index.php?param=HolidayName/searchCodeName&home=1';

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                data = {
                       searchCodeName : $('#codeName').val(),
                       };

                // データ更新
                setDataForAjax( data, path, "jquery-replace-SearchCodeName-ajax" );
            }

            /**
             * 検索用休日名称リスト更新
             */
            function setSearchHolidayName()
            {
                var data = null;
                var path = '';

                // 検索用休日名称リスト更新用パス
                path = 'index.php?param=HolidayName/searchHolidayName&home=1';

                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                data = {
                       searchHolidayName : $('#holidayNameName').val(),
                       };

                // データ更新
                setDataForAjax( data, path, "jquery-replace-SearchHolidayNameName-ajax" );
            }

            /**
             * 新規登録エリア設定
             */
            function setInputArea()
            {
                // POSTメソッドで送るデータを定義します var data = {パラメータ名 : 値};
                var data = {
                           displayPageNo : displayPageNo,
                           displayRecordCnt : displayRecordCnt,
                           searchCodeName : $('#codeName').val(),
                           searchOrganizatioID : $('#organizationName').val(),
                           searchHolidayName : $('#holidayNameName option:selected').text(),
                           searchDelF : document.getElementById("delF").checked,
                           sortConditions : holidayNameSort,
                           holidayNameCode : $('#holidayNameNewCode').val(),
                           organizationId : $('#organizationNewName').val(),
                           holidayName : $('#holidayNameNewName').val(),
                           dispOrder : $('#newDispOrder').val(),
                           token : $('#token').val()
                           };

                // 検索用休日名称リスト更新用パス
                var path = 'index.php?param=HolidayName/inputArea&home=1';

                // データ更新
                setDataForAjax( data, path, "jquery-replace-input-ajax" );
            }
            /**
             * 編集登録時のアクセス権限内組織名の表示
             */
            function setOrganizationMod(rowId)
            {
                var orgVal = $('#holidayNameOrganizationMod' + rowId).val();
                // 表示の切り替え
                $("#holidayNameOrganizationMod" +rowId).prop("required", true);
                $('#holidayNameOrganizationMod' + rowId).val(orgVal);
            }

        </script>
        
    </head>
    <body>
<?php 
if( isset($_GET['home']) ) {
    if( "1" ==  $_GET['home'] ){
        include("../home/View/Common/PageHeader.php");
    }else{
        include("Common/PageHeader.php");
    }
}else{
        include("Common/PageHeader.php");
}
?>
        <!-- Site -->
        <div id="sb-site" style="overflow: auto;">
            <!-- パンくずリスト -->
            <?php include("Common/Breadcrumb.php"); ?>
            <form id="searchForm" name="searchForm" method="POST" action="index.php?param=HolidayName/search&home=1">
                <input type="hidden" name="companyID" value="<?php hsc( $_SESSION['COMPANY_ID'] ); ?>">
                <!-- serchBoardArea -->
                <div class="serchBoardArea" style="width:99%; margin:5px auto !important; background-color: #ffffff">
                    <table>
                        <tbody>
                            <tr>
                                <th style="width:110px"><?php hsc($Log->getMsgLog('MSG_BASE_0854')); ?></th><!-- 組織名 -->
                                <td style="width:220px">
                                    <?php include("../FwCommon/View/SearchOrganizationName.php"); ?>
                                </td>
                                <th style="width:110px"><?php hsc($Log->getMsgLog('MSG_BASE_0851')); ?></th><!-- コード -->
                                <td style="width:110px">
                                    <?php include("../FwCommon/View/SearchCodeName.php"); ?>
                                </td>
                                <th style="width:110px"><?php hsc($Log->getMsgLog('MSG_BASE_0863')); ?></th><!-- 休日名称 -->
                                <td style="width:110px">
                                    <?php include("Common/SearchHolidayNameName.php"); ?>
                                </td>
                                <th style="width:110px"><?php hsc($Log->getMsgLog('MSG_BASE_0927')); ?></th><!-- 削除を表示 -->
                                <td style="width:110px"><input type="checkbox" name="delF" id="delF" /> <?php hsc($Log->getMsgLog('MSG_BASE_0899')); ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.serchBoardArea -->

                <!-- serchButtonArea -->
                <div class="serchButtonArea">
                    <p align=center>
                        <input type="submit" id="search" name="search" href="#" value="検索" class="serch" />
                    </p>
                </div><!-- /.serchButtonArea -->
            </form>
        
            <form id="modForm" name="modForm" >
                <?php include("HolidayNameTablePanel.html"); ?>
            </form>
            
            <form id="addForm" name="addForm">
                <?php include("HolidayNameInputPanel.html"); ?>
            </form>

          
        </div><!-- /.sb-site -->

        <?php include("../FwCommon/View/Dialog.php"); ?>
    </body>
</html>
