/*============================================
    IME設定
============================================*/
.Em {
    ime-mode: active; /* 全角 */
}
.En {
    ime-mode: inactive; /* 半角 */
}


/*============================================
    入力画面追加ボタン押下時
============================================*/
#appAddTbody tr:first-child {
	display: none;
}

#allAddTbody tr:first-child {
	display: none;
}

/*============================================
    画面サイズの設定(横：1280px対応用)
============================================*/
.screenSize {
    width:1230px;
    margin:5px auto !important;
}
